@import '../../../../../assets/styles/config.scss';

.MissionMap2 {
  .Hud {
    // Disable pointer events for root element
    // to prevent interference with interfacing
    // with the mission map via the mouse.
    pointer-events: none;

    box-sizing: border-box;
    position: absolute;
    z-index: $z-map-hud;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-main;

    * {
      // Enable pointer events for all children
      // to allow interfacing with the UI elements
      // themselves.
      pointer-events: auto;
    }
  }
}
