@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.MissionMap2 {
  .Hud {
    // Disable pointer events for root element
    // to prevent interference with interfacing
    // with overlapped elements via the mouse.
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    z-index: $z-map-hud;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-main;

    // Default font-size for HUD elements.
    font-size: 16px;

    * {
      // Enable pointer events for all children
      // to allow interfacing with the UI elements
      // themselves.
      pointer-events: auto;
    }

    > * {
      position: absolute;
    }

    .Title {
      // Position the title at the top
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      top: 0;

      user-select: none;
      box-sizing: border-box;
      opacity: 0.95;
      overflow: hidden;
      border: 2px solid $color-main;
      border-top: none;
      width: fit-content;
      max-width: 65%;
      padding: 0.75em;
      background-color: $background-alt1;
      font-size: 1em;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: 0.04em;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ButtonSVGPanel {
      // Remove top rule set in base ButtonSVGPanel
      // styles.
      top: unset;

      // Position the SVG panel at the bottom
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      bottom: 0;

      &.map-is-zoomed-in {
        .ButtonSVG.zoom-in {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      &.map-is-zoomed-out {
        .ButtonSVG.zoom-out {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .glue {
        transition: 250ms background-color;
        border: 2px solid $color-main;
        border-bottom: none;
        border-radius: 0;

        .ButtonSVG {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
  }
}
