@import '../../../../../assets/styles/config.scss';

.ListProcessor {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  min-width: 2em;
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.SearchActive {
    min-width: 10em;

    .SearchBox {
      display: grid;
    }
  }

  .SearchBox {
    display: none;
    grid-template-columns: 0 auto 0;
    align-items: center;
    width: 100%;
    height: 100%;

    .SearchIcon {
      z-index: 5;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      position: relative;
      margin: 0;
      width: 2em;
      height: 100%;
      background-image: url('/assets/images/icons/search.svg');
      background-position: 1em center;
      background-size: 50%;
      background-repeat: no-repeat;
      filter: unset;
    }

    .SearchField,
    .SearchHint {
      box-sizing: border-box;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0;
      border: none;
      width: 100%;
      height: 100%;
      padding: 0.325em 2em 0.325em 3em;
      background: none;
      font-family: 'monospace', sans-serif;
      font-size: 0.95em;
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color-primary-light;
    }

    .SearchHint {
      pointer-events: none;
      opacity: 0.45;
    }

    .SearchField {
      border-radius: 1em;
      transition: 200ms background-color;
      background-color: $color-secondary;

      &:focus {
        outline: none;
        background-color: rgba(#ffffff, 0.175);
      }
    }

    .ButtonSvg_close {
      position: relative;
      right: 1.5em;
      transform: scale(0.725);
    }

    .Tooltip {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }
}
