@import 'src/assets/styles/config.scss';

.ListNav {
  $header-min-width: 6em;

  box-sizing: border-box;
  display: grid;

  grid-template-columns:
    fit-content(100vw) repeat(var(--auto-column-count), auto)
    1fr;

  overflow: hidden;
  align-items: center;
  column-gap: 0.5em;
  width: 100%;
  height: 3em;
  padding: 1em 1em 0;

  &.OverflowMaxed {
    grid-template-columns: 1fr repeat(var(--auto-column-count), auto) auto;

    .ListButtons {
      width: 0;
    }

    .ListHeader {
      width: unset;
    }
  }

  &:not(.Overflowing) {
    .ListOverflow {
      display: none;
    }
  }

  > * {
    height: 2em;
    box-sizing: border-box;
  }

  .ListHeader {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    height: 2em;
    width: fit-content;
    border-radius: 1em;
    padding: 0;
    background-color: transparent;

    .ListHeading {
      overflow: hidden;
      margin: 0;
      padding: 0 0.1em;
      background-color: transparent;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.1em;
      font-weight: bold;
    }
  }

  .ListOverflow {
    display: flex;
    align-items: center;

    .SvgPanelElement {
      transition: 200ms transform ease-in-out;

      &.Active {
        transform: scale(1);
      }
      &.Inactive {
        transform: scale(0);
      }
    }
  }
}
