@use 'src/assets/styles/config.scss' as *;

.TimelineItemCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0.35em 0 0.35em 1rem;
  color: rgba($color-primary-light, 0.9);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75em;
  line-height: 2em;
}
