@use 'sass:color';

/* -- COLORS -- */

$color-primary: #0c1928;
$color-primary-dark: color.adjust($color-primary, $lightness: -4%);
$color-primary-light: color.adjust($color-primary, $lightness: 80%);

$color-secondary: #1b2937;
$color-secondary-light: color.adjust($color-secondary, $lightness: 40%);

$color-accent: #3bfce8;
$color-accent-light: color.adjust($color-accent, $lightness: 30%);
$color-accent-dark: color.adjust($color-accent, $lightness: -54.5%);

$color-success: #65eb59;
$color-success-dark: color.adjust($color-success, $lightness: -53%);

$color-failure: #ff4359;
$color-failure-light: color.adjust($color-failure, $lightness: 18%);
$color-failure-dark: color.adjust($color-failure, $lightness: -49%);

$color-neutral: #ecff43;
$color-neutral-dark: color.adjust($color-neutral, $lightness: -47%);

$color-faded: rgba($color-primary-light, 0.5);

/* -- FONTS -- */

$font-family-primary: monospace, sans-serif;

/* -- POSITIONING -- */

// z-index | mission map
$z-map-tab-bar-controls: 1;
$z-map-pan-ctrl-inactive: 2;
$z-map-scene: 3;
$z-map-hud: 4;
$z-map-pan-ctrl-active: 5;
$z-map-overlay: 6;

$z-index-pending-modal: 45;
$z-index-navigation: 50;
$z-index-file-drop-box: 60;
$z-index-connection-status: 65;
$z-index-notifications: 75;
$z-index-error-page: 80;
$z-index-loading-page: 90;
$z-index-confirmation: 100;
$z-index-context-blocker: 200;
$z-index-context-pop-up: 201;
$z-index-tooltips: 250;

/* -- SIZING -- */

// navigation height
$nav-height: 90px;
$button-svg-size: 24px;
