/* -- COLORS -- */

$color-primary: #0c1928;
$color-primary-dark: darken($color-primary, 4%);
$color-primary-light: lighten($color-primary, 80%);

$color-secondary: #1b2937;

$color-accent: #3bfce8;
$color-accent-light: lighten($color-accent, 30%);
$color-accent-dark: darken($color-accent, 54.5%);

$color-success: #65eb59;
$color-success-dark: darken($color-success, 53%);

$color-failure: #ff4359;
$color-failure-light: lighten($color-failure, 18%);
$color-failure-dark: darken($color-failure, 49%);

$color-neutral: #ecff43;
$color-neutral-dark: darken($color-neutral, 47%);

$color-text-faded: rgba($color-primary-light, 0.5);

/* -- FONTS -- */

$font-family-primary: monospace, sans-serif;

/* -- POSITIONING -- */

// z-index | mission map
$z-map-tab-bar-controls: 1;
$z-map-pan-ctrl-inactive: 2;
$z-map-scene: 3;
$z-map-hud: 4;
$z-map-pan-ctrl-active: 5;
$z-map-overlay: 6;

$z-index-navigation: 50;
$z-index-file-drop-box: 60;
$z-index-connection-status: 65;
$z-index-notifications: 75;
$z-index-error-page: 80;
$z-index-loading-page: 90;
$z-index-confirmation: 100;
$z-index-context-blocker: 200;
$z-index-context-pop-up: 201;
$z-index-tooltips: 250;

/* -- SIZING -- */

// navigation height
$nav-height: 90px;
$button-svg-size: 24px;
