// Base colors
$background-main: #292f36;
$color-main: #ffffff;
$color-faded: rgb(195, 154, 154);
$color-negative: #000;
$background-alt1: #1a2a1a;
$background-alt2: #333347;
$background-alt3: #420002;
$background-alt4: #231d20;
$background-alt5: #616060;
$background-alt6: #d6d0c9;
$background-alt7: #272736;
$background-alt8: #0d1a27;
$background-alt9: #0d1a27e6;
$background-alt10: RGB(13, 26, 39);
$box-shadow-main: inset 100vw 0 0 0 RGBA(13, 26, 39, 0.4);
$box-shadow-alt1: inset 100vw 0 0 0 RGBA(13, 26, 39, 0.8);
$box-shadow-alt2: inset 100vw 0 0 0 RGBA(13, 26, 39, 0.9);
$box-shadow-alt3: inset 100vw 0 0 0 RGBA(13, 26, 39, 1);
$box-shadow-alt4: inset 100vw 0 0 0 rgba(39, 39, 54, 0.25);
$box-shadow-alt5: inset 100vw 0 0 0 rgba(39, 39, 54, 0.8);
$box-shadow-alt6: inset 100vw 0 0 0 rgba(39, 39, 54, 0.9);
$box-shadow-alt7: inset 100vw 0 0 0 rgba(39, 39, 54, 1);
$background-color-negative: #dfdfff;
$color-accent: #5fc9be;
$color-accent-light: #b6fff8;
$color-accent-dark: #0c8b7e;
$color-pointer-mark: #b5b5b5;
$color-error: $color-main;
$color-error-faded: $color-main;
$color-error-alt: #ff84a3;
$color-error-alt2: #b73e6a;
$color-error-alt3: #642039;
$color-correct: #6ce5b0;
$color-correct-alt: #43c0ad;
$color-correct-alt2: #1d3935;

// Map properties.
$map-grid-color: rgba(#fff, 0.15);

// MDL application color scheme
// Terminal color schemes
$terminal: #3bfce8;
$terminal-green: #65eb59;
$terminal-yellow: #f7e346;
$terminal-blue: #34a1fb;
$terminal-pink: #fa39ac;
$terminal-khaki: #fdd496;
$terminal-purple: #dea3ff;
$terminal-red: #f9484f;
$terminal-orange: #ffab50;

// Node color schemes
$node-green: #64a95e;
$node-yellow: #b4a956;
$node-blue: #537693;
$node-pink: #ab5e8c;
$node-brown: #968975;
$node-purple: #745d82;
$node-red: #8a2e32;
$node-orange: #bc842d;

// Indicates if the node succeeded or failed
$terminal-fail: #ff000a;
$terminal-success: #65eb59;
$node-fail: $background-alt3;
$node-success: #223e20;

// Used for the linear gradient that is used for the
// loading (processing) bar
$loading-1: #6f6405;
$loading-2: #92881a;

// Used for when a node is opened
$node-opened: #9da39a;

// Used to color different map modes.
$background-creation-mode: rgba($node-blue, 0.2);

// Distinguishes if a node is executable or not
$border-color-main: #00d7ff;

// z-index

// z-index | mission map
$z-map-pan-ctrl-inactive: 1;
$z-map-scene: 2;
$z-map-hud: 3;
$z-map-pan-ctrl-active: 4;
$z-map-overlay: 5;

// todo: delete these
$z-index-objective-map-pointers: 8;
$z-index-objective-map-navigation: 10;
$z-index-objective-map-item: 15;
$z-index-objective-map-header: 20;
$z-index-objective-map-prompt: 20;
$z-index-objective-map-field-entry: 75;
$z-index-objective-map-more-info: 25;

$z-index-action-panel: 50;
$z-index-file-drop-box: 60;
$z-index-connection-status: 65;
$z-index-notifications: 75;
$z-index-confirmation: 100;
$z-index-tooltips: 250;

// navigation height
$nav-height: 50px;
