@use './config.scss' as *;
@forward './config.scss';

@mixin hide() {
  pointer-events: none !important;
  opacity: 0 !important;
  position: absolute !important;
  top: -200vh !important;
  left: -200vw !important;
}

@mixin disabled() {
  cursor: default !important;
  opacity: 0.35 !important;
  user-select: none !important;
  pointer-events: none !important;
}

@mixin partially-disabled() {
  cursor: not-allowed !important;
  opacity: 0.35 !important;
  user-select: none !important;
  filter: none !important;

  &:hover {
    opacity: 0.35 !important;
  }
}

/**
* Applies a background mask to the element.
* @param {color} $color - The color to use for the background mask, defaults to the accent color.
* @param {number} $opacity - The opacity of the background mask, defaults to 0.1.
* @includes An inset box shadow with the provided color, modified by the provided opacity.
*/
@mixin background-mask($color: $color-accent, $opacity: 0.1) {
  box-shadow: inset 0 0 0 10000px rgba($color, $opacity);
}

/**
 * Applies an "x" linear gradient overlay to the element.
*/
@mixin x-gradient {
  $opacity: 0.5;
  $gradient-color: rgba($color-accent-light, $opacity);
  $fill: transparent 0% calc(50% - 1px),
    $gradient-color calc(50% - 1px) calc(50% + 1px),
    transparent calc(50% + 1px) 100%;
  $linear-grad1: linear-gradient(to bottom right, $fill);
  $linear-grad2: linear-gradient(to bottom left, $fill);
  $background-image: $linear-grad1, $linear-grad2;

  background-image: $background-image;
  opacity: $opacity;
}

/**
 * Applies a background image to the element.
 * The image used depends on whether the element has
 * the BackgroundImageSmall or BackgroundImageLarge class.
 */
@mixin background-image {
  &.BackgroundImageSmall {
    background-image: linear-gradient(
        to bottom right,
        transparent 0% 70%,
        rgba(#fff, 0.1) 100%
      ),
      url('../images/landing-page-img-small.webp');
  }

  &.BackgroundImageLarge {
    background-image: linear-gradient(
        to bottom right,
        transparent 0% 70%,
        rgba(#fff, 0.1) 100%
      ),
      url('../images/landing-page-img.webp');
  }

  background-size: 100% 47.34%;
  background-position: center;
  background-repeat: repeat;
}

// An animation which will make the opacity
// of an element pulse to draw attention to it.
@mixin pulse {
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    18% {
      opacity: 1;
    }
    50% {
      opacity: 0.55;
    }
    82% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  animation: pulse 3s infinite;
}
