@mixin hide() {
  pointer-events: none !important;
  opacity: 0 !important;
  position: absolute !important;
  top: -200vh !important;
  left: -200vw !important;
}

@mixin disabled() {
  cursor: default !important;
  opacity: 0.35 !important;
  user-select: none !important;
  pointer-events: none !important;
}

@mixin partially-disabled() {
  cursor: not-allowed !important;
  opacity: 0.35 !important;
  user-select: none !important;
  filter: none !important;

  &:hover {
    opacity: 0.35 !important;
  }
}
