@import 'src/assets/styles/config.scss';

.EntryNavigation {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.25em;
  align-items: center;

  .BackButton {
    border: 2px solid $color-primary-light;
    border-radius: 50%;
    background-color: $color-accent-dark;
    text-align: center;
    width: 22px;
    height: 22px;
    font-size: 1.1em;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  .Path {
    margin: 0;
    font-size: 0.75em;
    width: 97%;
    max-height: 50px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    color: $color-primary-light;

    .Label {
      display: inline;
    }

    .Positions {
      display: inline;

      .Position {
        color: $color-primary-light;

        .Text {
          font-style: italic;
          color: $color-accent;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
