@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Rancho/Rancho-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  color: $color-primary-light;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $color-secondary;
  margin: 0;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: $color-primary-light $color-primary-dark;

  ::-webkit-scrollbar {
    background: $color-primary-dark;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-primary-light;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: content-box;
    border: 4px solid transparent;
    min-height: 50px;
  }
}

input,
button {
  font-family: $font-family-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PartiallyDisabled {
  @include partially-disabled();
}

.Disabled,
:disabled {
  @include disabled();
}

.Hidden {
  @include hide();
}

.Close {
  position: sticky;
  top: 0px;
  display: grid;
  justify-content: end;
  padding: 15px 0 20px;
  z-index: 2;

  .CloseButton {
    position: relative;
    border: 2px solid $color-primary-light;
    border-radius: 50%;
    width: 22px;
    height: 21px;
    background-color: $color-accent-dark;
    text-align: center;
    line-height: 1.1em;

    &:hover {
      cursor: pointer;
    }
  }
}
