
# packages
/node_modules
/server/node_modules
/server/tests/node_modules
/client/node_modules
/shared/node_modules
npm-debug.log*
/coverage
/server/.nyc_output
/server/.nyc_output/processinfo

# react
/client/build

# env
.DS_Store
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
environment.json
environment-test.json
.vscode
/integration/target-env/**
!/integration/target-env/.gitkeep
!/integration/target-env/tsconfig.json
/integration/library/node_modules


# log
/server/logs
*.log

# temp
/server/temp
docker-compose.yml

# backup
/server/database/backups

# file store
/server/files/store

# user data for importing
/server/database/scripts/**/*.csv