
# Node
node_modules
npm-debug.log*

# React
/client/build
/client/dist

# Environment
.DS_Store
*.env
!*.defaults.env
.env.local
.env.development.local
.env.test.local
.env.production.local
environment.json
environment-test.json
/integration/target-env/**
!/integration/target-env/.gitkeep
!/integration/target-env/global.ts
!/integration/target-env/tsconfig.json
!/integration/target-env/metis/
!/integration/target-env/metis/**

# Deployment
/deployment/docker/.out

# Logging
/server/logs
*.log

# Temp
/server/temp

# Backup
/server/database/backups

# File stores
/server/files/store
/server/files/store-dev
/server/files/store-test

# Script IO data
/server/database/scripts/**/*.csv

# GitHub Copilot (A.I. agent)
.github/*
!.github/copilot-instructions.md
