
# packages
/node_modules
npm-debug.log*
/coverage
/.nyc_output
/.nyc_output/processinfo

# react
/build

# env
.DS_Store
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
environment.json
environment-test.json

# log
/logs
*.log

# temp
/temp
