@import 'src/assets/styles/config.scss';

.ButtonSVG {
  $border-radius: 15px;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 500ms transform, 500ms background-size, 500ms background-position,
    500ms opacity;
  margin: 0 5px;
  border: 3px solid $color-main;
  border-radius: $border-radius;
  width: 40px;
  height: 38px;
  padding-left: 0.75px;
  background-color: $background-alt1;

  &.add {
    background: url('/assets/images/icons/add.svg'), $background-alt1;
    background-position: 11.5px 10.5px;
    background-size: 17px 17px;
    background-repeat: no-repeat;
  }

  &.cancel {
    background: url('/assets/images/icons/cancel.svg'), $background-alt1;
    background-position: 11.5px 10.5px;
    background-size: 17px 17px;
    background-repeat: no-repeat;
  }

  &.edit {
    background: url('/assets/images/icons/edit.svg'), $background-alt1;
    background-position: 11.5px 10.5px;
    background-size: 17px 17px;
    background-repeat: no-repeat;
  }

  &.remove {
    background: url('/assets/images/icons/remove.svg'), $background-alt1;
    background-position: 12.5px 11px;
    background-size: 17px 17px;
    background-repeat: no-repeat;
  }

  &.down {
    background: url('/assets/images/icons/down.svg'), $background-alt1;
    background-position: 5.4px 9.5px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }

  &.reorder {
    background: url('/assets/images/icons/reorder.svg'), $background-alt1;
    background-position: 12px 11px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }

  &.zoom-in {
    cursor: zoom-in;
    background: url('/assets/images/icons/zoom-in.svg'), $background-alt1;
    background-position: 10px 8.5px;
    background-size: 21px 21px;
    background-repeat: no-repeat;
  }

  &.zoom-out {
    cursor: zoom-out;
    background: url('/assets/images/icons/zoom-out.svg'), $background-alt1;
    background-position: 10px 8.5px;
    background-size: 21px 21px;
    background-repeat: no-repeat;
  }

  &.save {
    background: url('/assets/images/icons/save.svg'), $background-alt1;
    background-position: 9.5px 8px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
  }

  &.copy {
    background: url('/assets/images/icons/copy.svg'), $background-alt1;
    background-position: 11.5px 10.5px;
    background-size: 17px 17px;
    background-repeat: no-repeat;
  }

  &.upload {
    background: url('/assets/images/icons/upload.svg'), $background-alt1;
    background-position: 8.4px 9.5px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }

  &.download {
    background: url('/assets/images/icons/download.svg'), $background-alt1;
    background-position: 7.5px 12.5px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }

  &.search {
    background: url('/assets/images/icons/search.svg'), $background-alt1;
    background-position: 9px 8px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }
}
