@import 'src/assets/styles/config.scss';

.ButtonSvg {
  $border-radius: 15px;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 500ms transform, 500ms background-size, 500ms background-position,
    500ms opacity;
  border-radius: $border-radius;
  width: 1em;
  height: 0.96em;

  &.small {
    margin: 0 0.2em;
    font-size: $button-svg-small-size;

    &:hover {
      filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(117deg)
        brightness(200%) contrast(98%);
    }
  }

  &.regular {
    margin: 0 0.25em;
    border: 3px solid $color-main;
    font-size: $button-svg-regular-size;
  }

  &.lock:hover {
    cursor: help;
    filter: none;
  }

  &.zoom-in {
    cursor: zoom-in;
  }

  &.zoom-out {
    cursor: zoom-out;
  }

  &.partiallyDisabled {
    opacity: 0.35;
    filter: none !important;
  }
}
