@import 'src/assets/styles/config.scss';

.ButtonText {
  cursor: pointer;
  pointer-events: all;
  display: inline-block;
  margin: 5px 0 0;

  .Text {
    color: $color-accent-light;
    font-weight: 400;
  }

  .Bracket {
    opacity: 0;
    color: $color-main;
  }

  .LeftBracket {
    padding-right: 8px;
  }

  .RightBracket {
    padding-left: 7px;
  }

  &:hover {
    .Bracket {
      opacity: 1;
    }
  }
}
