@import 'src/assets/styles/config.scss';

.MissionModificationPanel {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: fit-content;
  height: 40px;

  .Toggle {
    margin-left: 5px;
    background-color: transparent;

    &.Activated {
      border-color: $terminal;
      .Switch {
        background-color: $terminal;
      }
    }

    .Switch {
      background-color: white;
    }

    &.Activated:hover {
      border-color: $terminal;
      .Switch {
        background-color: $terminal;
      }
    }
    &.Locked {
      cursor: pointer;
    }
  }
}
