@use 'src/assets/styles/config.scss' as *;

.Toggle {
  $toggle-height: 22px;
  $switch-height: 12px;
  $border-height: 2px;

  cursor: pointer;
  box-sizing: border-box;
  vertical-align: bottom;
  border: $border-height solid $color-primary-light;
  border-radius: 25px;
  width: 45px;
  height: $toggle-height;
  padding-top: calc(
    ((#{$toggle-height} - #{$switch-height}) / 2) - #{$border-height}
  );
  background-color: $color-accent-dark;

  &:not(.Activated) {
    .Switch {
      position: relative;
      left: 5px;
      transform: scale(0.65);
    }
  }

  &.Activated {
    .Switch {
      position: relative;
      left: $toggle-height;
      transform: scale(1.15);
    }
  }

  &.Locked {
    cursor: default;
    opacity: 0.5;
  }

  .Switch {
    transition: 200ms left, 200ms transform;
    border-radius: 20px;
    width: $switch-height;
    height: $switch-height;
    background-color: $color-accent;
  }
}
