@import 'src/assets/styles/config.scss';

.UserModificationPanel {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: fit-content;
  height: 40px;
}
