@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.Page.AuthPage {
  grid-template-rows: unset;

  .Login {
    $border: 2px solid $color-accent;
    padding: 0 0 150px;

    .ErrorMessage {
      margin: 0 auto;
      width: 425px;
      height: 40px;
      padding: 0 0 40px;
      font-size: 15.5px;
    }

    .Branding {
      width: 300px;
      margin: 0 auto 10px;
    }

    .Form {
      margin: 0 auto 0;
      width: 300px;

      .Detail {
        .Field {
        }
      }

      .AlternateOption {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        margin: 16.5px 0 50px;
        grid-column: 1 / 3;
        color: $color-accent;
        font-size: 14px;
      }
    }
  }
}
