@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.Page.ErrorPage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-error-page;
  transition: opacity 600ms;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: calc(50vh - 125px) 0 0;
  text-align: center;
  grid-template-rows: unset;
  align-items: unset;
  grid-template-rows: auto auto 1fr;
  background: linear-gradient(
      to bottom right,
      transparent 0% 70%,
      rgba(#fff, 0.1) 100%
    ),
    url('/assets/images/landing-page-img.png');
  background-size: 100% 47.34%, 100% 47.34%;
  background-position: center;
  background-repeat: repeat;

  @include background-mask($color-primary-dark, 0.7);

  .Message {
    margin-top: 40px;
    font-size: 17px;
    max-width: 800px;
    line-height: 1.8rem;
  }

  .Buttons {
    margin: 25px 0 0;

    .ButtonText {
      margin: 4px;
    }
  }
}
