@import 'src/assets/styles/config.scss';

.Page.ErrorPage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-error-page;
  transition: opacity 600ms;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: calc(50vh - 125px) 0 0;
  text-align: center;
  grid-template-rows: unset;
  align-items: unset;
  grid-template-rows: auto auto 1fr;

  .Message {
    margin-top: 40px;
    font-size: 17px;
  }

  .Buttons {
    margin: 25px 0 0;

    .ButtonText {
      margin: 4px;
    }
  }
}
