@import 'src/assets/styles/config.scss';

.GamePage {
  $page-padding-top: 0px;
  $page-padding-bottom: 35px;
  $page-horizontal-padding: 0px;
  $page-width: calc(100vw - #{$page-horizontal-padding * 2});
  $page-height: calc(100vh - #{$page-padding-top + $page-padding-bottom});
  $page-row-1-height: 95px;
  $page-row-2-height: calc(#{$page-height} - #{$page-row-1-height});
  $resource-n-action-height: 55px;
  $map-n-output-height: calc(
    #{$page-row-2-height} - #{$resource-n-action-height}
  );
  $node-action-width: 400px;
  $content-horizontal-padding: 30px;
  $content-vertical-padding: 0px;
  $content-width: calc(#{$page-width} - #{$content-horizontal-padding * 2});

  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  width: $page-width;
  height: $page-height;
  grid-template-columns: $page-width;
  grid-template-rows: $page-row-1-height $page-row-2-height;
  margin: 0 auto;
  padding: $page-padding-top $page-horizontal-padding $page-padding-bottom;
  background: url('../../assets/images/landing-page-img.png');
  background-size: 100% 120%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: $box-shadow-alt1;

  .Navigation {
    $nav-vertical-padding: 15px;
    $nav-horizontal-padding: 30px;

    grid-template-columns: auto 190px 120px;
    width: calc($page-width - $nav-horizontal-padding * 2);
    padding: $nav-vertical-padding $nav-horizontal-padding;

    .Branding {
      margin: 0;
    }
  }

  .Content {
    $content-row-1-height: 53px;

    display: grid;
    grid-template-rows: $content-row-1-height auto;
    width: $content-width;
    height: $page-row-2-height;
    padding: $content-vertical-padding $content-horizontal-padding;

    .TopBar {
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;

      .Resources {
        box-sizing: border-box;
        align-items: center;
        cursor: default;
        margin-right: auto;
        height: 40px;
        padding: 10px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.RedAlert {
          color: $terminal-red;
        }
      }

      .Status {
        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        cursor: help;
        display: grid;
        grid-template-columns: 1fr auto;

        // Non-overflow messages only.
        & > .Message,
        .Indicator {
          margin: 9px;
          height: 22px;
          line-height: 22px;
        }

        // Non-overflow messages only.
        & > .Message {
          text-align: right;
        }

        .Indicator {
          box-sizing: border-box;
          width: 22px;
        }

        .Overflow {
          grid-column: 1 / 3;
          position: relative;
          z-index: $z-index-tooltips;
          border: 2.5px solid $color-main;
          border-radius: 10px;
          padding: 12px 20px 20px;
          background-color: rgba($background-alt1, 0.925);

          .Heading {
            margin: 1.25em 0 0.5em;
            font-size: 1.1em;
            font-weight: 700;
          }

          .Connection {
            display: grid;
            grid-template-columns: 1fr auto;
            row-gap: 1.25em;

            .Heading {
              margin-top: 0.6em;
              margin-bottom: 0;
            }

            .Status {
              display: inline-block;
              position: relative;
              margin: 0.3em 0.75em 0;
              padding: 0.25em 0.55em 0.25em;
              font-style: italic;
              background-color: rgba($background-alt2, 0.65);
              border: 2px solid rgba($color-accent-light, 0.45);
              border-radius: 7px;
            }

            .Message {
              grid-column: 1 / 3;
            }
          }

          .PendingTasks {
            .Messages {
              display: flex;
              flex-direction: column-reverse;
              margin: 0;
              padding: 0;

              .Message {
                margin: 0.4em 0;
                padding: 0;
                list-style-position: inside;
              }
            }
          }
        }

        // Hide the overflow when the status is not
        // hovered upon.
        &:not(:hover) {
          .Overflow {
            display: none;
          }
        }

        // Style for when the status is open and has no pending
        // requests with the server.
        &.Open:not(.Pending) .Indicator {
          background-color: $color-correct-alt;
          border-radius: 50%;
          border: 2px solid white;
        }

        // Style for when the client has a pending request with
        // the server or when the connection has dropped and is
        // reconnecting.
        &.Pending .Indicator,
        &.Connecting .Indicator {
          background: url(../../assets/images/icons/pending.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          animation-name: rotate;
          animation-duration: 1s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }

        // Style for when the connection has dropped and is
        // not reconnecting (Theoretically, this should never
        // happen).
        &.Closed .Indicator {
          background-color: $color-error-alt2;
          border-radius: 50%;
          border: 2px solid white;
        }
      }

      .MissionModificationPanel {
        grid-column: 1 / 3;
        margin-left: auto;
        padding-bottom: 15px;
      }
    }

    .PanelSizeRelationship {
      &,
      .ResizablePanel,
      .ResizeBar,
      .MissionMap,
      .OutputPanel {
        height: $map-n-output-height;
      }

      .ResizablePanel:first-child {
        display: grid;
        align-items: center;

        .MissionMap,
        .NodeActions,
        .ExecuteNodePath {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
      }
    }

    .MissionMap {
      width: 100%;
      height: 100%;

      .ButtonSVGPanel {
        .glue {
          box-shadow: $box-shadow-alt2;

          .ButtonSVG {
            &.cancel {
              padding-left: 0;
              padding-top: 0.75px;
              height: 37px;
            }
          }
        }
      }
    }

    .OutputPanel {
      width: 100%;
      height: 100%;
      box-shadow: $box-shadow-alt2;
    }
    .NodeActions {
      position: relative;
      max-height: 310px;
    }

    .ExecuteNodePath {
      position: relative;
      min-height: 320px;
      max-height: 60%;
    }
  }
}
