@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

.Page.HomePage {
  display: grid;
  place-items: center;
  align-content: space-between;
  min-height: 100vh;
  margin: 0;

  &.DropPending {
    .FileDropBox {
      opacity: 0.65;

      .UploadIcon {
        transform: scale(1);
      }
    }
  }

  &:not(.DropPending) {
    .FileDropBox {
      opacity: 0;

      .UploadIcon {
        transform: scale(0.65);
      }
    }
  }

  .FileDropBox {
    display: grid;
    pointer-events: none;
    place-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: $z-index-file-drop-box;
    top: 0;
    left: 0;
    transition: opacity 175ms;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $color-accent;

    .UploadIcon {
      transition: transform 175ms;
      width: 250px;
      height: 250px;
      background: url('/assets/images/icons/upload.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .Content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    width: 100%;
    height: 100%;
    padding: 2em;

    &:has(> .List:only-child) {
      justify-content: center;
      grid-template-columns: 1fr;
    }

    @media (max-width: 1000px) {
      justify-content: center;
      grid-template-columns: 1fr;
    }
  }
}
