@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

.Page.HomePage {
  display: grid;
  place-items: center;
  align-content: space-between;
  min-height: 100vh;
  margin: 0;

  &.DropPending {
    .FileDropBox {
      opacity: 0.65;

      .UploadIcon {
        transform: scale(1);
      }
    }
  }

  &:not(.DropPending) {
    .FileDropBox {
      opacity: 0;

      .UploadIcon {
        transform: scale(0.65);
      }
    }
  }

  .FileDropBox {
    display: grid;
    pointer-events: none;
    place-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: $z-index-file-drop-box;
    top: 0;
    left: 0;
    transition: opacity 175ms;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $color-accent;

    .UploadIcon {
      transition: transform 175ms;
      width: 250px;
      height: 250px;
      background: url('/assets/images/icons/upload.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .Content {
    $max-width: 1600px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: $max-width;

    &:has(> .ListContainer:only-child) {
      justify-content: center;
      grid-template-columns: 1fr;
      max-width: $max-width / 2;
    }

    @media (max-width: 1000px) {
      justify-content: center;
      grid-template-columns: 1fr;
      max-width: $max-width / 2;
    }

    .ListContainer {
      margin: 5px 20px 0;

      .AltDesign1-list {
        width: unset;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;

        .items {
          .item {
            .SelectionRow {
              display: grid;
              grid-template-columns: 1fr auto;

              &.Session {
                grid-template-columns: 2em 1fr auto;
              }

              .Accessibility {
                height: 1.15em;
                filter: invert(68%) sepia(94%) saturate(70%) hue-rotate(117deg)
                  brightness(200%) contrast(98%);

                &.id-required {
                  background: url('/assets/images/icons/hidden.svg');
                  background-size: contain;
                  background-position: left center;
                  background-repeat: no-repeat;
                }

                &:not(.id-required) {
                  user-select: none;
                  pointer-events: none;
                }
              }

              .Text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 10px;
              }
            }
          }
        }
      }

      .ListActions {
        display: flex;
        place-content: center;
        flex-flow: row wrap;
        min-height: 70px;
        box-sizing: border-box;
        background-color: black;
        border: 3px solid white;
        border-top: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 10px 0;

        .ButtonSvg {
          transform: scale(0.8);
        }
      }
    }

    .ManualJoin {
      display: flex;
      place-items: center;
      column-gap: 1em;
      padding: 0 20px;

      .Label,
      .ButtonText {
        width: 8.25rem;
      }

      .Label {
        font-size: 0.8rem;
      }

      .ButtonText {
        margin: 0;
      }

      .Detail {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
        min-width: unset;

        .TitleRow {
          display: none;
          grid-template-columns: unset;
          margin: 0;
        }

        .Field {
          box-shadow: unset;
          border-radius: 10px;
          height: 28px;
          padding: 5px;
          color: black;
          font-family: 'monospace', sans-serif;
          background-color: #ffffff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          opacity: 0.45;
          box-sizing: border-box;
          outline: none;
          transition: 200ms opacity;
          border: none;
          margin: 0;
          width: 100%;
          text-align: left !important;
          font-size: 13.5px;

          &:focus {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
