@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

.Page.HomePage {
  display: grid;
  place-items: center;
  align-content: space-between;
  min-height: 100vh;
  margin: 0;

  .Content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    width: 100%;
    height: 100%;
    padding: 2em;

    &:has(> .List:only-child) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 100%;
      max-width: 1050px;
    }

    @media (max-width: 1000px) {
      justify-content: center;
      grid-template-columns: 1fr;
    }
  }
}
