@import 'src/assets/styles/config.scss';

.HomePage {
  display: grid;
  place-items: center;
  align-content: space-between;
  background: url('../../assets/images/landing-page-img.png');
  background-size: 100% 120%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: $box-shadow-main;
  min-height: 100vh;
  margin: 0;

  &.DropPending {
    .FileDropBox {
      opacity: 0.65;

      .UploadIcon {
        transform: scale(1);
      }
    }
  }

  &:not(.DropPending) {
    .FileDropBox {
      opacity: 0;

      .UploadIcon {
        transform: scale(0.65);
      }
    }
  }

  .FileDropBox {
    display: none;
    pointer-events: none;
    place-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: $z-index-file-drop-box;
    top: 0;
    left: 0;
    transition: opacity 175ms;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $color-accent;

    .UploadIcon {
      transition: transform 175ms;
      width: 250px;
      height: 250px;
      background: url('/assets/images/icons/upload.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .Content {
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    width: 50%;

    .GameListContainer,
    .MissionListContainer,
    .UserListContainer {
      display: grid;
      place-items: center;
      width: 95%;

      .AltDesign1-list {
        width: 100%;
      }

      .ListActions {
        display: none;

        place-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        width: 100%;
        min-height: 70px;
        box-sizing: border-box;
        background-color: black;
        border: 3px solid white;
        border-top: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 10px 0;

        .ButtonSVG {
          transform: scale(0.8);
        }
      }
    }

    .UserListContainer {
      display: none;
    }

    .GameListContainer {
      .AltDesign1-list {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
      }

      .item {
        .SelectionRow {
          display: grid;
          grid-template-columns: 1fr auto;
        }

        .Buttons {
          padding-right: 15px;
        }
      }

      .ListActions {
        display: grid;
      }
    }

    .ManualJoin {
      display: flex;
      place-items: center;
      column-gap: 1em;

      .Label,
      .ButtonText {
        width: 6.75rem;
      }

      .Label {
        font-size: 0.8rem;
      }

      .Detail {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
        min-width: unset;

        .TitleContainer {
          display: none;
          grid-template-columns: unset;
          margin: 0;
        }

        .Field {
          box-shadow: unset;
          border-radius: 10px;
          height: 28px;
          padding: 5px;
          color: black;
          font-family: 'monospace', sans-serif;
          background-color: #ffffff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          opacity: 0.45;
          box-sizing: border-box;
          outline: none;
          transition: 200ms opacity;
          border: none;
          margin: 0;
          width: 100%;
          text-align: left !important;
          font-size: 13.5px;

          &:focus {
            opacity: 0.8;
          }
        }
      }

      .ButtonText {
        margin: 0;
      }
    }
  }

  &.InstructorView {
    .FileDropBox {
      display: grid;
    }

    .Content {
      grid-template-columns: 50% 50%;
      width: 100%;

      .UserListContainer {
        display: grid;
      }
    }

    .GameListContainer,
    .MissionListContainer,
    .UserListContainer {
      .AltDesign1-list {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
      }

      .ListActions {
        display: grid;
      }
    }
  }
}

@media (max-width: 1000px) {
  .HomePage {
    .Content {
      grid-template-columns: 90%;
      place-content: center;
    }
  }
}
