@use '../../assets/styles/config.scss' as *;
@use '../../assets/styles/util.scss' as *;

.Page {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  &.DarkPage {
    // Apply an additional background mask to the page,
    // on top of the existing mask applied to the `App`
    // component.
    @include background-mask($color: $color-primary-dark, $opacity: 0.4);
  }
}
