@use '../../assets/styles/config.scss' as *;

.Page.LaunchPage {
  $page-width: 100vw;
  $page-height: 100vh;
  $page-row-1-height: 82px;
  $page-row-3-height: 50px;
  $page-row-2-height: calc(
    $page-height - $page-row-1-height - $page-row-3-height
  );

  overflow: hidden;
  grid-template-rows: $page-row-1-height $page-row-2-height $page-row-3-height;
  width: $page-width;
  height: $page-height;

  .Content {
    $content-vertical-padding: 10px;
    $content-horizontal-padding: 15px;

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 auto;
    height: calc(100% - #{$content-vertical-padding * 2});
    padding: $content-vertical-padding $content-horizontal-padding;
    width: calc(#{$page-width} - #{$content-horizontal-padding * 2});
    max-width: 800px;
    overflow: hidden;
  }
}
