@use '../../assets/styles/config.scss' as *;

.Page.LaunchPage {
  $width: 100vw;
  width: $width;
  align-items: flex-start;

  .Content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 5em;

    width: $width;
    padding: 0 2em;

    .MissionName {
      overflow: hidden;
      width: 100%;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
