@import '../../assets/styles/config.scss';

.Page.LaunchPage {
  .Content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 0 2em;

    .MissionName {
      text-align: center;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
