@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.Page.LoadingPage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-loading-page;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: calc(50vh - 125px) 0 0;
  background: linear-gradient(
      to bottom right,
      transparent 0% 70%,
      rgba(#fff, 0.1) 100%
    ),
    url('../../assets/images/landing-page-img.png');
  background-size: 100% 47.34%, 100% 47.34%;
  background-position: center;
  background-repeat: repeat;
  text-align: center;

  @include background-mask($color-primary-dark, 0.7);

  .Message {
    margin-top: 20px;
  }
}
