@use 'sass:color';
@use 'src/assets/styles/config.scss' as *;
@use 'src/assets/styles/util.scss' as *;

.Page.LoadingPage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-loading-page;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: calc(50vh - 125px) 0 0;
  text-align: center;

  @include background-mask($color-primary-dark, 0.7);
  @include background-image;

  .LoadingPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Message {
      margin-top: 20px;
    }

    .LoadingProgress {
      overflow: hidden;
      margin-top: 1em;
      border: 2px solid $color-faded;
      border-radius: 1em;
      width: 14em;
      height: 0.8em;
      background-color: $color-primary-dark;

      .LoadingProgressBar {
        // Animation to give the progress bar a conveyor
        // belt effect.
        @keyframes loading-bar-animation {
          from {
            background-position-x: 0;
          }
          to {
            background-position-x: 80px;
          }
        }

        // Disable any mouse events on progress
        // bar as it's purely visual.
        pointer-events: none;

        // Hide the progress bar by default.
        // display: none;

        $color-1: $color-neutral-dark;
        $color-2: color.adjust($color-neutral-dark, $lightness: 5%);

        animation: loading-bar-animation 1500ms linear 0ms infinite;
        transition: 300ms width ease-out;
        background-image: linear-gradient(
          -45deg,
          $color-1 25%,
          $color-2 25%,
          $color-2 50%,
          $color-1 50%,
          $color-1 75%,
          $color-2 75%,
          $color-2 100%,
          $color-1 100%
        );
        background-size: 80px 80px;
        grid-column: 1 / -1;
        height: 100%;
      }
    }

    .LoadingButtons {
      margin: 25px 0 0;

      .ButtonText {
        margin: 4px;
      }
    }
  }
}
