@use '../../assets/styles/config.scss' as *;
@use '@client/assets/styles/util.scss' as *;

.Page.LobbyPage {
  .Content {
    $content-padding: 3em;

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: left;
    width: 100%;
    min-height: 100%;
    padding: $content-padding;

    .Title {
      margin: 0 0 1em;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .Section {
      margin: 0 0 1.75em;

      &.StatusSection {
        display: flex;
        justify-content: start;

        .StartStatus {
          max-width: 64em;
          font-size: 0.85rem;
          font-style: italic;
          line-height: 1.6em;
          color: $color-accent-light;

          // Change color to red if setup failed.
          &.StartStatusFailure {
            color: $color-failure-light;
          }
          // Add pulse animation if setup is ongoing.
          &:not(.StartStatusFailure) {
            @include pulse;
          }
        }
      }

      &.MembersSection {
        max-width: calc(100vw - 2 * #{$content-padding});
        overflow: auto;
      }

      &.ButtonSection {
        display: flex;
        column-gap: 1em;
        justify-content: center;
        margin: 3em 0 0;

        .ButtonText {
          margin: 0;
        }
      }
    }

    .Title,
    .Section {
      width: 100%;
    }

    .StaticDetail {
      display: grid;
      grid-template-columns: 10em 1fr;
      margin: 0.75em 0;
    }
  }
}
