@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.Page.MissionPage {
  $page-width: 100vw;
  $page-height: 100vh;
  $page-row-1-height: 82px;
  $page-row-3-height: 30px;
  $page-row-2-height: calc(
    $page-height - $page-row-1-height - $page-row-3-height
  );

  display: grid;
  align-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-rows: $page-row-1-height $page-row-2-height $page-row-3-height;
  margin: 0 auto;
  box-sizing: border-box;
  width: $page-width;
  height: $page-height;

  .Content {
    $content-vertical-padding: 35px;
    $content-horizontal-padding: 30px;

    margin: 0 auto;
    height: calc(100% - #{$content-vertical-padding * 2});
    padding: $content-vertical-padding $content-horizontal-padding;
    width: calc(#{$page-width} - #{$content-horizontal-padding * 2});

    .MissionMap {
      height: 100%;
      width: auto;
      box-shadow: $box-shadow-alt4;

      .ButtonSvgPanel {
        .glue {
          box-shadow: $box-shadow-alt6;
        }
      }

      .List {
        .items {
          .item {
            &.mapped-node {
              background-color: $background-alt2;
            }
          }
        }
      }
    }

    .SidePanel {
      height: 100%;
      scrollbar-color: $color-pointer-mark $background-alt7;

      ::-webkit-scrollbar {
        background: $background-alt7;
      }

      .BorderBox {
        overflow-y: auto;
        box-sizing: border-box;
        border: 2px solid $color-main;
        height: 100%;
        padding: 0;
        box-shadow: $box-shadow-alt6;

        .BoxTop {
          display: grid;
          box-sizing: border-box;
          position: sticky;
          top: 0;
          display: grid;
          align-items: center;
          z-index: 1;
          margin: 0 0 -20px;
          height: 80px;
          padding: 5px 15px 10px;
          background: linear-gradient(
            $background-alt7 0%,
            $background-alt7 80%,
            transparent 100%
          );

          .BackContainer {
            margin: 0 8%;
          }

          .Path {
            margin: 0;
            font-size: 0.75em;
            color: $color-error-alt;
            width: 97%;
            max-height: 50px;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
          }

          .Path {
            color: $color-main;

            .Position {
              color: $color-pointer-mark;

              .PositionText {
                font-style: italic;
                color: $terminal;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .SidePanelSection {
        .AltDesign2-list {
          background: none;
          margin: 20px 8% 0;
          padding: 0;
          width: 84%;
          border-bottom: unset;

          .items {
            .item {
              width: calc(100% - 20px);
              max-width: unset;

              .Row {
                display: grid;
                align-items: center;
                grid-template-columns: auto 80px;
                width: 100%;

                .RowContent {
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }

        .ButtonContainer,
        .NewButtonContainer {
          display: grid;
          min-width: 225px;
          margin: 0 8%;

          .ButtonText {
            margin: 40px 0 0;
          }
        }

        .NewButtonContainer {
          border-bottom: 2px solid $color-main;
          padding-bottom: 15px;

          .ButtonText {
            margin: 20px 0 0;
          }
        }

        .ButtonText {
          font-size: 0.78em;
          text-align: right;
        }
      }
    }
  }

  .Footer {
    margin: 0;

    > * {
      padding-top: 0;
    }
  }
}
