@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.Page.MissionPage {
  $page-width: 100vw;
  $page-height: 100vh;
  $page-row-1-height: 82px;
  $page-row-3-height: 30px;
  $page-row-2-height: calc(
    $page-height - $page-row-1-height - $page-row-3-height
  );

  display: grid;
  align-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-rows: $page-row-1-height $page-row-2-height $page-row-3-height;
  margin: 0 auto;
  box-sizing: border-box;
  width: $page-width;
  height: $page-height;

  .Content {
    $content-vertical-padding: 35px;
    $content-horizontal-padding: 30px;

    margin: 0 auto;
    height: calc(100% - #{$content-vertical-padding * 2});
    padding: $content-vertical-padding $content-horizontal-padding;
    width: calc(#{$page-width} - #{$content-horizontal-padding * 2});

    .MissionMap {
      height: 100%;
      width: auto;

      .ButtonSvgPanel {
        .glue {
          box-shadow: $box-shadow-alt6;
        }
      }

      .ListOld {
        .items {
          .item {
            &.mapped-node {
              background-color: $background-alt2;
            }
          }
        }
      }
    }

    .SidePanel {
      height: 100%;
      scrollbar-color: $color-pointer-mark $background-alt7;

      ::-webkit-scrollbar {
        background: $background-alt7;
      }

      .BorderBox {
        overflow-y: auto;
        box-sizing: border-box;
        border: 2px solid $color-main;
        height: 100%;
        padding: 0;
        background-color: #0d1a28;
        // background-color: $background-main;

        .BoxTop {
          display: grid;
          box-sizing: border-box;
          position: sticky;
          top: 0;
          display: grid;
          align-items: center;
          z-index: 1;
          margin: 0 0 -20px;
          height: 80px;
          padding: 5px 15px 10px;
          box-shadow: $box-shadow-alt3;
          // background-color: $background-main;
        }
      }

      .SidePanelSection {
        .ListOld.AltDesign2 {
          margin: 1.25em 0 0;
          padding: 0;
        }

        .ButtonContainer {
          display: flex;
          justify-content: flex-end;
          flex-flow: row wrap;
          min-width: 225px;
          margin: 0 0;

          &.New {
            border-bottom: 2px solid $color-main;
            padding-bottom: 15px;
          }

          .ButtonText {
            margin: 1.25em 0 0;
          }
        }

        .ButtonText {
          font-size: 0.78em;
        }
      }
    }
  }

  .Footer {
    margin: 0;

    > * {
      padding-top: 0;
    }
  }

  &.ReadOnly {
    .MainDetails {
      @include disabled();
      opacity: 0.65 !important;
    }

    .SidePanel {
      .ButtonText,
      .ButtonSvg {
        @include disabled();
      }
    }
  }
}
