@use '@client/assets/styles/config.scss' as *;

.Page.SessionPage {
  $page-padding-top: 0px;
  $page-padding-bottom: 35px;
  $page-horizontal-padding: 0px;
  $page-width: calc(100vw - #{$page-horizontal-padding * 2});
  $page-height: calc(100vh - #{$page-padding-top + $page-padding-bottom});
  $page-row-1-height: $nav-height;
  $page-row-2-height: calc(#{$page-height} - #{$page-row-1-height});
  $resource-n-action-height: 55px;
  $map-n-output-height: calc(
    #{$page-row-2-height} - #{$resource-n-action-height}
  );
  $node-action-width: 400px;
  $content-horizontal-padding: 30px;
  $content-vertical-padding: 0px;
  $content-width: calc(#{$page-width} - #{$content-horizontal-padding * 2});

  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  box-sizing: border-box;
  width: $page-width;
  height: $page-height;
  grid-template-columns: $page-width;
  grid-template-rows: $page-row-1-height $page-row-2-height;
  margin: 0 auto;
  padding: $page-padding-top $page-horizontal-padding $page-padding-bottom;

  .Content {
    $content-row-1-height: 53px;

    display: grid;
    grid-template-rows: $content-row-1-height auto;
    width: $content-width;
    height: $page-row-2-height;
    padding: $content-vertical-padding $content-horizontal-padding;

    .TopBar {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      padding-top: 0.65em;
      font-size: 0.8em;

      .Title {
        padding: 10px 10px 0 0;
      }

      .Title .SessionName {
        opacity: 0.7;
      }

      .Resources {
        box-sizing: border-box;
        align-items: center;
        cursor: default;
        margin-right: auto;
        height: 40px;
        padding: 10px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.RedAlert {
          color: $color-failure;
        }

        .Count {
          opacity: 0.7;

          &.Infinite {
            position: relative;
            top: 0.05em;
            font-size: 1.25rem;
            line-height: 0;
          }

          &.Finite {
          }
        }
      }
    }

    .PanelLayout {
      height: $map-n-output-height;
    }

    .MissionMap {
      width: 100%;
      height: 100%;
    }

    .PanelView {
      .OutputPanel,
      .SessionMembersPanel,
      .List {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.Observer {
    .MissionNode {
      user-select: none;
      cursor: default;
    }
  }
}
