@use '../../assets/styles/config.scss' as *;

.Page.SessionConfigPage {
  .Content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 4em 2em;

    .Title {
      margin: 0 0 1em;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .StaticDetail {
      display: grid;
      grid-template-columns: 10em 1fr;
      margin: 0.75em 0;
    }
  }
}
