@import 'src/assets/styles/config.scss';

.Page.UserResetPage {
  $page-width: 100vw;
  $page-height: 100vh;

  box-sizing: border-box;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  place-items: center;
  align-content: space-between;
  margin: 0 auto;
  width: $page-width;
  height: $page-height;

  .Content {
    display: grid;
    place-items: center;
    align-items: center;
    margin: 50px 0;
    width: 100%;
    border: 2px solid $color-primary-light;
    border-radius: 10px;
    max-width: 800px;
    padding: 2em 2em;
    background: $color-primary;

    .ResetUserEntry {
      width: 100%;
    }
  }
}
