@import 'src/assets/styles/config.scss';

.Page.UserPage {
  $page-width: 100vw;
  $page-height: 100vh;
  // $page-row-1-height: 82px;
  // $page-row-3-height: 12px;
  // $page-row-2-height: calc(
  //   $page-height - $page-row-1-height - $page-row-3-height
  // );

  display: grid;
  box-sizing: border-box;
  place-items: center;
  align-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  // grid-template-rows: $page-row-1-height $page-row-2-height $page-row-3-height;
  margin: 0 auto;
  width: $page-width;
  height: $page-height;

  .Content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2em;

    .Form {
      display: grid;
      place-items: center;
      align-items: center;
      margin: 50px auto;
      border: 2px solid $color-primary-light;
      border-radius: 10px;
      width: 100%;
      max-width: 800px;
      padding: 2em 2em;
      background: $color-primary;
    }
  }
}
