@import 'src/assets/styles/config.scss';

.Page.UserPage {
  $page-width: 100vw;
  $page-height: 100vh;
  $content-spacing: 1em;

  display: grid;
  box-sizing: border-box;
  place-items: center;
  align-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  width: $page-width;
  height: $page-height;

  .Content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2em;

    .Form {
      display: grid;
      place-items: center;
      row-gap: $content-spacing;
      margin: 50px auto;
      border: 2px solid $color-primary-light;
      border-radius: 10px;
      width: 100%;
      min-width: calc(225px + 4em);
      max-width: 800px;
      padding: 2em 2em;
      background: $color-primary;

      form {
        display: grid;
        row-gap: $content-spacing;

        .DetailToggle {
          grid-template-columns: auto 1fr;
          column-gap: $content-spacing;
          padding: 1.3em 0;
        }
      }

      .Buttons {
        justify-self: flex-start;

        :first-child {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }
}
