@import 'src/assets/styles/config.scss';

.Branding {
  background-image: url('../../../assets/images/metis_emblsem_white.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: $nav-height;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  padding: 0;

  &.Disabled {
    cursor: default;
    opacity: 1;
  }
}
