@import 'src/assets/styles/config.scss';

.Branding {
  display: grid;
  grid-template-columns: 65px 135px;
  width: 200px;
  padding: 0;
  cursor: pointer;
  user-select: none;

  @mixin branding-img($image) {
    background-image: url($image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: $nav-height;
  }

  .Emblem {
    @include branding-img('../../../assets/images/new_metis_emblem.png');
    margin-right: 15px;
  }

  .Logo {
    @include branding-img('../../../assets/images/new_metis_logo.png');
  }

  &.Disabled {
    cursor: default;
    opacity: 1 !important;
  }
}
