.Footer {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  margin: 30px 0 0;

  * {
    opacity: 0.7;
    width: -moz-fit-content;
    width: fit-content;
  }

  .Version {
    cursor: pointer;
    margin-right: auto;
    padding: 20px;
    font-size: 0.6em;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;

    &.Navigates {
      pointer-events: auto;
    }

    &:hover {
      opacity: 1;
    }
  }

  .Credit {
    -webkit-user-select: none;
    user-select: none;
    margin-left: auto;
    padding: 20px;
    text-align: right;
    font-size: 0.6em;
    text-decoration: none;
    -webkit-user-drag: none;

    &:hover {
      opacity: 1;
    }
  }
}
