.Footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1em;
  width: 100%;
  margin: 30px 0 0;
  padding: 0 1.25em;
  font-size: 0.6em;

  & > * {
    opacity: 0.7;
  }

  .Version {
    cursor: pointer;
    margin-right: auto;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;

    &.Navigates {
      pointer-events: auto;
    }

    &:hover {
      opacity: 1;
    }
  }

  .FooterControls {
    .DetailToggle {
      transform: scale(0.8) translateY(-0.45em);
    }
  }

  .Credit {
    -webkit-user-select: none;
    user-select: none;
    margin-left: auto;
    text-align: right;
    text-decoration: none;
    -webkit-user-drag: none;

    &:hover {
      opacity: 1;
    }
  }
}
