.Footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1em;
  margin: 30px 0 0;
  width: 100%;
  padding: 0 2em;
  font-size: 0.6em;

  .Version,
  .Credits {
    user-select: none;
    height: 2em;

    &.Navigates {
      cursor: pointer;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    &:not(.Navigates) {
      pointer-events: none;
    }
  }

  .Version {
    margin-right: auto;
  }

  .FooterControls {
    .DetailToggle {
      grid-template-columns: unset;
      transform: scale(0.8) translateY(-0.45em);
    }
  }

  .Credits {
    user-select: none;
    margin-left: auto;
    text-align: right;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}
