@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.ListOld {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  transition: 500ms background-color;
  margin: 0 45px 90px;
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 40px 25px;
  background-color: $color-secondary;
  white-space: nowrap;

  .list-header {
    display: inline-block;
    box-sizing: border-box;
    transition: 500ms background-color;
    margin: 0px 35px 20px;
    border-radius: 25px;
    min-width: 220px;
    padding: 16px;
    background-color: $color-primary-light;

    .list-heading {
      margin: 0;
      border-radius: 16px;
      padding: 15px 50px;
      background-color: $color-accent-dark;
      color: $color-primary-light;
      text-align: center;
      font-size: 16px;
      letter-spacing: 0.65px;

      .subheading {
        margin-top: 4px;
      }
    }
  }

  .previous-page,
  .next-page {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
    margin-top: 18px;
    border: 8px solid $color-primary-light;
    border-radius: 25px;
    padding: 4.5px 11px 5.5px 12px;
    background-color: $color-accent-dark;
    font-size: 18px;
    font-weight: 700;
  }

  .previous-page.disabled,
  .next-page.disabled {
    cursor: default;
    // border: 8px solid $color-secondary;
    // background-color: $background-color-primary;
    // color: $color-font-faded;
    opacity: 0.45;
    pointer-events: none;
  }

  .previous-page.irrelevant,
  .next-page.irrelevant {
    pointer-events: none;
    cursor: default;
    opacity: 0;
  }

  .filtering {
    margin: 5px 0 25px;
    white-space: nowrap;

    .search-box {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 auto;
      border-radius: 25px;
      width: 200px;

      .search-icon {
        filter: invert(70%);
        pointer-events: none;
        position: absolute;
        z-index: 5;
        width: 18px;
        height: 18px;
        margin: 11px 0 0 15px;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .search-field {
        display: block;
        opacity: 0.45;
        box-sizing: border-box;
        outline: none;
        transition: 200ms opacity;
        border: none;
        border-radius: 20px;
        width: 100%;
        height: 40.5px;
        padding: 12px 25px 12px 47.5px;
        background-color: $color-primary-light;
        text-align: left !important;
        color: $color-primary-dark;
        font-size: 13.5px;
      }

      .search-hint {
        pointer-events: none;
        display: block;
        opacity: 0.45;
        box-sizing: border-box;
        margin: -40.5px 0 0;
        border: none;
        border-radius: 20px;
        width: calc(100% - 25px);
        height: 40.5px;
        padding: 12px 0 12px 47.5px;
        text-align: left !important;
        color: $color-primary-dark;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 13.5px;
      }

      .search-field:focus {
        opacity: 0.8;
      }

      &.blank {
        opacity: 0.2;
        transform: scale(0.875);
      }
    }

    .sort-by-methods {
      display: inline-block;
      position: relative;
      bottom: 2px;
      vertical-align: top;
      margin: 11.5px 0 0;

      .ButtonSvg {
        display: inline-block;
        box-sizing: border-box;
        border: none;
        margin-left: 3.5px;
        width: 24px;
        height: 32px;
        background-color: transparent;

        &:first-child {
          margin-left: 8px;
        }

        &:not(.selected) {
          opacity: 0.45;
        }

        &.ButtonSvg_clock {
          background-position: 2px 0px;
        }

        &.ButtonSvg_clock-small {
          width: 19px;
          background-position: 1px 2px;
        }

        &.ButtonSvg_alphabetical {
          * {
            bottom: 11.5px;
          }
        }
      }
    }
  }

  .items {
    .item {
      overflow: hidden;
      transition: 500ms transform;
      box-sizing: border-box;
      margin: 17px auto;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 16px;
      width: 300px;
      min-height: 44px;
      padding: 12px 20px;
      background-color: $color-primary-light;
      font-size: 15.5px;
      color: $color-primary-dark;
      letter-spacing: 0.55px;
      white-space: nowrap;
      text-overflow: ellipsis;

      .properties {
        cursor: default;
        margin: 5px auto -2px;
        border: 2px solid rgba($color-primary-dark, 0.5);
        border-radius: 7px;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: -moz-fit-content;
        width: fit-content;
        background-color: rgba($color-secondary, 0.15);

        .property {
          -webkit-user-select: none;
          user-select: none;
          display: inline-block;
          opacity: 1;
          width: 22px;
          padding: 4px 0 0px;
          font-size: 16px;

          &.with:hover {
            transform: scale(1.25) translateY(-2px);
          }

          &:first-child {
            padding-left: 6px;
          }

          &:last-child {
            padding-right: 6px;
          }

          &.without {
            cursor: default;
            filter: grayscale(200%) blur(0.75px);
            opacity: 0.2;
          }
        }
      }

      &.no-items {
        cursor: default !important;
        -webkit-user-select: none;
        user-select: none;
        border: 1px solid $color-primary-dark;
        background-color: rgba($color-primary-light, 1);
        color: $color-primary-dark;
        font-style: italic;
      }

      &.with-properties {
        padding-top: 7px;
        padding-bottom: 0;
      }

      &.item-markdown {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
        max-width: 425px;
        border: 2px solid $color-primary-light;
        padding: 25px 40px 25px;
        background-color: $color-accent-dark;
        letter-spacing: inherit;
        white-space: normal;
        text-overflow: inherit;
      }

      &.item-blank {
        cursor: default;
        -webkit-user-select: none;
        user-select: none;
        opacity: 0.2;
      }

      &.selected {
        background-color: rgba($color-primary-light, 0.5);
      }

      &.item-status {
        cursor: default;
        -webkit-user-select: none;
        user-select: none;
        background-color: rgba($color-primary-light, 0.5);
      }
    }

    .page-number {
      margin: 0 auto 12px;
      width: -moz-fit-content;
      width: fit-content;
      border-radius: 11px;
      padding: 6px 16px 5.5px;
      background-color: $color-primary-light;
      color: $color-primary-dark;
      font-weight: bold;
    }
  }

  .actions {
    .ButtonSvg {
      margin: 5px 10px 0;
    }

    .ButtonSvg.cancel-pending-action {
      position: absolute;
      transition: 200ms transform;
      margin-top: -44px;
      margin-left: -23.375px;
      transform: scale(0);
    }
  }

  &.AltDesign1 {
    display: grid;
    justify-items: center;
    width: 35%;
    margin: 30px 0;
    background-color: rgba(black, 0.85);
    border: 3px solid white;
    border-radius: 15px;
    height: 401px;
    padding: 0;
    overflow: hidden;

    .top {
      $top-height: 2em;

      box-sizing: border-box;
      display: grid;
      grid-template-columns: auto auto auto auto 1fr;
      align-items: center;
      column-gap: 1em;
      width: 100%;
      height: $top-height;
      padding: 1em;

      .list-header,
      .page-number,
      .filtering,
      .previous-page,
      .next-page {
        height: 2em;
        box-sizing: border-box;
      }

      .list-header {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        margin: 0;
        height: 2em;
        min-width: unset;
        border-radius: 1em;
        padding: 0;
        background-color: transparent;

        .list-heading {
          background-color: transparent;
          margin: 0;
          padding: 0 0.1em;
          font-size: 1.1em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .previous-page,
      .next-page {
        display: flex;
        justify-content: center;
        align-items: center;
        border: unset;
        margin: 0;
        width: 1em;
        height: 100%;
        padding: 0;
        background-color: black;
        font-size: 1.25em;
      }

      .page-number {
        opacity: 0.65;
        background-color: transparent;
        color: white;
        line-height: $top-height;
        font-size: 0.85em;
      }

      .filtering {
        margin: 0;
        height: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .search-box {
          display: grid;
          grid-template-columns: auto 0;
          width: 100%;
          height: 100%;

          .search-icon {
            z-index: 5;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            position: relative;
            right: 2.5em;
            margin: 0;
            width: 2em;
            height: 100%;
            background-image: url('../../../assets/images/icons/search.svg');
            background-position: center;
            background-size: 50%;
            filter: unset;
          }

          .search-field,
          .search-hint {
            box-sizing: border-box;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0.325em 2em;
            background: none;
            font-family: 'monospace', sans-serif;
            font-size: 0.95em;
            line-height: 1.2em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
          }

          .search-hint {
            pointer-events: none;
          }

          .search-field {
            border-radius: 1em;
            background-color: rgba(#ffffff, 0.25);

            &:focus {
              outline: none;
              background-color: rgba(#ffffff, 0.325);
            }
          }

          .Tooltip {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
          }
        }
      }
    }

    .items {
      width: 100%;
      height: 18em;

      .item {
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        max-width: none;
        min-height: unset;

        .Row {
          display: grid;
          grid-template-columns: 1fr auto;
          box-sizing: border-box;
          align-items: center;
          flex-flow: row wrap;
          width: 100%;
          padding: 0 1em;

          &.Select:hover {
            cursor: pointer;

            @import 'src/assets/styles/util.scss';

            color: $color-accent;
          }

          .Text {
            display: block;
            box-sizing: border-box;
            height: 100%;
            padding: 0.6em 0 0;
            font-size: 0.8rem;

            &.Select:hover {
              cursor: pointer;
              color: $color-accent;
            }
          }
        }

        .NoContent {
          padding: 15px 0 0 20px;
          font-size: 0.825em;
        }
      }
    }
  }

  &.AltDesign2 {
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: unset;

    &.PromptList {
      margin: 20px 0 10px;

      .top {
        margin-bottom: 0;
      }

      .items {
        overflow: auto;
        max-height: 150px;
      }
    }

    .top {
      grid-template-columns: auto;
      padding-bottom: 8px;

      .previous-page,
      .next-page,
      .filtering,
      .page-number {
        @include hide;
      }

      .list-header {
        margin: 0;
        padding: 0;
        background: none;

        .list-heading {
          font-size: 0.78em;
          font-weight: normal;
          background: none;
          padding: 0;
          text-align: unset;
          font-size: 0.82rem;
          font-weight: bold;
          color: $color-faded;
        }
      }
    }

    .items {
      padding: 11px 0;

      .item {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        border-radius: unset;
        min-height: unset;
        font-size: 0.78em;
        width: 100%;
        max-width: unset;

        .NoContent {
          color: $color-faded;
        }

        &.item-status {
          background: none;
          color: $color-primary-light;
        }
      }
    }

    .page-number {
      @include hide;
    }

    .Row {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      width: 100%;

      &.IconFirst {
        grid-template-columns: auto 1fr;
      }

      &.Select:hover {
        cursor: pointer;
        @include background-mask;
      }

      .RowContent {
        padding: 10px 0 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;

        &.Select:hover {
          cursor: pointer;
          color: $color-accent;
        }
      }
    }
  }
}

.ListOld.pending-edit {
  background-color: $color-primary-light;

  .item:not(.item-markdown) {
    background-color: $color-accent-dark;
    color: $color-primary-light;
  }

  .page-number {
    background-color: $color-accent-dark;
    color: $color-primary-light;
  }
}

.ListOld.pending-deletion {
  background-color: $color-failure;

  .list-header {
    background-color: $color-failure;
  }

  .item:not(.item-markdown) {
    background-color: adjust-color(
      $color-primary-light,
      $saturation: -75%,
      $lightness: 25%
    );
  }

  .page-number {
    background-color: adjust-color(
      $color-primary-light,
      $saturation: -75%,
      $lightness: 25%
    );
  }
  .previous-page,
  .next-page {
    border-color: $color-failure;
  }

  .ButtonSvg.cancel-pending-action {
    filter: hue-rotate(115deg) brightness(130%) saturate(65%);
  }
}

.ListOld.pending-edit,
.ListOld.pending-deletion {
  .search-box {
    opacity: 0;
  }
  .item {
    transform: scale(1.05);

    &:not(.item-markdown) {
      border: 2px solid $color-primary-dark;
    }

    .properties {
      background-color: rgba(
        adjust-color($color-secondary, $saturation: -65%),
        0.35
      );
    }
  }

  .page-number {
    border: 2px solid $color-primary-dark;
  }

  .ButtonSvg.cancel-pending-action {
    transform: scale(1.2);
    transition: 800ms transform;
  }
  .ButtonSvg:not(.cancel-pending-action) {
    transform: scale(0);
    // &.edit {
    //   transform: scale(1.4);
    //   background-size: 0 0;
    //   background-position: 20px 20px;
    //   // .cancel {
    //   //   transform: translate(0, 1px) scale(2, 1.7);
    //   // }
    // }
  }
}

.ListOld.clickable {
  .item:not(.no-items):not(.item-blank):not(.item-status) {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    * {
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }
    .properties {
      cursor: default;
      .property.with {
        cursor: pointer;
      }
      .property.without {
        cursor: default;
      }
    }
  }
}

.ListOld.grabbable {
  .item:not(.no-items):not(.item-blank):not(.item-status) {
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;

    * {
      cursor: grab;
      -webkit-user-select: none;
      user-select: none;
    }

    .properties {
      cursor: default;

      .property.with {
        cursor: pointer;
      }

      .property.without {
        cursor: default;
      }
    }
  }
}

.ListOld.items-have-properties {
  .item {
    min-height: 55px;

    &.no-items,
    &.item-blank,
    &.item-status {
      padding: 15px 20px 12px;
    }
  }
}

.ListOld.duel-page-mode {
  .items {
    display: inline-block;
    vertical-align: top;

    &.items-1 {
      margin-right: 40px;
    }
  }
}
