@use 'sass:color';
@use '@client/assets/styles/config.scss' as *;
@use '@client/assets/styles/util.scss' as *;

.Markdown {
  $general-margin-bottom: 12px;
  $list-margin-bottom: calc(#{$general-margin-bottom} + 4px);
  $code-block-margin-top: 4px;
  $code-block-margin-bottom: calc(
    #{$general-margin-bottom} + #{$code-block-margin-top} - 2px
  );
  $color-font-code: $color-primary-light;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  * {
    margin-bottom: $general-margin-bottom;
  }

  @include heading-styling();
  p {
    // line-height: 24px;
    text-align: left;
    overflow: hidden;
    word-break: normal;
  }
  ul,
  ol {
    display: inline-block;
    width: 90%;
    margin: 0 0 $list-margin-bottom;
    padding: 0;
  }
  li {
    margin-left: 30px;
    padding: 0;
    text-align: left;
    line-height: 24px;
    word-break: normal;
  }

  code {
    display: inline-block;
    margin: 0;
    border-radius: 5px;
    padding: 0 6px 0.5px 7px;
    background-color: rgba(
      color.adjust($color-accent, $saturation: -15%, $hue: -15deg),
      0.9
    );
    color: $color-primary-dark;
    font-weight: 700;
    line-height: 18px;
    * {
      color: rgba($color-primary-dark, 0.75);
    }
  }

  code.code-block {
    $code-line-margin-bottom: 8px;
    display: block;
    overflow-x: auto;
    margin: $code-block-margin-top 0 $code-block-margin-bottom;
    padding: 14px 0;
    text-align: left;
    * {
      margin-bottom: $code-line-margin-bottom;
      word-break: normal;
    }
    pre {
      :last-child {
        margin-bottom: $code-line-margin-bottom;
      }
    }
    code {
      display: block;
      text-align: left;
      margin-bottom: -16px;
      padding-left: 0;
    }
    pre {
      padding-left: 19px;
    }
    p {
      display: block;
      overflow: visible;
      margin-left: 25px;
      margin-right: 25px;
      white-space: nowrap;
      word-break: normal;
    }
    p::after {
      content: '    ';
      -webkit-user-select: none;
      user-select: none;
      white-space: pre;
    }
  }
  img {
    display: block;
    margin: 0 auto inherit;
    max-width: 80%;
    max-height: 300px;
    border-radius: 10px;
  }
  hr {
    margin: 30px 0;
  }
  .indentation {
    padding-left: 24px;
  }
  .double-space {
    padding-left: 12px;
  }
  :last-child {
    margin-bottom: 0 !important;
  }
}
// strong {
// }
