@import 'src/assets/styles/config.scss';

.Navigation {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0 auto;
  width: 100%;
  height: $nav-height;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: bottom;
  box-shadow: $box-shadow-alt3;
  border-bottom: 2px solid $color-main;
  z-index: 100;

  &.alt-3 {
    box-shadow: $box-shadow-alt3;
  }

  &.alt-6 {
    box-shadow: $box-shadow-alt6;
  }

  &.alt-7 {
    box-shadow: $box-shadow-alt7;
  }

  .Branding {
    background-position-x: 0;
  }

  .Links {
    display: flex;
    place-content: center;
    column-gap: 10px;

    .ButtonText {
      display: flex;
      align-items: center;
      margin: 0;
      height: $nav-height;
    }
  }
}
