@import 'src/assets/styles/config.scss';

.ButtonSvg {
  $border-radius: 0.35em;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 500ms transform, 500ms background-size, 500ms background-position,
    500ms opacity;
  border-radius: $border-radius;
  width: 1em;
  height: 0.96em;

  &.small {
    margin: 0 0.15em;
    font-size: $button-svg-small-size;

    &:not(.warning-transparent):hover {
      filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(117deg)
        brightness(200%) contrast(98%);
    }

    &.warning-transparent:hover {
      background-image: url('/assets/images/icons/warning-filled.svg') !important;
      transition: background-image 0.5s;
    }
  }

  &.regular {
    margin: 0 0.25em;
    border: 2px solid $color-main;
    font-size: $button-svg-regular-size;
  }

  &.lock:hover {
    cursor: help;
    filter: none;
  }

  &.zoom-in {
    cursor: zoom-in;
  }

  &.zoom-out {
    cursor: zoom-out;
  }

  &._blank {
    background: none;
    pointer-events: none;
    opacity: 0;
  }
}
