@use '@client/assets/styles/config.scss' as *;

.ButtonText {
  cursor: pointer;
  pointer-events: all;
  display: inline-block;
  margin: 0 5px 0;
  border: none;
  background: none;
  font-size: 0.825rem;
  white-space: nowrap;

  .Text {
    color: $color-accent;
    font-weight: 400;
  }

  .Bracket {
    opacity: 0.25;
    color: $color-primary-light;
  }

  .LeftBracket {
    padding-right: 8px;
  }

  .RightBracket {
    padding-left: 7px;
  }

  &:not(.PartiallyDisabled):hover {
    .Bracket {
      opacity: 1;
    }
  }
}
