@import '/src/assets/styles/config.scss';

.ButtonMenu {
  .InputBlocker {
    overflow: scroll;
    position: fixed;
    z-index: $z-index-context-blocker;
    left: 0;
    top: 0;
    width: 110vw;
    height: 110vh;

    &::after {
      content: '';
      display: block;
      width: 200vw;
      height: 200vh;
    }
  }

  .PopUp {
    position: fixed;
    z-index: $z-index-context-pop-up;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba($color-main, 0.65);
    border-radius: 0.5em;
    padding: 0.35em;
    background-color: rgba($background-main, 0.925);

    .ButtonSvg {
      margin: 0;
      padding: 0.2em 0.4em;
      background-position-x: 0.4em !important;

      &:hover {
        background-color: rgba($node-blue, 1);
      }
    }
  }
}
