@use '/src/assets/styles/config.scss' as *;
@use 'metis/client/assets/styles/util.scss' as *;

.ButtonMenu {
  .InputBlocker {
    overflow: scroll;
    position: fixed;
    z-index: $z-index-context-blocker;
    left: 0;
    top: 0;
    width: 110vw;
    height: 110vh;

    &::after {
      content: '';
      display: block;
      width: 200vw;
      height: 200vh;
    }
  }

  .PopUp {
    position: fixed;
    z-index: $z-index-context-pop-up;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba($color-primary-light, 0.65);
    border-radius: 0.5em;
    background-color: rgba($color-secondary, 0.925);

    .ButtonSvgPanel {
      padding: 0.35em;

      .ButtonSvg {
        margin: 0;
        background-position-x: 0.4em !important;

        &:hover {
          @include background-mask;
        }
      }

      .DividerSvg {
        padding: 0;
      }
    }
  }
}
