@use 'sass:color';
@use 'src/assets/styles/config.scss' as *;
@use 'src/assets/styles/util.scss' as *;
@use '../../mixins.scss' as *;

.Scene {
  .MapNode {
    $background-transition: background-color 500ms ease-in-out;
    $pending-transition: opacity 200ms ease-in-out;

    border-color: $color-primary-light;
    border-width: min(2px, 0.04em);
    border-style: solid;
    border-radius: 0.11em;
    overflow: hidden;

    // Set box-sizing to content-box to
    // help with font size calculations
    // in JS.
    box-sizing: content-box;

    // Make the origin of the scene object the
    // top center of the node.
    transform: translate(-50%, -0%);

    // Add a transition to the background for
    // when the text comes in and out of view.
    transition: $background-transition;
    transition-property: background-color, opacity;
    transition-duration: 500ms, 200ms;
    transition-timing-function: ease-in-out, ease-in-out;

    background-color: $color-secondary;

    &.Selectable {
      .PrimaryContent {
        // Change the cursor to pointer if
        // the node can be selected.
        cursor: pointer;
      }
    }

    &.Selected {
      @include background-mask;
    }

    &.Executing {
      // pointer-events: none;

      .ProgressBar {
        // If the node is executing, show the
        // progress bar.
        display: block;
      }
    }

    &.Success {
      background-color: $color-success-dark;
    }

    &.Failure {
      background-color: $color-failure-dark;
    }

    &.Pending {
      pointer-events: none;
      opacity: 0.35;
    }

    // Add a transition out of the pending state.
    &:not(.Pending) {
      transition: $background-transition, $pending-transition;
    }

    &.Blocked {
      @include blocked-node('red');
    }

    &.CutOff {
      @include blocked-node('faded');
    }

    &.BlockResolved {
      @include blocked-node-resolved;
    }

    &.Blurred {
      pointer-events: none;
      opacity: 0.4;
    }

    &.Excluded {
      border-color: $color-primary-light !important;
      background: unset;
      padding: unset !important;
      margin: unset !important;
      width: 0.4em !important;
      height: 0.4em !important;
      transform: translate(-50%, 25%);
      border-radius: 100% !important;

      > *:not(.IncludeButton) {
        @include hide;
      }

      .IncludeButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-secondary;

        .ButtonSvg {
          margin: 0;
          padding: 0;
          font-size: 0.25em;
          transition: none;
        }
      }
    }

    &:not(.Excluded) {
      transition: none !important;
    }

    .ProgressBar {
      // Animation to give the progress bar a conveyor
      // belt effect.
      @keyframes loading-animation {
        from {
          background-position-x: 0;
        }
        to {
          background-position-x: 40px;
        }
      }

      @keyframes progress-animation {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }

      // Disable any mouse events on progress
      // bar as it's purely visual.
      pointer-events: none;

      // Hide the progress bar by default.
      display: none;

      $color-1: $color-neutral-dark;
      $color-2: color.adjust($color-neutral-dark, $lightness: 5%);

      background-image: linear-gradient(
        -45deg,
        $color-1 25%,
        $color-2 25%,
        $color-2 50%,
        $color-1 50%,
        $color-1 75%,
        $color-2 75%,
        $color-2 100%,
        $color-1 100%
      );
      background-size: 40px 40px;
    }

    .PrimaryContent {
      .Name {
        // Position the name.
        @include center-origin-y;
        top: 50%;
        left: 5%;

        // Let height be automatic.
        height: unset;

        text-align: left;
        word-break: break-word;
      }

      .Icon {
        // Position the icon.
        @include center-origin-y;
        top: 50%;
        right: 6.5%;

        // Let height be automatic.
        height: 100%;

        // Make the icon 15% of the width of the
        // node.
        width: 12%;
      }
    }

    .Buttons {
      bottom: 0;

      .ButtonSvgPanel {
        display: flex;
        flex-wrap: unset;
        justify-content: center;
        column-gap: 0.1em;

        .ButtonSvg {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          width: 1em;
          height: 1em;
          padding: 0.55em;
          font-size: 0.267em;
          border: min(1px, 0.075em) solid rgba($color-primary-light, 0.65);
        }
      }
    }

    // Enable pointer events for children with
    // which can be interacted.
    .PrimaryContent,
    .ButtonSvgPanel {
      pointer-events: all;
    }
  }
}
