@use '@client/assets/styles/config.scss' as *;

.EntryNavigation {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.25em;
  align-items: start;

  .ButtonSvgPanel,
  .ButtonSvg {
    // height: 100%;
    .ButtonIcon {
      position: relative;
      bottom: 4px;
    }
  }

  .Path {
    display: grid;
    grid-template-columns: 3.75em 1fr;
    // align-items: center;
    margin: 0;
    font-size: 0.75em;
    width: 97%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    color: $color-primary-light;

    .Label {
      display: inline;
    }

    .Positions {
      display: inline;

      .Position {
        color: $color-primary-light;

        .Text {
          font-style: italic;
          color: $color-accent;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
