@use '@client/assets/styles/config.scss' as *;
@use '@client/assets/styles/util.scss' as *;

.TargetArgumentDetail {
  &:last-child {
    padding-bottom: 31px;
  }

  .Detail {
    min-width: 0.83em;

    &.DetailToggle {
      border: none;
      padding: 11px 0;
    }
  }

  &.TargetArgumentDetail_missionComponent {
    .Field:has(.OutlineSearch:focus) {
      border-bottom: none;
    }

    .MissionOutline {
      padding-bottom: 1em;

      .OutlineHeader {
        .SearchBox {
          @include background-mask(
            $opacity: 0.075,
            $color: $color-primary-light
          );
        }
      }
    }

    .SelectedPill {
      .PillText {
        white-space: normal;

        .ComponentItemContent {
          display: grid;
          grid-template-columns: 1em 1fr;
          column-gap: 0.75em;

          .Icon {
            grid-row: 1 / -1;
            width: 1em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.75;
          }

          .Name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 0;
          }
        }
      }
    }
  }
}
