@use '@client/components/content/form/index.scss' as *;

.ResourcePoolSubentry {
  @include form-container();

  .ResourcePoolSubentryHeading {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $color-secondary-light;
  }
}
