@use 'metis/client/assets/styles/config.scss' as *;

.NodeStructuring {
  &.SidePanel {
    .BorderBox {
      .BoxTop {
        grid-template-columns: auto auto;

        .MoreInformation {
          display: grid;
          justify-content: end;
          margin-top: 6.25px;
          width: 100%;
          grid-column: 1 / 2;

          .circle {
            transform: scale(0.77);
          }
        }

        .Close {
          grid-column: 2 / 2;
          padding: 6.25px 0 0;

          &.Disabled {
            margin: 0 30px;
          }
        }
      }
    }

    &.NodeStructuring {
      .BorderBox {
        overflow-y: hidden;

        .BoxTop {
          grid-template-columns: 1fr 26px;
        }

        .Nodes {
          overflow-x: auto;
          overflow-y: auto;
          height: calc(100% - 70px);
          padding: 0;

          .Padding {
            height: 35px;

            &.DropPending {
              background-color: $color-secondary;
            }
          }

          .Node {
            width: fit-content;

            .ParentNode {
              display: block;
              padding: 0 0 0 20px;
              font-size: 12px;
              white-space: nowrap;
              width: 100%;

              .Top,
              .Bottom {
                position: relative;
                z-index: 1;
                height: 0.175rem;
              }

              .Top {
                margin: 0 0 -0.175rem;
              }

              .Center {
                z-index: 0;
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 0.25rem;
                margin: 0 0 -0.175rem;
                pointer-events: all;
                user-select: all;

                .Indicator,
                .Name {
                  height: 1.35rem;
                  line-height: 1.3rem;
                }

                .Indicator {
                  grid-column: 1 / 2;
                  width: 12px;

                  &.isCollapsed {
                    transform: rotate(-90deg);
                  }

                  &:hover {
                    cursor: pointer;
                  }
                }

                .Name:hover {
                  cursor: grab;
                }

                &:hover {
                  background-color: $color-secondary;
                }
              }
            }

            .ChildNodes {
              padding-left: 20px;
            }

            &.Ends {
              .ParentNode {
                padding-left: 38px;
              }
            }

            &.DropPending {
              &.DropPendingTop {
                > .ParentNode > .Top {
                  margin-top: -0.0875rem;
                  padding-bottom: 0.0875rem;
                  background: linear-gradient(
                    to top,
                    transparent 0px,
                    transparent 0.0875rem,
                    $color-primary-light 0.0875rem,
                    $color-primary-light 0.175rem
                  );
                }
              }

              &.DropPendingCenter {
                background-color: $color-secondary;
              }

              &.DropPendingBottom {
                > .ParentNode > .Bottom {
                  margin-bottom: -0.0875rem;
                  padding-top: 0.0875rem;
                  background: linear-gradient(
                    to bottom,
                    transparent 0px,
                    transparent 0.0875rem,
                    $color-primary-light 0.0875rem,
                    $color-primary-light 0.175rem
                  );
                }
              }
            }
          }
        }
      }
    }
  }
}
