@import 'src/assets/styles/config.scss';

.OutputPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;

  .Outputs {
    // Make the outputs take up the full
    // height of the parent.
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px 15px 30px;
  }

  .OutputNavigation {
    // Make the navigation buttons take up the bottom
    // of the parent.
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: row-reverse;
    // Relative position needed in order to display
    // navigation above the outputs.
    position: relative;
    padding: 0.75em;

    .ViewNewOutputs {
      $icon-dimensions: 1.5em;

      cursor: pointer;
      user-select: none;
      display: flex;
      column-gap: 0.5em;
      flex-direction: row;
      background-color: $color-accent-dark;
      font-size: 0.9rem;
      box-shadow: 0 0 4em 1em rgba($color-primary-dark, 0.3);
      border: 3px solid rgba($color-primary-light, 0.35);
      border-radius: 0.25em;
      padding: 0.25em 0.6em;

      .Text {
        height: $icon-dimensions;
        color: $color-primary-light;
        font-weight: bold;
        line-height: $icon-dimensions;
      }

      .Icon {
        width: $icon-dimensions;
        height: $icon-dimensions;
        background-image: url('/assets/images/icons/down.svg');
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
