@import 'src/assets/styles/config.scss';

.CreateUserEntry {
  width: 100%;

  .DetailDropDown {
    .Field {
      .AllOptions {
        .Option {
          padding: 7px 0;

          &:first-child {
            padding: 7px 0;
          }

          &:nth-child(2) {
            margin: 0;
          }

          &:hover {
            color: $color-accent-light;
          }
        }
      }
    }
  }

  .DetailToggle {
    border: none;
    grid-template-columns: auto 1fr;
    padding-left: 0;

    .Label {
      font-size: 0.88em;
    }
  }
}
