@import '~assets/styles/config.scss';

.CreateUserEntry {
  width: 100%;

  .DetailDropDown {
    .Field {
      .AllOptions {
        .Option {
          padding: 7px 0;

          &:first-child {
            padding: 7px 0;
          }

          &:nth-child(2) {
            margin: 0;
          }

          &:hover {
            color: $color-accent-light;
          }
        }
      }
    }
  }

  .NeedsPasswordResetContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 8% 0;

    .Title {
      font-size: 14px;
      margin-right: 15px;
    }

    .Toggle {
      color: $color-accent-light;
      margin: 5px 0 0;
      font-size: 14px;
      transform: scale(0.9);
      margin: 0;
    }
  }
}
