@import 'src/assets/styles/config.scss';

.EditUserEntry {
  width: 100%;

  .DetailToggle {
    border: none;
    grid-template-columns: auto 1fr;
    padding-left: 0;

    .Label {
      font-size: 0.88em;
    }
  }
}
