@import 'src/assets/styles/config.scss';

.EditUserEntry {
  width: 100%;

  .UserIDContainer,
  .RoleContainer {
    margin: 20px 8% 0;

    .Title {
      font-size: 14px;
      margin-right: 15px;
    }

    .UserID,
    .Role {
      color: $color-accent-light;
      margin: 5px 0 0;
      font-size: 14px;
    }
  }

  .DetailToggle {
    border: none;
    grid-template-columns: auto 1fr;

    .Label {
      font-size: 0.88em;
    }
  }
}
