@use '../../mixins.scss' as *;
@use '../../../../../../assets/styles/config.scss' as *;

.MissionMap {
  .Overlay {
    box-sizing: border-box;
    position: absolute;
    z-index: $z-map-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-secondary, 0.5);
    border: 2px solid $color-primary-light;

    // Default font-size for HUD elements
    // should be the root font-size.
    font-size: 1rem;

    &.Inactive {
      // Hide if not active.
      display: none;
    }

    > * {
      position: absolute;
    }

    .MapModal {
      // Center modals.
      @include center-origin;
      top: 50%;
      left: 50%;

      box-sizing: border-box;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: auto 2.5em;
      row-gap: 1.25em;
      width: 90%;
      max-width: 33em;
      height: fit-content;
      max-height: 90%;
      padding: 1.5em;

      .Heading {
        min-width: 12.5em;
        user-select: none;
        line-height: 1.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .Close {
        background: none;
        padding: 0;
      }
    }
  }
}
