@import 'src/assets/styles/config.scss';

.ActionEntry {
  &.SidePanel {
    .BorderBox {
      .AltDesign2-list {
        .items {
          .item {
            .Row {
              .ButtonSvgPanel {
                .ButtonSvg {
                  &.NoEdit {
                    cursor: not-allowed;
                    opacity: 0.35;

                    &:hover {
                      filter: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
