@import 'src/assets/styles/config.scss';

.Effects {
  $nav-vertical-padding: 20px;
  $content-vertical-padding: 45px;
  $nav-bottom-border: 2px;
  $content-horizontal-padding: 30px;
  $content-width: calc(100% - #{$content-horizontal-padding * 2});
  $content-height: calc(
    100% - #{$nav-height + $nav-bottom-border + $nav-vertical-padding +
      $content-vertical-padding * 2}
  );

  position: absolute;
  top: calc(
    $nav-height + $nav-vertical-padding + $content-vertical-padding +
      $nav-bottom-border
  );
  left: $content-horizontal-padding;
  box-sizing: border-box;
  z-index: 100;
  width: $content-width;
  min-width: 670px;
  margin: 0 auto;
  border: 2px solid $color-main;
  height: $content-height;
  box-shadow: $box-shadow-alt7;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;

  .Close {
    background: linear-gradient(
      $background-alt7 0%,
      $background-alt7 80%,
      transparent 100%
    );
    margin: 0;
    padding-bottom: 10px;
    padding-right: 20px;
    width: calc(100% - 20px);
  }

  h2 {
    text-align: center;
  }

  .EffectsContent {
    display: grid;
    justify-items: center;
    align-items: center;

    .TargetEnvironments {
      width: 100%;

      // todo: remove this when the args are implemented
      max-width: 267px;

      .TargetEnvironment {
        width: 100%;

        // todo: remove this when the args are implemented
        max-width: 267px;

        &:hover {
          cursor: pointer;
          color: $terminal;
        }

        &.Selected {
          &:hover {
            color: unset;
            pointer-events: none;
          }
        }
      }
    }

    .Targets {
      width: 100%;

      // todo: remove this when the args are implemented
      max-width: 267px;

      .Target {
        width: 100%;

        // todo: remove this when the args are implemented
        max-width: 267px;

        &:hover {
          cursor: pointer;
          color: $terminal;
        }

        &.Selected {
          &:hover {
            color: unset;
            pointer-events: none;
          }
        }
      }
    }

    .Args {
      display: grid;
      align-items: center;
      width: 100%;

      // todo: remove this when the args are implemented
      max-width: 267px;

      h3 {
        margin: 60px 0 0;
      }

      .ArgsForm {
        margin: 20px 8% 0;

        .AsteriskInfo {
          margin: 20px 5px 10px;
          font-size: 0.7em;
          color: $color-pointer-mark;

          sup {
            font-size: 0.95em;
            color: $color-pointer-mark;
          }
        }

        .Grouping {
          margin: 20px 0 0;
          padding: 0 0 30px;
          border: 2px solid $color-main;

          // .ArgField {
          // }

          // &.Group {
          //   margin: 20px 0 0;
          //   padding: 0 0 30px;

          //   &.FirstGrouping {
          //     padding: 0;
          //     border-bottom: none;
          //   }

          //   &.MiddleGrouping {
          //     border-top: none;
          //     border-bottom: none;
          //     margin: 0;
          //     padding: 10px 0 0;
          //   }

          //   &.LastGrouping {
          //     border-top: none;
          //     border-bottom: 2px solid $color-main;
          //     padding: 10px 0 30px;
          //     margin: 0;
          //   }
          // }

          .Detail {
            min-width: calc(205px - 16%);

            &.DetailToggle {
              display: grid;
              align-items: center;
              grid-template-columns: auto 60px;
              margin-top: 30px;

              .Label {
                margin: 0;
              }

              .Field {
                border: none;
                padding: 0;
                margin: 0 0 0 15px;
              }
            }
          }
        }
      }
    }
  }
}
