@import 'src/assets/styles/config.scss';

.MissionEntry {
  &.SidePanel {
    .BorderBox {
      .BoxTop {
        grid-template-columns: auto 70% auto;

        .Path {
          $resizeablePanelMinWidth: 330px;
          $border-width: 2px;
          $padding: 10px;

          min-width: calc(
            #{$resizeablePanelMinWidth} - #{$border-width * 2} - #{$padding}
          );
          grid-column: 2 / 3;
        }
      }

      .SidePanelSection {
        margin: 20px 6.5% 40px;
      }
    }
  }
}
