@import '~assets/styles/config.scss';

.NodeActionEntry {
  margin: 20px 0;
  padding: 20px 0 30px;
  border-top: 2px solid $color-main;
  border-bottom: 2px solid $color-main;

  &.DisableBottomBorder {
    border-bottom: none;
    margin: 20px 0 0;
  }

  .Detail {
    min-width: calc(225px - 20px);

    .Field {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .NoActions {
    margin: 30px auto 0;
    width: calc(100% - 60px);
    font-size: 0.85em;
  }
}
