@import '~assets/styles/config.scss';

.NodeActionDetails {
  &.SidePanelSection {
    border: 2px solid $color-main;
    background-color: rgba($background-main, 0.65);

    .ActionInfo {
      margin: 0 auto;
      padding-top: 25px;
      text-align: center;
      color: $color-accent;
      font-size: 15px;
    }

    > .Label {
      margin: 40px auto 0;
      border-bottom: 2px solid $color-main;
      width: 225px;
      padding: 0 0 8px;
      font-size: 12.5px;
    }

    .SelectorContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 20px auto;
      width: 225px;
      text-align: center;
      font-size: 14px;

      .Previous,
      .Next {
        user-select: none;
        &:hover {
          cursor: pointer;
          color: $terminal;
        }
      }

      .CurrentActionDisplayed {
        &:hover {
          cursor: default;
        }
      }
    }
  }
}

.UserActions {
  display: block;
  text-align: center;

  .Action {
    width: 40px;
    text-align: center;
    margin: 0;
  }

  * {
    transition: transform 250ms, opacity 250ms;
  }
}
