@import 'src/assets/styles/config.scss';

.NodeEntry {
  &.SidePanel {
    .BorderBox {
      .BoxTop {
        grid-template-columns: auto 70% auto;

        .Close {
          background: linear-gradient(
            $background-alt7 0%,
            $background-alt7 80%,
            transparent 100%
          );
          grid-column: 3 / 3;
          padding: 15px 0 0;
          min-width: 28px;
        }
      }

      .SidePanelSection {
        margin: 20px 6.5% 40px;

        .Color {
          .Field {
            border-bottom: none;

            .AllOptions {
              display: grid;
              grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
              place-content: center;
              align-items: center;
              width: 100%;
              max-width: 250px;
              margin: 10px 0 0;

              .Option {
                width: 75%;
                height: 72%;
                aspect-ratio: 1 / 1;
                margin: 3px;
                padding: 0;
                color: transparent;
                overflow: hidden;
                border: 1px solid $color-main;
              }
            }
          }
        }

        .ColorInfo {
          display: grid;
          grid-template-columns: auto 80px;
          align-items: baseline;
          border-bottom: 2px solid $color-main;
          width: 84%;
          margin: 20px 8% 0;
          padding: 0 0 15px;

          .SelectedColorText {
            width: 100%;
            height: 20px;
            font-size: 12.5px;

            .SelectedColorBox {
              display: inline-block;
              vertical-align: bottom;
              box-sizing: border-box;
              color: transparent;
              overflow: hidden;
              border: 2px solid $color-negative;
              width: 20px;
              height: 15px;
            }
          }

          .ButtonContainer {
            min-width: 0;

            .ColorFill {
              min-width: 0;
              width: 100%;
              padding: 0;
              margin: 5px 0 0;
            }
          }
        }

        .AltDesign2-list {
          background: none;
          margin: 20px 8% 0;
          padding: 0;
          width: 84%;
          border-bottom: unset;

          .items {
            .item {
              width: calc(100% - 20px);
              max-width: unset;

              .ActionRow {
                display: grid;
                align-items: center;
                grid-template-columns: auto 80px;
                width: 100%;
              }
            }
          }
        }

        .NewAction {
          .ButtonContainer {
            .AddAction {
              border-bottom: 2px solid $color-main;
              margin: 20px 0 0;
              padding: 0 0 15px;
            }
          }
        }
      }
    }
  }
}
