@import 'src/assets/styles/config.scss';

.MissionMap {
  .Overlay {
    .CreateEffectModal {
      border: 2px solid $color-main;
      box-shadow: $box-shadow-alt7;

      .Heading {
        min-width: 12.5em;
        user-select: none;
        line-height: 1.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .Close {
        background: none;
        padding: 0;
      }

      .TargetEnvEntry,
      .TargetEntry {
        grid-column: span 2;

        .Detail {
          margin: 20px 0 0;
        }
      }

      .ButtonText {
        grid-column: span 2;
        margin: 20px 0 10px;
      }
    }
  }
}
