@import '../../../config.scss';

.UserEntry {
  width: 100%;

  .DetailDropDown {
    .Field {
      .AllOptions {
        .Option {
          padding: 7px 0;

          &:first-child {
            padding: 7px 0;
          }

          &:nth-child(2) {
            margin: 0;
          }

          &:hover {
            color: $color-accent-light;
          }
        }
      }
    }
  }

  .UserIDContainer,
  .RoleContainer {
    margin: 20px 8% 0;

    .Title {
      font-size: 14px;
    }

    .UserID,
    .Role {
      color: $color-accent-light;
      margin: 5px 0 0;
      font-size: 14px;
    }
  }
}
