@use '@client/assets/styles/config.scss' as *;

.PanelTab {
  $border-width: 2px;

  cursor: pointer;
  overflow: visible;
  display: flex;
  align-items: center;
  height: calc(2em - #{$border-width});
  padding: 0 0.75em;

  .TabIcon {
    .ButtonSvg_warning-transparent {
      &:hover {
        filter: none;
      }
    }
  }

  .TabTitle {
    user-select: none;
    font-size: 0.75em;
    font-weight: bold;
    color: $color-faded;
  }

  &.Selected {
    border-bottom: $border-width solid $color-primary-light;
  }

  &.Selected,
  &:hover {
    .TabTitle {
      color: $color-accent-light;
    }
  }

  &.Highlighted {
    .TabTitle {
      color: rgba($color-neutral, 0.7);
      font-weight: bold;
    }

    &.Selected,
    &:hover {
      .TabTitle {
        color: $color-neutral;
      }
    }

    &.Selected {
      border-bottom: $border-width solid $color-neutral;
    }
  }
}
