@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

// For more styling rules of the `ListItem` component,
// see the `.ListItemLike` styling rules in `ListPage.scss`.
.ListItem {
  cursor: pointer;

  &:hover:not(.Selected):not(.PartiallyDisabled) {
    @include background-mask($opacity: 0.05);
  }

  &.Selected {
    @include background-mask($opacity: 0.15);
  }

  .ItemOptions {
    display: flex;
    align-items: center;
  }
}
