@import 'src/assets/styles/config.scss';

.OutputPanel {
  .BorderBox {
    height: 100%;
    border: 2px solid $color-main;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px 20px 30px;

    .Text {
      padding: 15px 0 0;
      font-size: 0.75em;
      line-height: 1rem;

      .LineCursor {
        color: $color-alt1;
      }

      .Succeeded * {
        color: $session-green;
      }

      .Failed * {
        color: $session-red;
      }
    }
  }
}
