@import 'src/assets/styles/config.scss';

.OutputPanel {
  .BorderBox {
    height: 100%;
    border: 2px solid $color-main;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px 20px 30px;

    .Text {
      padding: 15px 0 0;
      font-size: 0.75em;
      line-height: 1rem;

      .LineCursor {
        color: $color-alt1;

        .Location {
          $content-size: 1.5em;

          display: inline-block;
          vertical-align: middle;
          background: url('/assets/images/icons/locate-node.svg');
          background-size: $content-size;
          background-repeat: no-repeat;
          background-position: center;
          width: $content-size;
          height: $content-size;
          // cursor: pointer;
          cursor: help;
        }
      }

      .Succeeded * {
        color: $session-green;
      }

      .Failed * {
        color: $session-red;
      }
    }
  }
}
