@import 'src/assets/styles/config.scss';

.MissionMap {
  .Overlay {
    .ActionExecModal {
      border: 2px solid $color-main;
      box-shadow: $box-shadow-alt2;

      .Heading {
        min-width: 16.5em;
        user-select: none;

        .NodeName {
          line-height: 1.5em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .DropDownLabel {
          margin: 1em 0 0;
          font-size: 0.8em;
        }
      }

      .Close {
        background: none;
        padding: 0;
      }

      .NoActions {
        display: none;
        color: $terminal-red;
        margin: 0;
        margin: 0 15px 25px 20px;
      }

      .DropDown {
        min-width: 19em;
        user-select: none;

        // Hide options if the drop down is
        // collapsed.
        &.Collapsed {
          .Selection {
            .Arrow {
              transform: rotate(180deg);
            }
          }
          .Options {
            display: none;
          }
        }

        // Disable the drop down if there are
        // less than two options.
        &.Disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        .Selection {
          cursor: pointer;
          display: grid;
          grid-template-columns: 1fr auto;
          border: 2px solid $color-main;
          padding: 0.7em 0.9em;
          box-shadow: $box-shadow-alt2;
          color: $color-accent-light;

          &:hover {
            background-color: $background-alt2;
          }

          .Arrow {
            color: $color-accent-light;
            font-size: 2em;
            height: 0.5em;
            line-height: 1em;
          }
        }

        .Options {
          cursor: pointer;
          border: 2px solid $color-main;
          box-shadow: $box-shadow-alt2;
          height: auto;
          max-height: 140px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 15px;
          }

          .Option {
            padding: 0.5em 0.9em;
            color: $color-accent-light;
            list-style-type: none;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.Disabled {
              pointer-events: none;
              user-select: none;
            }

            &:hover {
              box-shadow: none;
              background-color: $background-alt2;
            }
          }
        }
      }

      .ActionPropertyDisplay {
        border: 2px solid $border-color-main;
        border-radius: 10px;
        font-size: 14px;
        margin: 0;
        padding: 15px;
        padding-left: 30px;

        .Property {
          margin: 10px 0;
          padding: 0 5px;
          color: $terminal;

          .Updated {
            color: $color-main;
            transform: scale(1.1);
            transition: color 250ms ease-in-out, transform 250ms ease-in-out;
          }

          :not(.Updated) {
            color: $terminal;
            transform: scale(1);
            transition: color 250ms ease-in-out, transform 250ms ease-in-out;
          }

          .Label {
            color: $terminal;
            text-decoration: underline;
          }

          .RichTextOutputBox * {
            color: $terminal;
          }

          .RichTextOutputBox {
            display: inline;
            line-height: 20px;

            p:first-child {
              display: inline;
            }
          }
        }

        @media only screen and (max-width: 655px) {
          & {
            padding-left: 5px;

            .Property {
              margin: 5px 0 0 5px;
              padding: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .Buttons {
        .Button {
          margin: 0;
        }
      }

      > :not(.Heading):not(.Close) {
        grid-column: span 2;
      }
    }
  }
}
