@use 'metis/client/assets/styles/config.scss' as *;
@use 'metis/client/assets/styles/util.scss' as *;

.MapPreferences {
  border: 2px solid $color-primary-light;
  padding: 0.75em;
  background-color: $color-primary;

  .Heading {
    margin-bottom: 1em;
  }

  .Detail {
    grid-column: span 2;
  }
}
