@import '../../../../../../assets/styles/config.scss';

.Tab {
  cursor: pointer;
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid transparent;
  padding-left: 0.7em;
  padding-right: 0.2em;

  &:not(.Selected) {
    opacity: 0.5;
  }

  &:hover,
  &.Selected {
    opacity: 1;
  }

  &.Selected {
    border-bottom: 2px solid white;

    .Text {
      width: fit-content;
    }
  }

  .Text {
    padding: 0.75em 0 0.75em;
    font-size: 0.75em;
    font-weight: bold;
    white-space: nowrap;
  }

  .TextFade {
    width: 0.5em;
  }

  .Text,
  .TextFade {
    height: 1em;
  }
}
