@import '../../../../../../assets/styles/config.scss';

.Tab {
  cursor: pointer;
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  margin-bottom: -2px;
  padding-left: 0.5em;

  &:not(.Selected) {
  }

  &.Selected {
    opacity: 1;

    .Text {
      border-bottom: 2px solid white;
      font-weight: bold;
    }
  }

  .Text {
    border-bottom: 2px solid transparent;
    // max-width: 10em;
    padding: 0.75em 0 0.75em;
    font-size: 0.75em;
    white-space: nowrap;
  }

  .TextFade {
    width: 0.5em;
  }

  .Text,
  .TextFade {
    height: 1em;
  }
}
