@import '../../../../../../assets/styles/config.scss';

.Tab {
  cursor: pointer;
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr auto;
  margin-bottom: -2px;
  border-right: 2px solid rgba(#fff, 0.1);
  border-bottom: 2px solid transparent;
  padding-left: 0.7em;
  padding-right: 0.2em;

  &:not(.Selected) {
  }

  &.Selected {
    opacity: 1;
    border-bottom: 2px solid white;

    .Text {
      font-weight: bold;
      width: fit-content;
    }
  }

  .Text {
    // max-width: 10em;
    padding: 0.75em 0 0.75em;
    font-size: 0.75em;
    white-space: nowrap;
  }

  .TextFade {
    width: 0.5em;
  }

  .Text,
  .TextFade {
    height: 1em;
  }
}
