@import '../../../../../../assets/styles/config.scss';
@import '../../mixins.scss';

.TabBar {
  user-select: none;
  display: flex;
  padding: 0em 0.4em 0;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(#fff, 0.1);
  width: 100%;
  background: $background-map-imitation;

  .ButtonSvg.add {
    margin: 0;
    transform: scale(0.6) translateY(0.175em);
    // transform-origin: center left;
  }
}
