@import '../../../../../../assets/styles/config.scss';
@import '../../mixins.scss';

.TabBar {
  $controls-width: 5em;

  overflow: hidden;
  border-bottom: 2px solid rgba(#fff, 0.1);
  display: grid;
  grid-template-columns: calc(100% - $controls-width) auto;
  width: 100%;
  background: $background-map-imitation;

  &,
  > * {
    box-sizing: border-box;
  }

  .TabSpace {
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;

    .ButtonSvg.add {
      margin: 0 0.125em;
      transform: scale(0.7) translateY(0.23em);
      // transform-origin: center left;
    }
  }

  .Controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: $z-map-tab-bar-controls;
    margin-bottom: -2px;
    width: $controls-width;
    border-left: 2px solid rgba($color-main, 0.1);
    border-bottom: 2px solid rgba($color-main, 0.1);
    background: $background-map-imitation;
    font-weight: bold;

    .Control {
      user-select: none;
      cursor: pointer;
      padding: 0 0.625em;

      &:hover {
        color: $color-accent;
      }
    }
  }
}
