@import '../../config.scss';

.ActionPropertyDisplay {
  border: 2px solid $border-color-main;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 20px;

  .TimeToExecute,
  .ChosenNodeAction,
  .SuccessChance,
  .Description {
    margin: 10px 0;
    padding: 0 20px;
  }

  .TimeToExecute {
    color: $terminal;
  }

  .ChosenNodeAction {
    color: $terminal-blue;
  }

  .SuccessChance {
    color: $terminal-red;
  }

  .Description {
    color: $terminal-yellow;
  }
}

.hide {
  display: none;
}
