@import '../../config.scss';

.ActionPropertyDisplay {
  border: 2px solid $border-color-main;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px auto;

  .TimeToExecute,
  .ChosenNodeAction,
  .SuccessChance,
  .ResourceCost,
  .Description {
    margin: 10px 0;
    padding: 0 20px;
  }

  .TimeToExecute {
    color: $terminal;
  }

  .ChosenNodeAction {
    color: $terminal-blue;
  }

  .SuccessChance {
    color: $terminal-red;
  }

  .ResourceCost {
    color: $terminal-purple;
  }

  .Description {
    color: $terminal-yellow;
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 655px) {
  .ActionPropertyDisplay {
    .TimeToExecute,
    .ChosenNodeAction,
    .SuccessChance,
    .ResourceCost,
    .Description {
      margin: 5px 0 0 5px;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
