.Branding {
  background-image: url('../../assets/images/cesar-icon-white.png');
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 45px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  padding: 0;
}

.disabled {
  cursor: default;
}
