@import '../../config.scss';

.Confirmation {
  position: absolute;
  z-index: $z-index-confirmation;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  .backing {
    opacity: 1;
    position: fixed;
    z-index: $z-index-confirmation;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba($background-alt1, 0.85);

    .alert-box {
      display: block;
      box-sizing: border-box;
      transition: 750ms transform;
      margin: 200px auto;
      border: 2px solid $color-main;
      border-radius: 45px;
      max-width: 600px;
      max-height: 600px;
      padding: 60px 60px 25px;
      background-color: rgba($background-alt2, 0.75);

      .message {
        overflow-y: auto;
        margin: 0 auto;
        border: 2px solid $color-main;
        border-radius: 20px;
        max-height: 300px;
        width: -moz-fit-content;
        width: fit-content;
        padding: 10px 30px 25px;
        background-color: rgba($background-alt1, 1);
      }

      .actions {
        margin: 20px 0 0;
        text-align: center;
      }
    }
  }

  &.pending {
    .alert-box {
      background-color: rgba($background-alt2, 1);

      .actions {
        display: none;
      }
    }
  }

  &:not(.active) {
    pointer-events: none;
    opacity: 0;

    .alert-box {
      transform: scale(0);
    }
  }
}
