@import '../../config.scss';

.Text {
  padding: 15px 0;
  font-size: 0.75em;
  list-style-type: none;
  overflow: auto;
}

.line-cursor {
  color: $terminal;
}

.Communications {
  color: $communication;
}

.Infrastructure {
  color: $infrastructure;
}

.Satellite {
  color: $satellite-services;
}

.Air {
  color: $air-defense;
}
