@import '../../config.scss';

.Text {
  padding: 15px 0;
  font-size: 0.75em;
  list-style-type: none;
  overflow: auto;
}

.line-cursor {
  color: $terminal;
}

.communication {
  color: $communication;
}

.infrastructure {
  color: $infrastructure;
}

.satellite-services {
  color: $satellite-services;
}
