@import '../../config.scss';

.ConsoleOutput {
  .Text {
    padding: 15px 0;
    font-size: 0.75em;
    list-style-type: none;
    overflow: auto;
  }

  .line-cursor {
    color: $terminal;
  }

  .green {
    color: $terminal-green;
  }

  .pink {
    color: $terminal-pink;
  }

  .yellow {
    color: $terminal-yellow;
  }

  .blue {
    color: $terminal-blue;
  }

  .khaki {
    color: $terminal-khaki;
  }

  .purple {
    color: $terminal-purple;
  }

  .red {
    color: $terminal-red;
  }

  .orange {
    color: $terminal-orange;
  }

  .default {
    color: $color-main;
  }

  .succeeded {
    color: $success;
  }

  .failed {
    color: $fail;
  }
}
