@import '../../config.scss';

.ExecuteNodePath {
  box-sizing: border-box;
  z-index: 100;
  width: 350px;
  margin: 0 auto;
  border: 2px solid $color-main;
  height: fit-content;
  padding: 10px 20px;
  background-color: $background-main;
  overflow-y: auto;
  overflow-x: hidden;

  .PromptDisplayText {
    font-size: 0.95em;
    margin: 0 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    height: fit-content;

    @media only screen and (max-width: 655px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .x {
    position: relative;
    left: 99%;
    list-style-type: none;
    width: 10%;
    margin: 0 0 3px;
    padding: 0;

    &.x:hover {
      cursor: pointer;
      color: black;
    }
  }

  .Buttons {
    // styling for the grid-template-columns
    // and grid-template-rows can be found
    // in the "ExecuteNodePath.tsx file"
    display: grid;

    .Button {
      text-align: center;
      margin: 0 15px 15px 0;
      color: $color-accent-light;
      background-color: $background-alt2;
      padding: 5px;
      border: 2px solid $color-main;
      border-radius: 4px;
      height: fit-content;
      width: fit-content;

      &:hover {
        cursor: pointer;
        background-color: black;
      }

      &.disabled {
        cursor: default;
        opacity: 0.35;

        &.disabled:hover {
          background-color: $background-alt2;
        }
      }

      @media only screen and (max-width: 655px) {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
