@import '../../config.scss';

.Detail {
  margin: 27px auto 0;
  width: 225px;

  .Label {
    margin: 11px 0 0;
    width: 100%;
    font-size: 12.5px;
  }

  @mixin fieldDimensions() {
    box-sizing: border-box;
    margin: 8px 0 0;
    border-top: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
    width: 100%;
    padding: 11px 10px 11px;
  }

  .Field {
    @include fieldDimensions();
    background-color: $background-alt2;
    color: $color-accent-light;
    font-size: 14px;
  }

  &.DetailNumber {
    .Unit {
      pointer-events: none;
      @include fieldDimensions();
      margin-bottom: -51px;
      padding-right: 15px;
      border-color: transparent;
      text-align: right;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &.DetailBox {
    .Field {
      overflow-y: hidden;
      resize: none;
    }
  }
}
