@import '../../config.scss';

.Detail {
  margin: 27px auto 0;
  width: 225px;

  .Label {
    margin: 11px 0 0;
    width: 100%;
    font-size: 12.5px;
  }

  @mixin fieldDimensions() {
    box-sizing: border-box;
    margin: 8px 0 0;
    border-top: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
    width: 100%;
    padding: 11px 10px 11px;
  }

  .Field {
    @include fieldDimensions();
    background-color: $background-alt2;
    color: $color-accent-light;
    font-size: 14px;
  }

  &.DetailNumber {
    .Unit {
      pointer-events: none;
      @include fieldDimensions();
      margin-bottom: -51px;
      padding-right: 15px;
      border-color: transparent;
      text-align: right;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &.DetailBox {
    .Field {
      overflow-y: hidden;
      resize: none;
    }
  }

  &.DetailDropDown {
    .Field {
      .Option.Selected {
        display: grid;
        grid-template-columns: auto 20px;

        .Indicator {
          display: inline-block;
          font-size: 16px;
        }

        .Text {
          color: $color-accent-light;
        }
      }

      .Option {
        cursor: pointer;
        user-select: none;
        padding: 5px 0 5px;

        &:first-child {
          padding: 0;
        }

        &:nth-child(2) {
          margin: 20px 0 0;
        }
      }

      &.IsCollapsed {
        .Option.Selected {
          .Indicator {
            transform: scale(1.25, 0.75);
          }
        }

        .Option:not(.Selected) {
          display: none;
        }
      }

      &.IsExpanded {
        .Option.Selected {
          .Indicator {
            transform: scale(1.25, -0.75);
          }
        }
      }
    }
  }
}
