@import '../../config.scss';

.MissionMap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;

  .Nodes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-right: 10px;
    width: 100%;
    height: 800px;
    border: 2px solid $color-main;
    overflow: auto;
  }

  button {
    margin: 15px 0;
    padding: 10px;
    width: 25%;
    height: 50px;
    background-color: $color-accent;
    color: $background-main;
    border: 2px solid $background-main;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'monospace', sans-serif;
    overflow: auto;

    &.Disabled {
      pointer-events: none;
      opacity: 0.25;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
