@import '../../config.scss';

.MissionMap {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid $color-main;
  width: 700px;
  height: 100%;
  padding: 0;
  background: linear-gradient(
      to right,
      rgba($color-accent, 0.6) 0,
      rgba($color-accent, 0.6) 1%,
      transparent 1%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      rgba($color-accent, 0.6) 0,
      rgba(rgba($color-accent, 1), 0.6) 4%,
      rgba($background-main, 0.45) 4%,
      rgba($background-main, 0.45) 100%
    );

  &.active-navigation {
    .ButtonSVGPanel {
      pointer-events: none;
    }

    .help {
      pointer-events: none;
    }

    .List {
      .items {
        .item {
          pointer-events: none;
        }
      }
    }
  }

  &.creation-mode {
    .navigation {
      background-color: $background-creation-mode;
    }
  }

  /* -- MAP | BUTTON SVG PANEL -- */

  .map-actions.ButtonSVGPanel {
    position: relative !important;
    margin-bottom: -65px;
    height: 65px;

    &.map-is-zoomed-in {
      .ButtonSVG.zoom-in {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &.map-is-zoomed-out {
      .ButtonSVG.zoom-out {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .glue {
      transition: 250ms background-color;
      border: 2px solid $color-main;
      border-bottom: none;
      border-radius: 0;

      .ButtonSVG {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  /* -- MAP | NAVIGATION -- */

  .navigation {
    cursor: move;
    position: relative;
    z-index: $z-index-objective-map-navigation;
    transition: 250ms background-color;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
  }

  /* -- MAP | HELP -- */

  .help {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    .MoreInformation {
      position: relative;
      z-index: $z-index-objective-map-more-info;
      margin: 20px 25px;
    }
  }

  /* -- MAP | LIST -- */

  .List {
    position: relative;
    overflow: visible;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    background: none;

    .top {
      margin: 0 0 -125px;
      width: 100%;
      height: 125px;
      text-align: center;

      .list-header {
        position: relative;
        pointer-events: none;
        z-index: $z-index-objective-map-header;
        margin: 30px auto 0;
        border-radius: 0;
        width: fit-content;
        max-width: 65%;
        min-width: 260px;
        padding: 10px;
        text-align: center;

        .list-heading {
          user-select: none;
          box-sizing: border-box;
          border-radius: 0;
          height: 50px;
          padding: 14px 26px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .next-page,
      .previous-page {
        display: none;
      }
    }

    .filtering {
      display: none;
    }

    .items {
      overflow: visible;
      height: calc(100% - 130px);
      padding: 0;

      .item {
        position: relative;
        overflow: visible;
        z-index: $z-index-objective-map-item;
        box-sizing: border-box;
        transition: 250ms opacity;
        margin: 0;
        border: none;
        border-radius: 0;
        width: 260px;
        height: 35px;
        min-height: unset;
        background-color: adjust-color(
          $background-color-negative,
          $lightness: 5%
        );
        text-align: center;
        font-weight: 700;
        font-size: 13.5px;
        line-height: 13.5px;
        letter-spacing: normal;

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        &.no-items {
          display: none;
        }

        &.item-markdown {
          margin-left: 0;
          margin-right: 0;
        }

        .ActionPropertyDisplay {
          position: absolute;
          top: 0;
        }

        .wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: pre-line;

          .score {
            display: inline-block;
            background-color: $background-alt1;
            vertical-align: center;
          }

          .title {
            display: grid;
            align-items: center;
            color: $color-main;
            height: 100%;
            padding-top: auto;
            text-align: center;
          }
        }

        .executable {
          background: url(../../assets/images/icons/lightning.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 15%;
          height: 100%;
          margin: 0 2%;
        }

        .device {
          background: url(../../assets/images/icons/device.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 15%;
          height: 100%;
          margin: 0 4%;
        }

        .properties {
          display: none;
        }

        &.Selected {
          .title {
            align-items: unset;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &.scoreless {
          .wrapper {
            .score {
              display: none;
            }
          }
        }

        &.green {
          background-color: $node-green;
        }

        &.pink {
          background-color: $node-pink;
        }

        &.yellow {
          background-color: $node-yellow;
        }

        &.blue {
          background-color: $node-blue;
        }

        &.brown {
          background-color: $node-brown;
        }

        &.purple {
          background-color: $node-purple;
        }

        &.red {
          background-color: $node-red;
        }

        &.orange {
          background-color: $node-orange;
        }

        &.default {
          background-color: $background-alt1;
        }

        &.succeeded {
          background-color: $background-alt1;
          border-color: $success;
        }

        &.failed {
          background-color: $background-alt1;
          border-color: $fail;
        }

        &.LoadingBar {
          background-color: $background-alt1;
          border-color: $color-main;
        }

        @keyframes loading-animation {
          from {
            background-position-x: 0;
          }
          to {
            background-position-x: 40px;
          }
        }

        .loading {
          background-image: linear-gradient(
            -45deg,
            $loading-1 25%,
            $loading-2 25%,
            $loading-2 50%,
            $loading-1 50%,
            $loading-1 75%,
            $loading-2 75%,
            $loading-2 100%,
            $loading-1 100%
          );
          background-size: 40px 40px;
          animation-name: loading-animation;
          animation-duration: 0.75s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;

          &.hide {
            display: none;
            opacity: 0;
            position: absolute;
            left: -200vw;
          }
        }

        .ButtonSVG {
          font-size: unset;
          position: relative;
          border: unset;
          border: 2px solid $color-main;
          border-radius: 6px;
          background-color: rgba($background-alt1, 0.9);
          color: $color-main;

          &.remove {
            background-position: 50% 50%;
            background-size: 70% 70%;
            background-repeat: no-repeat;
          }
        }

        &.node-creator {
          background-color: $background-alt2;
          overflow: hidden;

          .wrapper {
            overflow: hidden;

            .title {
              transform: scale(1.75);
              overflow: hidden;
            }
          }
        }
      }

      .page-number {
        display: none;
      }
    }

    .actions {
      display: none;
    }
  }

  /* -- MAP | POINTERS -- */

  .pointers {
    position: relative;
    z-index: $z-index-objective-map-pointers;
    border: 2px solid transparent;
    stroke: rgba($color-main, 1);
    marker {
      polygon,
      circle {
        fill: rgba($color-accent-light, 1);
        stroke: none;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    margin: 0 5px 0 0;
  }

  @media only screen and (max-width: 275px) {
    width: 30%;
  }
}
