@import '../../config.scss';

.MissionMap {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid $color-main;
  width: 700px;
  height: $height;
  padding: 0;
  background: linear-gradient(
      to right,
      rgba($color-accent, 0.6) 0,
      rgba($color-accent, 0.6) 1%,
      transparent 1%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      rgba($color-accent, 0.6) 0,
      rgba(rgba($color-accent, 1), 0.6) 4%,
      rgba($background-main, 0.45) 4%,
      rgba($background-main, 0.45) 100%
    );
  text-align: center;

  &.active-navigation {
    .ActionPanel {
      pointer-events: none;
    }

    .help {
      pointer-events: none;
    }

    .List {
      .items {
        .item {
          pointer-events: none;
        }
      }
    }
  }

  /* -- MAP | ACTION PANEL -- */

  .map-actions.ActionPanel {
    position: relative !important;
    margin-bottom: -65px;
    height: 65px;

    &.map-is-zoomed-in {
      .Action.zoom-in {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &.map-is-zoomed-out {
      .Action.zoom-out {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .glue {
      transition: 250ms background-color;
      border: 2px solid $color-main;
      border-bottom: none;
      border-radius: 0;

      .Action {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  /* -- MAP | NAVIGATION -- */

  .navigation {
    cursor: move;
    position: relative;
    z-index: $z-index-objective-map-navigation;
    transition: 250ms background-color;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
  }

  /* -- MAP | HELP -- */

  .help {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    .MoreInformation {
      position: relative;
      z-index: $z-index-objective-map-more-info;
      margin: 20px 25px;
    }
  }

  /* -- MAP | LIST -- */

  .List {
    overflow: visible;
    margin: 0;
    height: 100%;
    width: unset;
    padding: 0;
    border: none;
    background: none;

    .top {
      margin: 0 auto -125px;
      width: 260px;
      height: 125px;

      .list-header {
        position: relative;
        pointer-events: none;
        z-index: $z-index-objective-map-header;
        margin: 30px auto 0;
        border-radius: 0;
        width: 100%;
        padding: 10px;

        .list-heading {
          border-radius: 0;
          padding: 14px 26px;
        }
      }

      .next-page,
      .previous-page {
        display: none;
      }
    }

    .filtering {
      display: none;
    }

    .items {
      overflow: visible;
      height: calc(100% - 130px);
      padding: 0;

      .item {
        position: relative;
        z-index: $z-index-objective-map-item;
        box-sizing: border-box;
        transition: 250ms opacity;
        margin: 0 auto;
        border: none;
        border-radius: 0;
        width: 260px;
        height: 35px;
        min-height: unset;
        background-color: adjust-color(
          $background-color-negative,
          $lightness: 5%
        );
        font-weight: 700;
        font-size: 13.5px;
        line-height: 13.5px;
        letter-spacing: normal;

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        &.no-items {
          display: none;
        }

        .NodeHoverDisplay {
          position: absolute;
          top: 0;
        }

        .wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: pre-line;
          overflow-y: scroll;

          .score {
            display: inline-block;
            background-color: $background-alt1;
            vertical-align: center;
          }

          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-main;
            height: 100%;
            padding-top: auto;
          }
        }

        .properties {
          display: none;
        }

        &.scoreless {
          .wrapper {
            .score {
              display: none;
            }
          }
        }

        // &.final,
        // &.bonus {
        // background-color: adjust-color(
        //   $background-color-negative,
        //   $lightness: 7.5%
        // );
        // }
      }

      .page-number {
        display: none;
      }
    }

    .actions {
      display: none;
    }
  }

  /* -- MAP | POINTERS -- */

  .pointers {
    position: relative;
    z-index: $z-index-objective-map-pointers;
    border: 2px solid transparent;
    stroke: rgba($color-main, 1);
    marker {
      polygon,
      circle {
        fill: rgba($color-accent-light, 1);
        stroke: none;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    margin: 0 5px 0 0;
  }

  @media only screen and (max-width: 275px) {
    width: 30%;
  }
}
