$color-background-darkest: $color-background-primary-darkest;
$color-background-darker: $color-background-primary-darker;
$color-background-dark: $color-background-primary-dark;
$color-background: $color-background-primary;
$color-background-light: $color-background-primary-light;
$color-background-lighter: $color-background-primary-lighter;
$color-background-lightest: $color-background-primary-lightest;

& {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  border: 2px solid rgba($color-border-lightest, 0.65);
  width: 90%;
  max-width: 1050px;
  height: 550px;
  padding: 0;
  background: linear-gradient(
      to right,
      rgba($color-background-primary-light, 0.6) 0,
      rgba($color-background-primary-light, 0.6) 1%,
      transparent 1%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      rgba($color-background-primary-light, 0.6) 0,
      rgba($color-background-primary-light, 0.6) 4%,
      rgba($color-background, 0.45) 4%,
      rgba($color-background, 0.45) 100%
    );

  &.active-navigation {
    .ActionPanel {
      pointer-events: none;
    }

    .help {
      pointer-events: none;
    }

    .List {
      .items {
        .item {
          pointer-events: none;
        }
      }
    }
  }

  /* -- MAP | ACTION PANEL -- */

  .map-actions.ActionPanel {
    position: relative !important;
    margin-bottom: -65px;
    height: 65px;

    &.map-is-zoomed-in {
      .Action.zoom-in {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &.map-is-zoomed-out {
      .Action.zoom-out {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .glue {
      transition: 250ms background-color;
      @include border-flare($opacity: 0.65, $radius: 0);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .Action {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  /* -- MAP | NAVIGATION -- */

  .navigation {
    cursor: move;
    position: relative;
    z-index: $z-index-objective-map-navigation;
    transition: 250ms background-color;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
  }

  /* -- MAP | HELP -- */

  .help {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    .MoreInformation {
      position: relative;
      z-index: $z-index-objective-map-more-info;
      margin: 20px 25px;
    }
  }

  /* -- MAP | LIST -- */

  .List {
    overflow: visible;
    margin: 0;
    height: 100%;
    width: unset;
    padding: 0;
    border: none;
    background: none;

    .top {
      margin: 0 auto -125px;
      width: 260px;
      height: 125px;

      .list-header {
        position: relative;
        pointer-events: none;
        z-index: $z-index-objective-map-header;
        margin: 30px auto 0;
        border-radius: 0;
        width: 100%;
        padding: 10px;

        .list-heading {
          border-radius: 0;
          padding: 14px 26px;
        }
      }

      .next-page,
      .previous-page {
        display: none;
      }
    }

    .filtering {
      display: none;
    }

    .items {
      overflow: visible;
      height: calc(100% - 130px);
      padding: 0;

      .item {
        position: relative;
        z-index: $z-index-objective-map-item;
        box-sizing: border-box;
        transition: 250ms opacity;
        margin: 0 auto;
        border: none;
        border-radius: 0;
        width: 260px;
        height: 35px;
        min-height: unset;
        background-color: adjust-color(
          $color-background-primary-lightest,
          $lightness: 5%
        );
        font-weight: 700;
        font-size: 13.5px;
        line-height: 13.5px;
        letter-spacing: normal;

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        .wrapper {
          position: relative;
          white-space: nowrap;

          .score {
            display: inline-block;
            background-color: $color-background-secondary-darkest;
            vertical-align: bottom;
          }

          .title {
            display: inline-block;
            vertical-align: bottom;
            color: $color-font-dark;
            text-overflow: ellipsis;
          }
        }

        .properties {
          display: none;
        }

        &.scoreless {
          .wrapper {
            .score {
              display: none;
            }
          }
        }

        &.final,
        &.bonus {
          // background-color: adjust-color(
          //   $color-background-primary-lightest,
          //   $lightness: 7.5%
          // );
        }
      }

      .page-number {
        display: none;
      }
    }

    .actions {
      display: none;
    }
  }

  /* -- MAP | POINTERS -- */

  .pointers {
    position: relative;
    z-index: $z-index-objective-map-pointers;
    border: 2px solid transparent;
    stroke: rgba($color-border-lightest, 0.65);
    marker {
      polygon,
      circle {
        fill: rgba($color-background-tertiary-lightest, 1);
        stroke: none;
      }
    }
  }
}
