@import '../../config.scss';

.Navigation {
  display: grid;
  grid-template-columns: auto 130px;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  vertical-align: bottom;

  .Branding {
    background-position-x: 0;
  }

  .Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: opacity 175ms;

    &:hover {
      border: 2px solid $color-accent;
      border-radius: 5px;
      margin: 0 10px;
    }
  }

  .Logout {
    display: none;
  }
}

// This is for the instructors view.
.Navigation {
  &.SignOut {
    .Logout {
      display: grid;
    }

    .Login {
      display: none;
    }
  }
}
