@import '../../config.scss';

.NewExecuteWindow {
  position: absolute;
  top: 300px;
  left: 20%;
  z-index: 100000000;
  width: 30%;
  margin-right: 10px;

  .ExecutionPane {
    border: 2px solid $color-main;
    background-color: $background-main;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
