@import '../../config.scss';

.NewExecuteWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-right: 10px;
  overflow-y: scroll;

  .ExecutionPane {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    border: 2px solid $color-main;
    background-color: $background-main;
    width: 100%;
    height: $height;
  }
}
