@import '../../config.scss';

.NodeActions {
  box-sizing: border-box;
  z-index: 100;
  width: 350px;
  height: auto;
  margin-right: 10px;
  border: 2px solid $color-main;
  background-color: $background-main;
  padding: 0;
  margin: 0;
  padding: 10px 20px 25px 20px;
  overflow-y: scroll;
  overflow-x: hidden;

  .x {
    position: relative;
    left: 99%;
    list-style-type: none;
    width: 10%;
    margin: 0 0 3px;
    padding: 0;

    &.x:hover {
      cursor: pointer;
      color: black;
    }
  }

  .PromptDisplayText {
    font-size: 0.95em;
    margin: 0 0 10px;
    height: fit-content;
  }

  .NoActions {
    color: $terminal-red;
    margin: 0;
    padding: 0;
  }

  .NodeActionDefault {
    display: grid;
    grid-template-columns: auto 50px;
    width: 75%;
    margin: 20px 0 1px 0;
    color: $color-accent-light;
    background-color: $background-alt2;
    padding: 5px;
    border: 2px solid $color-main;
    line-height: 20px;
    overflow: hidden;

    &.NodeActionDefault:hover {
      cursor: pointer;
      background-color: black;
    }

    .ArrowDown {
      position: relative;
      bottom: 7px;
      color: $color-accent-light;
      font-size: 2em;
      transform-origin: 50%;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }

  .NodeActionList {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 75%;
    padding: 5px;
    margin: 0;
    border: 2px solid $color-main;
    background-color: $background-alt2;
    height: auto;

    .NodeAction {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 97%;
      padding: 5px;
      color: $color-accent-light;
      list-style-type: none;
      text-decoration: none;

      &.NodeAction:hover {
        cursor: pointer;
        background-color: black;
      }
    }
  }

  .hide {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .NodeActions {
    .PromptDisplayText {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .NodeActionList {
      .NodeAction {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
