@import '../../config.scss';

.OutputBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;

  .BorderBox {
    margin-left: 10px;
    width: 100%;
    height: 800px;
    border: 2px solid $color-main;
    overflow: auto;
  }

  .TextArea {
    padding: 15px;
    margin: 0;
  }

  .Text {
    padding: 15px 0;
    font-size: 1.25em;
    list-style-type: none;
    overflow: auto;
  }

  .line-cursor {
    color: $terminal;
  }

  .communication {
    color: $communication;
  }

  .infrastructure {
    color: $infrastructure;
  }

  .satellite-services {
    color: $satellite-services;
  }
}
