@import '../../config.scss';

.OutputBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;

  .BorderBox {
    margin-left: 10px;
    width: 100%;
    height: 800px;
    border: 2px solid $color-main;
  }

  .Text {
    padding: 15px;
    font-size: 1.25em;
  }
}
