@import '../../config.scss';

.ResizablePanel {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

.PanelSizeRelationship {
  $ResizeBar-width: 10px;

  display: grid;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;

  .ResizeBar {
    opacity: 0;
    width: $ResizeBar-width;
    background: linear-gradient(
      to right,
      transparent 3px,
      $color-accent-light 3px,
      $color-accent-light calc(#{$ResizeBar-width} - 3px),
      transparent calc(#{$ResizeBar-width} - 3px),
      transparent $ResizeBar-width
    );

    &:hover {
      cursor: ew-resize;
      opacity: 1;
    }
  }

  &.IsDragging {
    *,
    *::before,
    *::after {
      user-select: none !important;
    }

    .ResizeBar {
      cursor: ew-resize;
      opacity: 1;
      background: linear-gradient(
        to right,
        transparent 3px,
        $color-accent-dark 3px,
        $color-accent-dark calc(#{$ResizeBar-width} - 3px),
        transparent calc(#{$ResizeBar-width} - 3px),
        transparent $ResizeBar-width
      );
    }
  }
}
