@import '../../config.scss';

.AuthPage {
  display: grid;
  height: 100vh;
  place-content: center;

  //   .BackButton {
  //     margin: 60px 80px 0;
  //     font-size: 1em;
  //     color: $color-accent-light;
  //
  //     &.BackButton:hover {
  //       cursor: pointer;
  //       color: $color-main;
  //     }
  //   }

  .Login {
    $border: 2px solid $color-accent;
    padding: 0 0 150px;

    .ErrorMessage {
      margin: 0 auto;
      width: 425px;
      height: 40px;
      padding: 0 0 40px;
      color: $color-error;
      font-size: 15.5px;
    }

    .Branding {
      width: 300px;
      margin: 0 auto 10px;
    }

    .Form {
      margin: 0 auto 0;
      width: 300px;

      .Heading {
        grid-column: 1 / 3;
        margin: 0;
        font-size: 19px;
      }

      .AlternateOption {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        margin: 16.5px 0 50px;
        grid-column: 1 / 3;
        color: $color-accent;
        font-size: 14px;
      }

      //       .Submit {
      //         $border: 2px solid $color-accent;
      //         display: block;
      //         -webkit-user-select: none;
      //         user-select: none;
      //         cursor: pointer;
      //         margin: 35px 0 0;
      //         border: $border;
      //         border-radius: 5px;
      //         width: -moz-fit-content;
      //         width: fit-content;
      //         padding: 8px 15px;
      //         background-color: transparent;
      //         font-size: 15.5px;
      //
      //         &:hover {
      //           background-color: $color-accent;
      //         }
      //
      //         &:disabled {
      //           cursor: default;
      //           opacity: 0.35;
      //         }
      //
      //         &:disabled:hover {
      //           background-color: $background-main;
      //         }
      //       }
    }
  }
}
