@import '../../config.scss';

$background-bar: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    $background-main 50%,
    $background-main 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.5px),
    $color-main calc(50% - 1.5px),
    $color-main calc(50% + 1.5px),
    transparent calc(50% + 1.5px),
    transparent 100%
  );

@keyframes mini-bar-circuit {
  from {
    transform: rotate(-90deg);
    background: $background-bar;
  }
  to {
    transform: rotate(270deg);
    background: $background-bar;
  }
}

.DashboardPage {
  margin: 0 auto;
  padding: 35px 75px 0;

  .Navigation {
    display: grid;
    grid-template-columns: auto 130px;
    margin: 0 auto 35px;
    height: 60px;
    vertical-align: bottom;

    .Heading {
      display: inline-block;
      padding: 0 0;
      line-height: 3rem;
      font-size: 30px;
    }

    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        text-align: center;
      }

      &.Disabled {
        pointer-events: none;
        opacity: 0.25;
      }
    }
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
}
