@import '../../config.scss';

$background-bar: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    $background-main 50%,
    $background-main 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.5px),
    $color-main calc(50% - 1.5px),
    $color-main calc(50% + 1.5px),
    transparent calc(50% + 1.5px),
    transparent 100%
  );

@keyframes mini-bar-circuit {
  from {
    transform: rotate(-90deg);
    background: $background-bar;
  }
  to {
    transform: rotate(270deg);
    background: $background-bar;
  }
}

// Displays Mission Map only
.DashboardPage {
  margin: 0 auto;
  padding: 35px 30px 0;

  .Navigation {
    display: grid;
    grid-template-columns: auto 150px 130px;
    margin: 0 auto 55px;
    height: 30px;
    vertical-align: bottom;

    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

    .MissionMap {
      margin-right: 10px;
      width: 100%;
    }

    .NodeActions {
      display: none;
    }

    .OutputPanel {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}

// Displays the Mission Map and Output Panel only
.DashboardPageWithOutputPanel {
  margin: 0 auto;
  padding: 35px 30px 0;

  .Navigation {
    display: grid;
    grid-template-columns: auto 150px 130px;
    margin: 0 auto 55px;
    height: 30px;
    vertical-align: bottom;

    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

    .MissionMap {
      margin-right: 10px;
      width: 60%;
    }

    .NodeActions {
      display: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    padding: 20px;
  }
}

// Displays the Mission Map, Output Panel, and Execution Prompt
.DashboardPageWithOutputPanelAndExecutePrompt {
  margin: 0 auto;
  padding: 35px 30px 0;

  .Navigation {
    display: grid;
    grid-template-columns: auto 150px 130px;
    margin: 0 auto 55px;
    height: 30px;
    vertical-align: bottom;

    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

    .MissionMap {
      margin-right: 10px;
      width: 60%;
    }
  }

  @media only screen and (max-width: 1000px) {
    padding: 20px;
  }
}
