@import '../../config.scss';

.GamePage {
  $page-vertical-padding: 35px;
  $page-horizontal-padding: 30px;
  $page-width: calc(100vw - #{$page-horizontal-padding * 2});
  $page-height: calc(100vh - #{$page-vertical-padding * 2});
  $page-row-1-height: 85px;
  $page-row-2-height: calc(#{$page-height} - #{$page-row-1-height});
  $resource-n-action-height: 55px;
  $map-n-output-height: calc(
    #{$page-row-2-height} - #{$resource-n-action-height}
  );
  $node-action-width: 400px;

  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  width: $page-width;
  height: $page-height;
  grid-template-columns: $page-width;
  grid-template-rows: $page-row-1-height $page-row-2-height;
  margin: 0 auto;
  padding: $page-vertical-padding $page-horizontal-padding;

  .Navigation {
    grid-template-columns: auto 220px 130px;
  }

  .Content {
    $content-row-1-height: 53px;

    display: grid;
    grid-template-rows: $content-row-1-height auto;
    width: 100%;
    height: $page-row-2-height;

    .TopBar {
      .Resources {
        box-sizing: border-box;
        align-items: center;
        cursor: default;
        margin-right: auto;
        height: 40px;
        padding: 10px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.RedAlert {
          color: $terminal-red;
        }
      }

      .MissionModificationPanel {
        grid-column: 1 / 3;
        margin-left: auto;
        padding-bottom: 15px;
      }
    }

    .PanelSizeRelationship {
      &,
      .ResizablePanel,
      .ResizeBar,
      .MissionMap,
      .OutputPanel {
        height: $map-n-output-height;
      }

      .ResizablePanel:first-child {
        display: grid;

        .MissionMap,
        .NodeActions,
        .ExecuteNodePath {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
      }
    }

    .MissionMap {
      width: 100%;
      height: 100%;
    }

    .OutputPanel {
      width: 100%;
      height: 100%;
    }
    .NodeActions {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-height: 310px;
    }

    .ExecuteNodePath {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      min-height: 320px;
      max-height: 60%;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}
