@import '../../config.scss';

.GamePage {
  $page-vertical-padding: 35px;
  $page-horizontal-padding: 30px;
  $page-width: calc(100vw - #{$page-horizontal-padding * 2});
  $page-height: calc(100vh - #{$page-vertical-padding * 2});
  $page-row-1-height: 85px;
  $page-row-2-height: calc(#{$page-height} - #{$page-row-1-height});
  $resource-n-action-height: 55px;
  $map-n-output-height: calc(
    #{$page-row-2-height} - #{$resource-n-action-height}
  );
  $node-action-width: 26vw;

  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  width: $page-width;
  height: $page-height;
  grid-template-columns: $page-width;
  grid-template-rows: $page-row-1-height $page-row-2-height;
  margin: 0 auto;
  padding: $page-vertical-padding $page-horizontal-padding;

  .Navigation {
    grid-template-columns: auto 220px 130px;
  }

  .Content {
    $content-row-1-height: 53px;

    display: grid;
    grid-template-rows: $content-row-1-height auto;
    width: 100%;
    height: $page-row-2-height;

    .ResourceAndActionContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      height: $resource-n-action-height;
      margin: 0;

      .Resources {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 167px);
        margin: 0 0 20px;
        font-size: 1em;

        &.RedAlert {
          color: $terminal-red;
        }
      }

      .ActionsContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: fit-content;

        .remove,
        .copy,
        .edit,
        .Toggle {
          &.remove:hover,
          &.copy:hover,
          &.edit:hover {
            filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(117deg)
              brightness(200%) contrast(98%);
          }
        }

        .edit {
          background: url('../../assets/images/icons/edit.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          border: none;
        }

        .remove {
          background: url('../../assets/images/icons/remove.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          border: none;
        }

        .copy {
          background: url('../../assets/images/icons/copy.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          border: none;
        }

        .Toggle {
          margin-left: 5px;
          background-color: #1a2a1a;

          &.Activated {
            border-color: $terminal;
            .Switch {
              background-color: $terminal;
            }
          }

          .Switch {
            background-color: white;
          }

          &.Activated:hover {
            border-color: $terminal;
            .Switch {
              background-color: $terminal;
            }
          }
          &.Locked:hover {
            cursor: pointer;
          }
        }
      }
    }

    .PanelSizeRelationship {
      &,
      .ResizablePanel,
      .ResizeBar,
      .MissionMap,
      .OutputPanel {
        height: $map-n-output-height;
      }

      .ResizablePanel {
        display: grid;

        .MissionMap,
        .NodeActions,
        .ExecuteNodePath {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
      }
    }

    .MissionMap {
      margin-right: 10px;
      width: 100%;
    }

    .OutputPanel {
    }

    .NodeActions {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      min-height: 150px;
      max-height: 60%;
    }

    .ExecuteNodePath {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      min-height: 320px;
      max-height: 60%;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}
