@import '../../config.scss';

$background-bar: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    $background-main 50%,
    $background-main 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.5px),
    $color-main calc(50% - 1.5px),
    $color-main calc(50% + 1.5px),
    transparent calc(50% + 1.5px),
    transparent 100%
  );

@keyframes mini-bar-circuit {
  from {
    transform: rotate(-90deg);
    background: $background-bar;
  }
  to {
    transform: rotate(270deg);
    background: $background-bar;
  }
}

// Displays Mission Map only
.GamePage {
  $page-vertical-padding: 35px;
  $page-horizontal-padding: 30px;
  $page-row-1-height: 85px;
  $node-action-width: 400px;

  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  width: calc(100vw - #{$page-horizontal-padding * 2});
  height: calc(100vh - #{$page-vertical-padding * 2});
  grid-template-columns: calc(100vw - #{$page-horizontal-padding * 2});
  grid-template-rows: $page-row-1-height auto;
  margin: 0 auto;
  padding: $page-vertical-padding $page-horizontal-padding;

  .Navigation {
    display: grid;
    grid-template-columns: auto 180px 130px;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    vertical-align: bottom;

    .Branding {
      background-position-x: 0;
    }
    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }

    .Logout {
      display: none;
    }

    .EditMission {
      display: none;
    }
  }

  .Content {
    $content-row-1-height: 53px;

    display: grid;
    grid-template-rows: $content-row-1-height auto;
    width: 100%;
    height: 100%;

    .ResourceAndActionContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      margin: 0;

      .Resources {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 167px);
        margin: 0 0 20px;
        font-size: 1em;

        &.RedAlert {
          color: $terminal-red;
        }
      }

      .ActionsContainer {
        display: none;
      }
    }

    .MissionMap {
      margin-right: 10px;
      width: 100%;
      height: 100%;
    }

    .OutputPanel {
      height: 100%;
    }

    .NodeActions {
      position: absolute;
      top: calc(
        125px + #{$page-vertical-padding + $page-row-1-height +
          $content-row-1-height}
      );
      left: calc(50vw - #{$node-action-width / 2});
      width: $node-action-width;
    }

    .ExecuteNodePath {
      position: absolute;
      top: calc(
        125px + #{$page-vertical-padding + $page-row-1-height +
          $content-row-1-height}
      );
      left: calc(50vw - #{$node-action-width / 2});
      width: $node-action-width;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }

  &.DisplayMapOnly {
    .NodeActions {
      display: none;
    }

    .ExecuteNodePath {
      display: none;
    }

    .OutputPanel {
      display: none;
    }

    .ActionPropertyDisplay {
      display: none;
    }
  }

  // Displays the Mission Map and Output Panel only
  &.DisplayOutputPanel {
    .Content {
      grid-template-columns: 65% 35%;

      .ResourceAndActionContainer {
        grid-column: 1 / 3;
      }

      .MissionMap {
        width: 100%;
      }

      .NodeActions {
        display: none;
      }

      .ExecuteNodePath {
        display: none;
      }

      .ActionPropertyDisplay {
        display: none;
      }
    }
  }

  // Displays the Mission Map, Output Panel, and Node Action Window
  &.DisplayOutputAndActionPrompt {
    .Content {
      grid-template-columns: 65% 35%;

      .ResourceAndActionContainer {
        grid-column: 1 / 3;
      }

      .MissionMap {
        width: 100%;
      }

      .NodeActions {
        left: calc(
          calc(calc(100vw - #{$page-horizontal-padding * 2}) * 0.325) + #{$page-horizontal-padding} -
            #{$node-action-width / 2}
        );
      }

      .ExecuteNodePath {
        display: none;
      }

      .ActionPropertyDisplay {
        display: none;
      }
    }
  }

  // Displays the Mission Map, Output Panel, and Execution Path Prompt
  &.DisplayOutputPanelAndPathPrompt {
    .Content {
      grid-template-columns: 65% 35%;

      .ResourceAndActionContainer {
        grid-column: 1 / 3;
      }

      .MissionMap {
        width: 100%;
      }

      .NodeActions {
        left: calc(
          calc(calc(100vw - #{$page-horizontal-padding * 2}) * 0.325) + #{$page-horizontal-padding} -
            #{$node-action-width / 2}
        );
      }

      .ExecuteNodePath {
        left: calc(
          calc(calc(100vw - #{$page-horizontal-padding * 2}) * 0.325) + #{$page-horizontal-padding} -
            #{$node-action-width / 2}
        );
      }
    }
  }

  &.DisplayPathPrompt {
    .Content {
      .OutputPanel {
        display: none;
      }

      .NodeActions {
        display: none;
      }
    }
  }

  &.DisplayActionPrompt {
    .Content {
      .OutputPanel {
        display: none;
      }

      .ExecuteNodePath {
        display: none;
      }
    }
  }
}

// This changes the layout of the navigation bar based on the if the
// user is an instructor or not
.GamePage {
  .SignOut {
    grid-template-columns: auto 180px 130px;

    .Logout {
      display: flex;
    }

    .Login {
      display: none;
    }

    .EditMission {
      display: flex;
    }
  }

  .Content {
    .ResourceAndActionContainer {
      .ActionsContainer {
        &.show {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: fit-content;

          .remove,
          .copy,
          .edit,
          .Toggle {
            &.remove:hover,
            &.copy:hover,
            &.edit:hover {
              filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(117deg)
                brightness(200%) contrast(98%);
            }
          }

          .edit {
            background: url('../../assets/images/icons/edit.svg');
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            border: none;
          }

          .remove {
            background: url('../../assets/images/icons/remove.svg');
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            border: none;
          }

          .copy {
            background: url('../../assets/images/icons/copy.svg');
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            border: none;
          }

          .Toggle {
            margin-left: 5px;
            background-color: #1a2a1a;

            &.Activated {
              border-color: $terminal;
              .Switch {
                background-color: $terminal;
              }
            }

            .Switch {
              background-color: white;
            }

            &.Activated:hover {
              border-color: $terminal;
              .Switch {
                background-color: $terminal;
              }
            }
            &.Locked:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
