@import '../../config.scss';

$background-bar: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    $background-main 50%,
    $background-main 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.5px),
    $color-main calc(50% - 1.5px),
    $color-main calc(50% + 1.5px),
    transparent calc(50% + 1.5px),
    transparent 100%
  );

@keyframes mini-bar-circuit {
  from {
    transform: rotate(-90deg);
    background: $background-bar;
  }
  to {
    transform: rotate(270deg);
    background: $background-bar;
  }
}

// Displays Mission Map only
.GamePage {
  $page-vertical-padding: 35px;
  $page-horizontal-padding: 30px;
  $page-width: calc(100vw - #{$page-horizontal-padding * 2});
  $page-height: calc(100vh - #{$page-vertical-padding * 2});
  $page-row-1-height: 85px;
  $page-row-2-height: calc(#{$page-height} - #{$page-row-1-height});
  $resource-n-action-height: 55px;
  $map-n-output-height: calc(
    #{$page-row-2-height} - #{$resource-n-action-height}
  );
  $node-action-width: 400px;

  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  width: $page-width;
  height: $page-height;
  grid-template-columns: $page-width;
  grid-template-rows: $page-row-1-height $page-row-2-height;
  margin: 0 auto;
  padding: $page-vertical-padding $page-horizontal-padding;

  .Navigation {
    grid-template-columns: auto 220px 130px;
  }

  .Content {
    $content-row-1-height: 53px;

    display: grid;
    grid-template-rows: $content-row-1-height auto;
    width: 100%;
    height: $page-row-2-height;

    .Resources {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      height: 40px;
      cursor: default;
      padding: 10px 0 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.RedAlert {
        color: $terminal-red;
      }
    }

    .MissionModificationPanel {
      grid-column: 1 / 3;
      padding-bottom: 15px;
    }

    .MissionMap {
      margin-right: 10px;
      width: 100%;
      height: $map-n-output-height;
    }

    .OutputPanel {
      height: $map-n-output-height;
    }

    .NodeActions {
      position: absolute;
      top: calc(
        125px + #{$page-vertical-padding + $page-row-1-height +
          $content-row-1-height}
      );
      left: calc(50vw - #{$node-action-width / 2});
      width: $node-action-width;
      max-height: 38vh;

      @media only screen and (max-height: 585px) {
        top: calc(
          10px + #{$page-vertical-padding + $page-row-1-height +
            $content-row-1-height}
        );
      }

      @media only screen and (max-width: 670px) {
        left: 25vw;
        width: 50vw;
      }
    }

    .ExecuteNodePath {
      position: absolute;
      top: calc(
        125px + #{$page-vertical-padding + $page-row-1-height +
          $content-row-1-height}
      );
      left: calc(50vw - #{$node-action-width / 2});
      width: $node-action-width;
      max-height: 50vh;

      @media only screen and (max-height: 670px) {
        top: calc(
          10px + #{$page-vertical-padding + $page-row-1-height +
            $content-row-1-height}
        );
      }

      @media only screen and (max-width: 670px) {
        left: 25vw;
        width: 50vw;
      }
    }
  }

  // Displays the map only
  &.DisplayMapOnly {
    .Content {
      grid-template-columns: 100%;

      .NodeActions {
        display: none;

        @media only screen and (max-height: 585px) and (max-width: 670px) {
          display: none;
        }
      }

      .ExecuteNodePath {
        display: none;

        @media only screen and (max-height: 670px) and (max-width: 670px) {
          display: none;
        }
      }

      .OutputPanel {
        display: none;
      }

      .ActionPropertyDisplay {
        display: none;
      }
    }
  }

  // Displays the Mission Map and Output Panel only
  &.DisplayOutputPanel {
    .Content {
      grid-template-columns: 65% 35%;

      .MissionMap {
        width: 100%;
      }

      .NodeActions {
        display: none;

        @media only screen and (max-height: 585px) and (max-width: 670px) {
          display: none;
        }
      }

      .ExecuteNodePath {
        display: none;

        @media only screen and (max-height: 670px) and (max-width: 670px) {
          display: none;
        }
      }

      .ActionPropertyDisplay {
        display: none;
      }
    }
  }

  // Displays the Mission Map, Output Panel, and Node Action Window
  &.DisplayOutputAndActionPrompt {
    .Content {
      grid-template-columns: 65% 35%;

      .MissionMap {
        width: 100%;
      }

      .NodeActions {
        left: calc(
          calc(calc(100vw - #{$page-horizontal-padding * 2}) * 0.325) + #{$page-horizontal-padding} -
            #{$node-action-width / 2}
        );

        @media only screen and (max-width: 670px) {
          left: 25vw;
          width: 50vw;
        }
      }

      .ExecuteNodePath {
        display: none;

        @media only screen and (max-height: 670px) and (max-width: 670px) {
          display: none;
        }
      }

      .ActionPropertyDisplay {
        display: none;
      }
    }
  }

  // Displays the Mission Map, Output Panel, and Execution Path Prompt
  &.DisplayOutputPanelAndPathPrompt {
    .Content {
      grid-template-columns: 65% 35%;

      .MissionMap {
        width: 100%;
      }

      .NodeActions {
        display: none;

        @media only screen and (max-height: 585px) and (max-width: 670px) {
          display: none;
        }
      }

      .ExecuteNodePath {
        left: calc(
          calc(calc(100vw - #{$page-horizontal-padding * 2}) * 0.325) + #{$page-horizontal-padding} -
            #{$node-action-width / 2}
        );

        @media only screen and (max-width: 670px) {
          left: 25vw;
          width: 50vw;
        }
      }
    }
  }

  // Hides the Node Action Selection window prompt and displays
  // the Execute Node Path window prompt
  &.DisplayPathPrompt {
    .Content {
      .OutputPanel {
        display: none;
      }

      .NodeActions {
        display: none;

        @media only screen and (max-height: 585px) and (max-width: 670px) {
          display: none;
        }
      }
    }
  }

  // Hides the Execute Node Path window prompt and displays
  // the Node Action Selection window prompt
  &.DisplayActionPrompt {
    .Content {
      .OutputPanel {
        display: none;
      }

      .ExecuteNodePath {
        display: none;

        @media only screen and (max-height: 670px) and (max-width: 670px) {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}
