@import '../../config.scss';

.LoadingPage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: calc(50vh - 125px) 0 0;
  background-color: $background-main;
  text-align: center;

  .Message {
    margin-top: 20px;
  }
}
