@import '../../config.scss';
@import '../../util.scss';

.MissionFormPage {
  display: grid;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-rows: 85px calc(100vh - 85px - 70px);
  margin: 0 auto;
  padding: 35px 30px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  .Navigation {
    display: grid;
    grid-template-columns: auto 130px 130px 130px;
  }

  .Content {
    margin: 0 auto;
    height: 100%;

    .MissionMap {
      height: 100%;
      width: unset;
      background-color: $background-alt2;
    }

    .SidePanel {
      height: 100%;

      .BorderBox {
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        border: 2px solid $color-main;
        height: 100%;
        padding: 0;
        background-color: $background-alt2;

        .BoxTop {
          display: grid;
          grid-template-columns: auto 50px 30px;
          box-sizing: border-box;
          position: sticky;
          top: 0;
          z-index: 1;
          margin: 0 0 -20px;
          height: 70px;
          padding: 5px 10px 0;
          background: linear-gradient(
            $background-alt2 0%,
            $background-alt2 80%,
            transparent 100%
          );

          &:not(.IsError) {
            .ErrorMessage {
              @include hide();
            }
          }

          .ErrorMessage {
            margin: 10px 0 0;
            font-size: 0.8em;
            color: $color-error-alt;
          }
        }
      }

      .SidePanelSection {
        .ButtonContainer {
          display: block;
          min-width: 225px;
          margin: 20px 8% 0;
          text-align: right;
          font-size: 0.85em;

          .FormButton {
            user-select: none;
            box-sizing: border-box;
            min-width: calc(225px - 20px);
            text-align: right;
            color: $color-main;
            margin: 40px 0 20px;
            font-size: 12.5px;

            .Text {
              cursor: pointer;
              color: $color-accent-light;
              font-weight: 400;
            }

            .LeftBracket,
            .RightBracket {
              color: $color-main;
            }

            &.Disabled {
              pointer-events: none;
              transform: scale(0.95);
              opacity: 0.65;
            }
          }
        }
      }
    }
  }
}
