@import '../../config.scss';

$background-bar: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    $background-main 50%,
    $background-main 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.5px),
    $color-main calc(50% - 1.5px),
    $color-main calc(50% + 1.5px),
    transparent calc(50% + 1.5px),
    transparent 100%
  );

@keyframes mini-bar-circuit {
  from {
    transform: rotate(-90deg);
    background: $background-bar;
  }
  to {
    transform: rotate(270deg);
    background: $background-bar;
  }
}

.MissionFormPage {
  display: grid;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-rows: 85px calc(100vh - 85px - 70px);
  margin: 0 auto;
  padding: 35px 30px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  //   &.SidePanelIsExpanded {
  //     .Content {
  //     }
  //   }
  //
  //   &:not(.SidePanelIsExpanded) {
  //     .Content {
  //       grid-template-columns: auto;
  //     }
  //   }

  .Navigation {
    display: grid;
    grid-template-columns: auto 130px 130px 130px;
  }

  .Content {
    display: grid;
    grid-template-columns: auto 325px;
    grid-template-rows: 100%;
    margin: 0 auto;
    height: 100%;

    .MissionMap {
      height: 100%;
      width: unset;
      background-color: $background-alt2;
    }

    .SidePanel {
      height: 100%;
      .BorderBox {
        margin-left: 10px;

        @media only screen and (max-width: 768px) {
          margin: 0 0 0 5px;
        }

        @media only screen and (max-width: 275px) {
          width: 30%;
        }
      }
    }
  }
}

.SidePanel {
  height: 100%;
  .BorderBox {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 2px solid $color-main;
    height: 100%;
    padding: 15px 0 0;
    background-color: $background-alt2;

    .MoreInformation {
      display: inline-block;
      position: sticky;
      top: -9px;
      left: 77%;
      transform: scale(0.77);
    }

    .Close {
      cursor: pointer;
      user-select: none;
      display: inline-block;
      position: sticky;
      top: -9px;
      left: 88%;
      transform: scale(0.77);
      height: 20px;
      font-size: 26px;

      .Circle {
        display: grid;
        place-content: center;
        margin: 0 auto;
        border: 3px solid $color-main;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        background-color: $background-alt1;

        .X {
          display: block;
          height: 1em;
          font-family: 'Arial', monospace;
          font-size: 22px;
          font-weight: bolder;
          line-height: 0.82em;
        }
      }
    }

    .NodeInfoContainer {
      margin: 40px 45px 40px 15px;

      .ButtonContainer {
        display: block;
        width: 225px;
        margin: 25px auto 0;
        text-align: right;
        font-size: 0.85em;

        .FormButton {
          cursor: pointer;
          margin: 5px 0 0;

          .Text {
            color: $color-accent-light;
            font-weight: 400;
          }

          .RightBracket {
            color: $color-main;
          }
        }
      }
    }

    .ActionInfo {
      color: $terminal;
      margin: 30px auto 0px 15px;
    }

    .NodeActionDetails {
      margin-top: 20px;

      > .Label {
        margin: 40px auto 0;
        border-bottom: 2px solid $color-main;
        width: 225px;
        padding: 0 0 8px;
        font-size: 12.5px;
      }

      .NodeAction {
        margin: 0 45px 0 20px;
        border: 2px solid $terminal-blue;
        border-radius: 10px;
        padding-bottom: 30px;

        .Detail {
          width: calc(225px - 20px);
        }

        .Delete {
          cursor: pointer;
          user-select: none;
          box-sizing: border-box;
          margin: 5px auto 0;
          border-bottom: 2px solid $color-main;
          width: calc(225px - 20px);
          padding: 15px 15px;
          text-align: right;
          color: $color-main;
          font-size: 12.5px;
          font-weight: 700;

          span {
            color: $color-accent-light;
            font-weight: 400;
          }
        }

        .NoActions {
          margin: 30px auto 0;
          width: calc(100% - 60px);
          font-size: 0.85em;
        }

        .Delete {
          &.Disabled {
            pointer-events: none;
            transform: scale(0.95);
            opacity: 0.65;
          }
        }
      }

      .SelectorContainer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: calc(100% - 60px);
        margin: 20px 20px;
        text-align: center;

        .Previous,
        .Next {
          user-select: none;
          &:hover {
            cursor: pointer;
            color: $terminal;
          }
        }

        .CurrentActionDisplayed {
          &:hover {
            cursor: default;
          }
        }
      }
    }

    .UserActions {
      display: block;
      margin: 30px 45px 40px 20px;
      width: calc(100% - 65px);
      text-align: center;

      .Action {
        width: 40px;
        text-align: center;
        margin: 0;
      }

      * {
        transition: transform 250ms, opacity 250ms;
      }
    }

    .Color {
      .Field {
        border-bottom: none;
      }
    }

    .ColorFill {
      cursor: pointer;
      user-select: none;
      box-sizing: border-box;
      margin: 5px auto 0;
      border-bottom: 2px solid $color-main;
      width: 225px;
      padding: 15px 15px;
      text-align: right;
      color: $color-main;
      font-size: 12.5px;
      font-weight: 700;

      span {
        color: $color-accent-light;
        font-weight: 400;
      }
    }

    .Detail:last-child {
      margin-bottom: 40px;
    }
  }

  &.NodeStructuring {
    .BorderBox {
      overflow-y: hidden;
      .Nodes {
        overflow-x: auto;
        overflow-y: auto;
        margin: 0;
        height: 100%;
        padding: 0;

        .Padding {
          height: 35px;

          &.DropPending {
            background-color: $background-main;
          }
        }

        .Node {
          $indicator-translate-y: 7px;

          width: fit-content;

          // This will return the transform value
          // for the indicator circle, placing
          // it in the correct position.
          @function getIndicatorCircleTransform($isExpanded) {
            $indicator-translate: translate(0, $indicator-translate-y);

            @if $isExpanded {
              @return $indicator-translate;
            } @else {
              @return $indicator-translate rotate(-90deg);
            }
          }

          .ParentNode {
            cursor: grab;
            user-select: none;
            display: block;
            padding: 0 0 0 20px;
            font-size: 12px;
            white-space: nowrap;
            width: 100%;

            .Top,
            .Bottom {
              position: relative;
              z-index: 1;
              height: 0.175rem;
            }

            .Top {
              margin: 0 0 -0.175rem;
            }

            .Center {
              position: relative;
              z-index: 0;
              display: grid;
              grid-template-columns: 18px auto;
              margin: 0 0 -0.175rem;

              * {
                pointer-events: none;
              }

              .Indicator,
              .Name {
                height: 1.35rem;
                line-height: 1.3rem;
              }

              .Indicator {
                width: 12px;

                .Circle {
                  transform: getIndicatorCircleTransform(false);
                }
              }

              &:hover {
                background-color: $background-main;
              }
            }

            .Bottom {
            }
          }

          .ChildNodes {
            padding-left: 20px;
          }

          &.Expandable {
            .ParentNode {
              .Indicator {
              }
            }
          }

          &.Ends {
            .ParentNode {
              .Indicator {
                opacity: 0;
              }
            }
          }

          &.IsExpanded {
            .ParentNode {
              .Indicator {
                .Circle {
                  transform: getIndicatorCircleTransform(true);
                }
              }
            }
          }

          &.IsCollapsed {
            .ParentNode {
              .Indicator {
                .Circle {
                  transform: getIndicatorCircleTransform(false);
                }
              }
            }
          }

          &.DropPending {
            &.DropPendingTop {
              > .ParentNode > .Top {
                margin-top: -0.0875rem;
                padding-bottom: 0.0875rem;
                background: linear-gradient(
                  to top,
                  transparent 0px,
                  transparent 0.0875rem,
                  $color-main 0.0875rem,
                  $color-main 0.175rem
                );
              }
            }

            &.DropPendingCenter {
              background-color: $background-main;
            }

            &.DropPendingBottom {
              > .ParentNode > .Bottom {
                margin-bottom: -0.0875rem;
                padding-top: 0.0875rem;
                background: linear-gradient(
                  to bottom,
                  transparent 0px,
                  transparent 0.0875rem,
                  $color-main 0.0875rem,
                  $color-main 0.175rem
                );
              }
            }
          }
        }
      }
    }
  }
}
