@import '../../config.scss';

.MissionSelectionPage {
  margin: 0;
  background: url('../../assets/images/landing-page-img.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 10000000000px RGBA(0, 72, 124, 0.5);
  height: fit-content;

  .Navigation {
    display: grid;
    grid-template-columns: auto 110px;
    margin: 0 0 30px;
    padding: 35px 35px 0;
    height: 30px;

    .Branding {
      width: fit-content;
      padding-right: 20px;
    }
    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }

    .Logout {
      display: none;
    }
  }

  .MissionSelectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: calc(100vh - 147px);

    .MissionListContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: left;
      width: 100%;
      margin: 0;
    }

    .MissionList {
      background-color: black;
      border: 3px solid white;
      border-radius: 15px;
      margin: 0;
      padding: 0;
      font-size: 1em;
      max-height: 30vh;
      overflow-y: scroll;
      width: 50%;

      .HeadingContainer {
        position: sticky;
        top: 0px;
        background-color: black;
        width: 100%;
        overflow-x: hidden;

        .Heading {
          width: fill;
          font-size: 1.1em;
          padding: 20px 0 20px 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .MissionName {
        padding: 10px 0 10px 20px;
        width: fill;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.MissionName:hover {
          cursor: pointer;
          background-color: $node-blue;
          color: $terminal;
        }
      }
    }
  }

  .credit {
    padding: 20px;
    text-align: right;
    font-size: 0.6em;

    &.credit a {
      text-decoration: none;
    }
  }

  @media only screen and (min-width: 1200px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 75%;
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 50%;
      }
    }
  }
}

.MissionSelectionPage {
  .SignOut {
    .Logout {
      display: flex;
    }

    .Login {
      display: none;
    }
  }
}
