@import '../../config.scss';

.MissionSelectionPage {
  margin: 0;
  background: url('../../assets/images/landing-page-img.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 10000000000px RGBA(0, 72, 124, 0.5);
  height: fit-content;

  .Navigation {
    display: grid;
    grid-template-columns: auto 110px;
    margin: 0 0 30px;
    padding: 35px 35px 0;
    height: 30px;

    .Branding {
      width: fit-content;
      padding-right: 20px;
    }
    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }

    .Logout {
      display: none;
    }
  }

  .MissionSelectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: calc(100vh - 147px);

    .MissionListContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: left;
      width: 100%;
      margin: 0;
    }

    .MissionList {
      background-color: black;
      border: 3px solid white;
      border-radius: 15px;
      margin: 0;
      padding: 0;
      font-size: 1em;
      max-height: 30vh;
      overflow-y: scroll;
      width: 75%;

      .HeadingContainer {
        position: sticky;
        top: 0px;
        background-color: black;
        width: 100%;
        overflow-x: hidden;
        z-index: 100;

        .Heading {
          width: fill;
          font-size: 1.1em;
          padding: 20px 0 20px 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .IndividualMissionContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        width: fill;

        &.IndividualMissionContainer:hover {
          cursor: pointer;
          background-color: $node-blue;
          color: $terminal;
        }

        .MissionName {
          padding: 10px 0 10px 20px;
          width: calc(100% - 200px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.MissionName:hover {
            cursor: pointer;
            color: $terminal;
          }
        }

        .ActionsContainer {
          display: none;
        }
      }
    }

    .EditMissionsContainer {
      display: none;
    }
  }

  .credit {
    padding: 20px;
    text-align: right;
    font-size: 0.6em;
  }

  @media only screen and (min-width: 1100px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 75%;
      }
    }
  }
}

.MissionSelectionPage {
  .SignOut {
    .Logout {
      display: flex;
    }

    .Login {
      display: none;
    }
  }

  .MissionSelectionContent {
    .MissionList {
      &.show {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

        .ActionsContainer {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-flow: row wrap;
          width: fit-content;
          padding-right: 5px;

          .remove,
          .copy,
          .edit,
          .Toggle {
            &.remove:hover,
            &.copy:hover,
            &.edit:hover {
              filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(117deg)
                brightness(200%) contrast(98%);
            }
          }

          .Toggle {
            margin-left: 5px;
          }

          .edit {
            background: url('../../assets/images/icons/edit.svg');
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            border: none;
          }

          .remove {
            background: url('../../assets/images/icons/remove.svg');
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            border: none;
          }

          .copy {
            background: url('../../assets/images/icons/copy.svg');
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            border: none;
          }

          .Toggle {
            background-color: transparent;

            &.Activated {
              border-color: $terminal;
              .Switch {
                background-color: $terminal;
              }
            }

            .Switch {
              background-color: white;
            }

            &.Toggle:hover {
              border-color: $terminal;
              .Switch {
                background-color: $terminal;
              }
            }
          }
        }
      }
    }

    .EditMissionsContainer {
      &.show {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 50%;
        height: auto;
        border: 3px solid white;
        padding: 10px 0;
        background-color: black;
        border-top: none;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        .NewMissionButton {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid white;
          background-color: black;
          border-radius: 10px;
          font-weight: 400;
          font-size: 1.5em;
          width: 1.25em;
          height: 1.25em;
          margin: 0;
          padding: 0;

          &.NewMissionButton:hover {
            cursor: pointer;
            background-color: $node-blue;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .MissionListContainer {
      .MissionList {
        &.show {
          .IndividualMissionContainer {
            flex-flow: column;
            .MissionName {
              width: calc(100% - 20px);
            }
            .ActionsContainer {
              justify-content: flex-start;
              width: calc(100% - 15px);
              padding-left: 15px;
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1099px) {
    .MissionSelectionContent {
      .EditMissionsContainer {
        &.show {
          width: 75%;
        }
      }
    }
  }

  @media only screen and (min-width: 1100px) {
    .MissionSelectionContent {
      .EditMissionsContainer {
        &.show {
          width: 56.25%;
        }
      }
    }
  }
}
