@import '../../config.scss';

.MissionSelectionPage {
  margin: 0;
  background: url('../../assets/images/landing-page-img.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 10000000000px RGBA(0, 72, 124, 0.5);
  height: fit-content;

  .Navigation {
    display: grid;
    grid-template-columns: auto 110px;
    margin: 0 0 30px;
    padding: 35px 35px 0;
    height: 30px;

    .Branding {
      width: fit-content;
      padding-right: 20px;
    }
    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }

    .EditMission {
      display: none;
    }

    .Logout {
      display: none;
    }
  }

  .MissionSelectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: calc(100vh - 147px);

    .MissionListContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: left;
      width: 100%;
      margin: 0;
    }

    .MissionList {
      background-color: black;
      border: 3px solid white;
      border-radius: 15px;
      margin: 0;
      padding: 0;
      font-size: 1em;
      max-height: 30vh;
      overflow-y: scroll;
      width: 50%;

      .HeadingContainer {
        position: sticky;
        top: 0px;
        background-color: black;
        width: 100%;
        overflow-x: hidden;

        .Heading {
          width: fill;
          font-size: 1.1em;
          padding: 20px 0 20px 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .MissionName {
        padding: 10px 0 10px 20px;
        width: fill;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.MissionName:hover {
          cursor: pointer;
          background-color: $node-blue;
          color: $terminal;
        }
      }
    }

    .EditMissionsContainer {
      display: none;
    }
  }

  .credit {
    padding: 20px;
    text-align: right;
    font-size: 0.6em;
  }

  @media only screen and (min-width: 1100px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 75%;
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 50%;
      }
    }
  }
}

.MissionSelectionPage {
  .SignOut {
    grid-template-columns: auto 160px 130px;

    .EditMission {
      display: flex;
    }

    .Logout {
      display: flex;
    }

    .Login {
      display: none;
    }
  }

  .MissionSelectionContent {
    .MissionList {
      &.show {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .EditMissionsContainer {
      &.show {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 50%;
        height: auto;
        border: 3px solid white;
        padding: 20px 0;
        background-color: black;
        border-top: none;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        .NewMissionButton {
          border: 2px solid white;
          border-radius: 10px;
          padding: 4px 13px;
          font-size: 1.5em;
          margin: 0 10px;

          &.NewMissionButton:hover {
            cursor: pointer;
            background-color: $node-blue;
          }
        }

        .CloneMissionButton,
        .DeleteMissionButton,
        .PowerButton,
        .SaveButton {
          border: 2px solid white;
          border-radius: 10px;
          padding: 8px 16px;
          font-size: 1.5em;
          margin: 0 10px;

          &.NewMissionButton:hover,
          &.CloneMissionButton:hover,
          &.DeleteMissionButton:hover,
          &.PowerButton:hover,
          &.SaveButton:hover {
            cursor: pointer;
            background-color: $node-blue;
          }
        }

        .DeleteMissionButton {
          background: url('../../assets/images/icons/lightning.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 2%;
          height: 50%;
          background-color: black;
        }

        .CloneMissionButton {
          background: url('../../assets/images/icons/zoom-in.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 2%;
          height: 50%;
          background-color: black;
        }

        .PowerButton {
          background: url('../../assets/images/icons/device.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 2%;
          height: 50%;
          background-color: black;
        }

        .SaveButton {
          background: url('../../assets/images/icons/save.svg');
          background-size: 65% 65%;
          background-position: center;
          background-repeat: no-repeat;
          width: 2%;
          height: 50%;
          background-color: black;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .MissionSelectionContent {
      .EditMissionsContainer {
        &.show {
          flex-flow: column;

          .NewMissionButton,
          .CloneMissionButton,
          .DeleteMissionButton,
          .PowerButton,
          .SaveButton {
            font-size: 20px;
            padding: 5px 12px;
            margin: 5px 0;
          }

          .CloneMissionButton,
          .DeleteMissionButton,
          .PowerButton,
          .SaveButton {
            padding: 16px 15px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1100px) {
    .MissionSelectionContent {
      .EditMissionsContainer {
        &.show {
          width: 37.5%;
        }
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    .MissionSelectionContent {
      .EditMissionsContainer {
        &.show {
          width: 25%;
        }
      }
    }
  }
}
