@import '../../config.scss';

.MissionSelectionPage {
  margin: 0;
  background: url('../../assets/images/landing-page-img.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 10000000000px RGBA(0, 72, 124, 0.5);
  height: fit-content;

  &.DropPending {
    .FileDropBox {
      opacity: 0.65;

      .UploadIcon {
        transform: scale(1);
      }
    }
  }

  &:not(.DropPending) {
    .FileDropBox {
      opacity: 0;

      .UploadIcon {
        transform: scale(0.65);
      }
    }
  }

  .FileDropBox {
    pointer-events: none;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: $z-index-file-drop-box;
    top: 0;
    left: 0;
    transition: opacity 175ms;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $color-accent;

    .UploadIcon {
      transition: transform 175ms;
      width: 250px;
      height: 250px;
      background: url('/assets/images/icons/upload.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .Navigation {
    grid-template-columns: auto 130px;
    padding: 30px 30px 35px;
    width: calc(100vw - 60px);
  }

  .MissionSelectionContent {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: calc(100vh - 147px);

    .MissionListContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: left;
      width: 100%;
      margin: 0;

      .MissionList {
        background-color: black;
        border: 3px solid white;
        border-radius: 15px;
        margin: 0;
        padding: 0;
        font-size: 1em;
        max-height: 30vh;
        overflow-y: scroll;
        width: 50%;

        .MissionSelectionRows {
          .MissionSelectionRow {
            &:hover {
              background-color: $node-blue;
              color: $terminal;
            }

            .MissionName {
              display: block;
              box-sizing: border-box;
              height: 40px;
              width: 100%;
              cursor: pointer;
              padding: 10px 0 10px 20px;
              width: calc(100% - 10px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              &.MissionName:hover {
                color: $terminal;
              }
            }
          }
        }

        // The mission list styling when the user logs in as
        // an instructor
        &.InstructorView {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          width: 75%;
        }

        .HeadingContainer {
          position: sticky;
          top: 0px;
          background-color: black;
          width: 100%;
          overflow-x: hidden;
          z-index: 50;

          .Heading {
            width: fill;
            font-size: 1.1em;
            padding: 20px 0 20px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .NoMissions {
          padding: 0 0 25px 20px;
          font-size: 0.825em;
        }
      }
    }

    .EditMissionsContainer {
      display: none;

      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 50%;
      height: auto;
      border: 3px solid white;
      padding: 10px 0;
      background-color: black;
      border-top: none;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;

      .ButtonSVG {
        transform: scale(0.8);
      }

      &.InstructorView {
        display: flex;
      }
    }
  }

  .FooterContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    opacity: 0.7;
    user-select: none;

    .Version {
      padding: 20px;
      font-size: 0.6em;
    }

    .Credit {
      padding: 20px;
      text-align: right;
      font-size: 0.6em;
    }
  }

  @media only screen and (max-width: 1099px) {
    .MissionSelectionContent {
      .EditMissionsContainer {
        &.InstructorView {
          width: 75%;
        }
      }
    }
  }

  @media only screen and (min-width: 1100px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 75%;
      }

      .EditMissionsContainer {
        &.InstructorView {
          width: 56.25%;
        }
      }
    }
  }
}
