@import '../../config.scss';

.MissionSelectionPage {
  display: grid;
  align-content: space-between;
  background: url('../../assets/images/landing-page-img.png');
  background-size: 100% 120%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 100vw 0 0 0 RGBA(13, 26, 39, 0.4);
  height: 100vh;
  margin: 0;

  &.DropPending {
    .FileDropBox {
      opacity: 0.65;

      .UploadIcon {
        transform: scale(1);
      }
    }
  }

  &:not(.DropPending) {
    .FileDropBox {
      opacity: 0;

      .UploadIcon {
        transform: scale(0.65);
      }
    }
  }

  .FileDropBox {
    pointer-events: none;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: $z-index-file-drop-box;
    top: 0;
    left: 0;
    transition: opacity 175ms;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $color-accent;

    .UploadIcon {
      transition: transform 175ms;
      width: 250px;
      height: 250px;
      background: url('/assets/images/icons/upload.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .Navigation {
    display: grid;
    place-content: space-between;
    grid-template-columns: auto 130px;
    padding: 30px 0 35px;
    width: 97%;
  }

  .MissionSelectionContent {
    -webkit-user-select: none;
    user-select: none;
    display: grid;
    place-items: center;
    align-content: center;

    .MissionListContainer {
      display: grid;
      place-items: center;
      align-items: center;
      text-align: left;
      width: 100%;
      margin: 0;

      .MissionList {
        background-color: black;
        border: 3px solid white;
        border-bottom: none;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin: 0;
        padding: 6px 0;
        font-size: 1em;
        width: 50%;
        height: 262px;

        .MissionSelectionRows {
          .MissionSelectionRow {
            &:hover {
              background-color: $node-blue;
              color: $terminal;
            }

            .MissionName {
              display: block;
              box-sizing: border-box;
              height: 40px;
              width: 100%;
              cursor: pointer;
              padding: 10px 0 10px 20px;
              width: calc(100% - 10px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              &.MissionName:hover {
                color: $terminal;
              }
            }
          }
        }

        // The mission list styling when the user logs in as
        // an instructor
        &.InstructorView {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          width: 75%;
        }

        .HeadingContainer {
          display: grid;
          align-items: center;
          grid-template-columns: auto 60px;
          background-color: black;
          z-index: 10;
          border-radius: 15px;
          overflow-x: hidden;

          .Heading {
            font-size: 1.1em;
            padding: 20px 0 20px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .ButtonSVG {
            transform: scale(0.8);
          }
        }

        .SearchContainer {
          .SearchBar {
            width: 50%;
            margin: 0 20px 10px;
            padding: 5px;
            color: black;
            font-family: 'monospace', sans-serif;

            &:focus {
              outline: none;
            }
          }
        }

        .NoMissions {
          padding: 15px 0 0 20px;
          font-size: 0.825em;
        }
      }

      .MissionNavPanel {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-items: center;
        width: calc(50% - 40px);
        background-color: black;
        border: 3px solid white;
        border-top: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 25px 20px 10px;
        z-index: 10;

        .PreviousMissionSetButton,
        .NextMissionSetButton {
          .Text:hover {
            cursor: pointer;
            color: $terminal;
          }
        }

        .CurrentMissionSet {
          text-align: center;
        }

        .NextMissionSetButton {
          text-align: right;
        }
      }
    }

    .EditMissionsContainer {
      display: none;

      place-content: center;
      align-items: center;
      grid-template-columns: auto auto;
      width: 50%;
      height: auto;
      border: 3px solid white;
      padding: 10px 0;
      background-color: black;
      border-top: none;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      z-index: 10;

      .ButtonSVG {
        transform: scale(0.8);
      }

      &.InstructorView {
        display: grid;
      }
    }
  }

  .FooterContainer {
    display: grid;
    grid-template-columns: auto auto;

    * {
      opacity: 0.7;
      width: -moz-fit-content;
      width: fit-content;
    }

    .Version {
      cursor: pointer;
      margin-right: auto;
      padding: 20px;
      font-size: 0.6em;
      user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none;

      &:hover {
        opacity: 1;
      }
    }

    .Credit {
      -webkit-user-select: none;
      user-select: none;
      margin-left: auto;
      padding: 20px;
      text-align: right;
      font-size: 0.6em;
      text-decoration: none;
      -webkit-user-drag: none;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media only screen and (max-width: 1099px) {
    .MissionSelectionContent {
      .MissionListContainer {
        .MissionNavPanel {
          &.InstructorView {
            width: calc(75% - 40px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }

      .EditMissionsContainer {
        &.InstructorView {
          width: 75%;
        }
      }
    }
  }

  @media only screen and (min-width: 1100px) {
    .MissionSelectionContent {
      .MissionListContainer {
        width: 75%;

        .MissionNavPanel {
          &.InstructorView {
            width: calc(75% - 40px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }

      .EditMissionsContainer {
        &.InstructorView {
          width: 56.25%;
        }
      }
    }
  }
}
