@import '../../config.scss';

$background-bar: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    $background-main 50%,
    $background-main 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.5px),
    $color-main calc(50% - 1.5px),
    $color-main calc(50% + 1.5px),
    transparent calc(50% + 1.5px),
    transparent 100%
  );

@keyframes mini-bar-circuit {
  from {
    transform: rotate(-90deg);
    background: $background-bar;
  }
  to {
    transform: rotate(270deg);
    background: $background-bar;
  }
}

.MissionFormPage {
  margin: 0 auto;
  padding: 35px 75px 0;

  //   &.SidePanelIsExpanded {
  //     .Content {
  //     }
  //   }
  //
  //   &:not(.SidePanelIsExpanded) {
  //     .Content {
  //       grid-template-columns: auto;
  //     }
  //   }

  .Navigation {
    display: grid;
    grid-template-columns: auto 130px 130px 130px;
    margin: 0 auto 55px;
    height: 30px;
    vertical-align: bottom;

    .Branding {
      padding-right: 20px;
    }

    .Heading {
      display: inline-block;
      padding: 0 0;
      line-height: 3rem;
      font-size: 30px;
    }

    .Link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: opacity 175ms;

      &:hover {
        border: 2px solid $color-accent;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  .Content {
    display: grid;
    grid-template-columns: auto 325px;
    margin: 0 auto;

    .MissionMap {
      width: unset;
      background-color: $background-alt2;
    }

    .SidePanel {
      .BorderBox {
        margin-left: 10px;

        @media only screen and (max-width: 768px) {
          margin: 0 0 0 5px;
        }

        @media only screen and (max-width: 275px) {
          width: 30%;
        }
      }
    }
  }
}

.SidePanel {
  .BorderBox {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 2px solid $color-main;
    height: $height;
    padding: 15px 0 0;
    background-color: $background-alt2;

    .MoreInformation {
      display: block;
      position: relative;
      top: -2.25px;
      left: -41px;
      margin: 0 0 -26px auto;
      transform: scale(0.75);
    }

    .Close {
      cursor: pointer;
      user-select: none;
      display: block;
      cursor: pointer;
      user-select: none;
      position: relative;
      top: -9px;
      left: 0px;
      transform: scale(0.77);
      margin: 0 0 -40px auto;
      width: 40px;
      height: 40px;
      font-size: 26px;

      .Circle {
        display: grid;
        place-content: center;
        border: 3px solid $color-main;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        background-color: $background-alt1;

        .X {
          display: block;
          height: 1em;
          font-family: 'Arial', monospace;
          font-size: 22px;
          font-weight: bolder;
          line-height: 0.82em;
        }
      }
    }

    .NodeActionDetails {
      > .Label {
        margin: 40px auto 0;
        border-bottom: 2px solid $color-main;
        width: 225px;
        padding: 0 0 8px;
        font-size: 12.5px;
      }

      .NodeAction {
        margin: 40px 0;

        .Delete {
          cursor: pointer;
          user-select: none;
          box-sizing: border-box;
          margin: 5px auto 0;
          border-bottom: 2px solid $color-main;
          width: 225px;
          padding: 15px 15px;
          text-align: right;
          color: $color-main;
          font-size: 12.5px;
          font-weight: 700;

          span {
            color: $color-accent-light;
            font-weight: 400;
          }
        }
      }
    }

    .NoActions {
      margin: 30px auto;
      width: 225px;
      font-size: 12.5px;
    }

    .UserActions {
      display: block;
      margin: 0 auto 40px;
      width: 225px;
      text-align: center;

      .Action {
        width: 40px;
        text-align: center;
      }

      * {
        transition: transform 250ms, opacity 250ms;
      }

      &.Disabled {
        pointer-events: none;

        > .Label,
        .NodeAction .Detail *,
        .NodeAction .Delete,
        .NoActions,
        .Action {
          transform: scale(0.8);
          opacity: 0.65;
        }
      }
    }

    .Color {
      .Field {
        border-bottom: none;
      }
    }

    .ColorFill {
      cursor: pointer;
      user-select: none;
      box-sizing: border-box;
      margin: 5px auto 0;
      border-bottom: 2px solid $color-main;
      width: 225px;
      padding: 15px 15px;
      text-align: right;
      color: $color-main;
      font-size: 12.5px;
      font-weight: 700;

      span {
        color: $color-accent-light;
        font-weight: 400;
      }
    }

    .Detail:last-child {
      margin-bottom: 40px;
    }
  }

  &.NodeStructuring {
    .BorderBox {
      overflow-y: hidden;
      .Nodes {
        overflow-x: auto;
        overflow-y: auto;
        margin: 0;
        height: 100%;
        padding: 0;

        .Padding {
          height: 35px;

          &.DropPending {
            background-color: $background-main;
          }
        }

        .Node {
          $indicator-translate-y: 7px;

          width: fit-content;

          // This will return the transform value
          // for the indicator triangle, placing
          // it in the correct position.
          @function getIndicatorTriangleTransform($isExpanded) {
            $indicator-translate: translate(0, $indicator-translate-y);

            @if $isExpanded {
              @return $indicator-translate;
            } @else {
              @return $indicator-translate rotate(-90deg);
            }
          }

          .ParentNode {
            cursor: grab;
            user-select: none;
            display: block;
            padding: 0 0 0 20px;
            font-size: 12px;
            white-space: nowrap;
            width: 100%;

            .Top,
            .Bottom {
              position: relative;
              z-index: 1;
              height: 0.175rem;
            }

            .Top {
              margin: 0 0 -0.175rem;
            }

            .Center {
              position: relative;
              z-index: 0;
              display: grid;
              grid-template-columns: 18px auto;
              margin: 0 0 -0.175rem;

              * {
                pointer-events: none;
              }

              .Indicator,
              .Name {
                height: 1.35rem;
                line-height: 1.3rem;
              }

              .Indicator {
                width: 12px;

                .Triangle {
                  transform: getIndicatorTriangleTransform(false);
                }
              }

              &:hover {
                background-color: $background-main;
              }
            }

            .Bottom {
            }
          }

          .ChildNodes {
            padding-left: 20px;
          }

          &.Expandable {
            .ParentNode {
              .Indicator {
              }
            }
          }

          &.Ends {
            .ParentNode {
              .Indicator {
                opacity: 0;
              }
            }
          }

          &.IsExpanded {
            .ParentNode {
              .Indicator {
                .Triangle {
                  transform: getIndicatorTriangleTransform(true);
                }
              }
            }
          }

          &.IsCollapsed {
            .ParentNode {
              .Indicator {
                .Triangle {
                  transform: getIndicatorTriangleTransform(false);
                }
              }
            }
          }

          &.DropPending {
            &.DropPendingTop {
              > .ParentNode > .Top {
                margin-top: -0.0875rem;
                padding-bottom: 0.0875rem;
                background: linear-gradient(
                  to top,
                  transparent 0px,
                  transparent 0.0875rem,
                  $color-main 0.0875rem,
                  $color-main 0.175rem
                );
              }
            }

            &.DropPendingCenter {
              background-color: $background-main;
            }

            &.DropPendingBottom {
              > .ParentNode > .Bottom {
                margin-bottom: -0.0875rem;
                padding-top: 0.0875rem;
                background: linear-gradient(
                  to bottom,
                  transparent 0px,
                  transparent 0.0875rem,
                  $color-main 0.0875rem,
                  $color-main 0.175rem
                );
              }
            }
          }
        }
      }
    }
  }
}
