@import 'src/assets/styles/config.scss';

.OutputPanel {
  .BorderBox {
    height: 100%;
    border: 2px solid $color-main;
    overflow: auto;
    box-sizing: border-box;

    .Text {
      display: flex;
      flex-flow: row wrap;
      padding: 30px 20px;
      font-size: 0.75em;
      line-height: 1rem;

      // .SelectedActionPropertyList {
      //   padding: 15px 0 0 15px;

      //   .SelectedActionProperty {
      //     list-style: none;
      //     text-decoration: none;
      //     margin: -3px auto;
      //   }
      // }

      .LineCursor {
        color: $terminal;
        margin-right: 5px;
      }

      .Succeeded * {
        color: $terminal-success;
      }

      .Failed * {
        color: $terminal-fail;
      }
    }
  }
}
