.SessionMembers {
  .Subtitle {
    margin: 0 0 1em;
    width: 100%;
    font-size: 1.15rem;
    font-weight: bold;
  }

  .Participants,
  .Observers,
  .Managers {
    margin-bottom: 2em;
  }

  .Participants {
    .Members {
      .Member {
        display: grid;
        grid-template-columns: 1fr auto;
      }
    }
  }

  .Members {
    .Member {
      margin: 0.75em 0;
      height: 2em;

      .ButtonSvg {
        &.ban:hover {
          filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(300deg)
            brightness(200%) contrast(98%);
        }
      }

      &.NoMembers {
        font-style: italic;
        opacity: 0.5;
      }
    }
  }
}
