@import '../../../assets/styles/config.scss';

.SessionConfig {
  margin: 50px auto;
  width: 100%;
  max-width: 800px;
  border: 2px solid $color-main;
  border-radius: 10px;
  padding: 1em 0;
  box-shadow: $box-shadow-alt5;

  .Buttons {
    margin: 1.5em 8% 0.75em;
    width: calc(100% - 16%);
  }
}
