@import '../../../assets/styles/config.scss';

.SessionConfig {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 3em auto;
  width: 100%;
  max-width: 800px;
  border: 2px solid $color-primary-light;
  border-radius: 10px;
  padding: 1em 2em;
  background-color: $color-primary;

  .Buttons {
    display: flex;
    justify-content: center;
    margin: 0 0 1em;
  }
}
