@import '../../../config.scss';

.ActionRow {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: fill;

  .NoClassName {
    display: none;
  }

  .ActionsContainer {
    display: none;
    box-sizing: border-box;
    margin-top: -40px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: fit-content;
    height: 40px;
    padding-right: 15px;

    .Toggle {
      margin-left: 5px;
      background-color: transparent;

      &.Activated {
        border-color: $terminal;
        .Switch {
          background-color: $terminal;
        }
      }

      .Switch {
        background-color: white;
      }

      &.Activated:hover {
        border-color: $terminal;
        .Switch {
          background-color: $terminal;
        }
      }
      &.Locked {
        cursor: pointer;
      }
    }

    &.InstructorView {
      display: flex;
    }
  }
}
