@import '../../../config.scss';

.NodeActions {
  box-sizing: border-box;
  z-index: 100;
  width: 350px;
  height: auto;
  max-height: 300px;
  margin-right: 10px;
  border: 2px solid $color-main;
  background-color: $background-main;
  padding: 0;
  margin: 0;
  padding: 10px 20px 25px 20px;
  overflow-x: hidden;

  .x {
    position: relative;
    left: 99%;
    list-style-type: none;
    width: 10%;
    margin: 0 0 3px;
    padding: 0;

    &.x:hover {
      cursor: pointer;
      color: black;
    }
  }

  .PromptDisplayText {
    font-size: 0.95em;
    margin: 0 0 10px;
    height: fit-content;
  }

  .NoActions {
    color: $terminal-red;
    margin: 0;
    padding: 0;
  }

  .NodeActionDefault {
    width: 75%;
    margin: 20px 0 1px 0;
    background-color: $background-alt2;
    border: 2px solid $color-main;
    vertical-align: center;

    &.NodeActionDefault:hover {
      cursor: pointer;
      background-color: black;
    }

    .DefaultText {
      display: grid;
      grid-template-columns: auto 50px;
      width: calc(100% - 15px);
      padding: 5px 0 5px 10px;
      color: $color-accent-light;
      height: 20px;
      user-select: none;

      .ArrowDown {
        position: relative;
        height: 22px;
        color: $color-accent-light;
        font-size: 2em;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
  }

  .NodeActionList {
    display: grid;
    grid-template-columns: 100%;
    place-content: start;
    width: 75%;
    margin: 0;
    border: 2px solid $color-main;
    background-color: $background-alt2;
    height: 15vh;
    overflow-y: scroll;

    .NodeAction {
      width: calc(100% - 10px);
      padding: 5px 0 5px 10px;
      color: $color-accent-light;
      list-style-type: none;
      text-decoration: none;

      &.NodeAction:hover {
        cursor: pointer;
        background-color: black;
      }
    }
  }

  .hide {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .NodeActions {
    .PromptDisplayText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .NodeActionDefault {
      .DefaultText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .NodeActionList {
      .NodeAction {
        min-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media only screen and (max-height: 690px) {
  .NodeActions {
    .NodeActionList {
      height: 10vh;
    }
  }
}
