@import '../../../config.scss';

.OutputPanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;

  .BorderBox {
    width: 100%;
    height: 100%;
    border: 2px solid $color-main;
    overflow: auto;
    box-sizing: border-box;

    .MinimizeButtonContainer {
      position: sticky;
      top: 5px;
      margin-left: 92%;

      .MinimizeButton {
        width: 100%;
        font-size: 1.25em;

        &.MinimizeButton:hover {
          cursor: pointer;
          color: black;
        }
      }
      @media only screen and (min-width: 1200px) {
        margin-left: 95%;
      }
    }

    @media only screen and (max-width: 768px) {
      margin: 0 0 0 5px;
    }

    @media only screen and (max-width: 275px) {
      width: 30%;
    }
  }

  .TextArea {
    padding: 15px;
    margin: 0;
  }
}
