@use '../form/index.scss' as *;

.Detail.DetailString {
  .Field {
    display: grid;
    grid-template-columns: auto;
    padding: 0;

    &.Password {
      grid-template-columns: auto 5em;
    }

    .Input {
      background: none;
      margin: 0;
      border: none;
      outline: none;
      padding: $detail-field-padding;
      font-size: $detail-field-font-size;
    }

    .TogglePasswordButton {
      @include detail-field-styling();

      cursor: pointer;
      display: grid;
      justify-content: flex-end;
      margin: 0;

      &:focus {
        text-decoration: underline;
        font-style: italic;
      }
    }
  }

  .CharacterCount {
    font-size: 0.7rem;
    color: $color-faded;
    font-style: italic;
  }
}
