@use '@client/assets/styles/config.scss' as *;
@use '../form/index.scss' as *;

.Detail.DetailLargeString {
  .TitleRow .TitleColumnOne .Shortcuts {
    .ButtonSvg {
      margin: 0;
    }
  }

  .Field {
    padding: 0;

    .Toolbar {
      padding: 1em 1em 0;
    }

    .Editor {
      padding: 0 1.5em;
    }
  }
}
