@import 'src/assets/styles/config.scss';
@import '../form/index.scss';

.Detail.DetailToggle {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  @include detail-field-styling;
  margin: 0 0 2em;

  .TitleRow {
    margin: 0;
  }

  .Field {
    border: none;
    padding: 0;
    margin: 0 0 0 15px;
  }

  .FieldErrorMessage {
    grid-column: span 2;
  }
}
