@import 'src/assets/styles/config.scss';
@import '../form/index.scss';

.Detail.DetailLargeString {
  * {
    transition: transform 250ms, opacity 250ms;
  }

  &.Disabled {
    opacity: unset;

    * {
      transform: scale(0.8);
      opacity: 0.65;
    }
  }

  .Field {
    margin-top: 0;
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .tiptap {
      &:focus {
        outline: none;
      }

      :first-child {
        margin-top: 0;
      }

      p {
        line-height: 1.65;

        &.is-editor-empty::before {
          color: #adb5bd;
          content: attr(data-placeholder);
          float: left;
          height: 0;
          pointer-events: none;
          font-size: 0.95em;
        }
      }

      @mixin code-styling() {
        background-color: $color-accent-dark;
        border-radius: 0.4em;
        padding: 0.25em 0.33em;
        border: 1px solid rgba($color-primary-light, 0.65);
      }

      code {
        @include code-styling();
      }

      pre {
        @include code-styling();
        padding: 0.5em 0.75em;
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;

        code {
          background-color: unset;
          border-radius: unset;
          padding: unset;
          border: unset;
          border-radius: unset;
        }
      }
    }
  }

  .Toolbar {
    @include detail-field-styling();

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5em 0.9em;

    .ButtonSvgPanel_v2 {
      margin: 0.5em 0.5em 0.5em 0;
    }
  }
}
