@use '@client/assets/styles/config.scss' as *;
@use '../form/index.scss' as *;

.Detail.DetailNumber {
  .Unit {
    @include detail-field-styling();

    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
    border-color: transparent;
    padding-right: 1em;
    background: none;

    .UnitText {
      font-size: 0.75em;
      font-weight: bold;
      color: $detail-field-text-color;
    }
  }

  .Unit,
  .Field {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
