@import 'src/assets/styles/config.scss';
@import '../form/index.scss';

.Detail.DetailLargeString .Field {
  padding: 0;

  .Toolbar {
    padding: 1em 1em 0;
  }

  .Editor {
    padding: 0 1.5em;
  }
}
