@use 'src/assets/styles/config.scss' as *;
@use 'src/assets/styles/util.scss' as *;

.DetailGrouping {
  margin: 1.5em 0;
  border-top: 2px solid rgba($color-faded, 0.2);
  border-bottom: 2px solid rgba($color-faded, 0.2);
  padding: 1.5em 0 0;
}
