@use '@client/assets/styles/config.scss' as *;
@use '../form/index.scss' as *;

.Detail.DetailLocked {
  .Field {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    .Text {
      overflow-x: auto;
      opacity: 0.35;
      word-break: break-all;
    }

    .Lock {
      user-select: none;
      cursor: help;

      background: url('../../../assets/images/icons/lock.svg');
      background-repeat: no-repeat;
      background-size: 0.65em;
      background-position: center;
      min-width: 1em;
      height: 0.96em;
      margin-left: 0.25em;
      font-size: $button-svg-size;
    }
  }
}
