@import 'src/assets/styles/config.scss';
@import '../form/index.scss';

.Detail.DetailToggle {
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  @include detail-field-styling;
  background: none;
  padding: 0;

  .TitleRow {
    margin: 0;
  }

  .Field {
    border: none;
    padding: 0;
    background: none;
  }

  .FieldErrorMessage {
    grid-column: span 2;
  }
}
