@import 'src/assets/styles/config.scss';
@import '../form/index.scss';

.Detail.DetailLargeString {
  * {
    transition: transform 250ms, opacity 250ms;
  }

  &.Disabled {
    opacity: unset;

    * {
      transform: scale(0.8);
      opacity: 0.65;
    }
  }

  .FieldContainer {
    // This container is only here because React Quill needs a parent container
    // for the onBlur event to work properly.

    .Field {
      border: none;
      resize: none;
      padding: 0;

      .ql-toolbar {
        border: $detail-field-border;
        border-radius: $detail-field-border-radius $detail-field-border-radius 0
          0;

        .ql-formats {
          button {
            &:hover {
              border: 2px solid $color-accent;
            }

            svg {
              line,
              path,
              rect {
                stroke: $color-primary-light;
              }
            }
          }
        }
      }

      .ql-container {
        font-family: monospace, sans-serif;
        border: $detail-field-border;
        border-radius: 0 0 $detail-field-border-radius
          $detail-field-border-radius;
        border-top: none;

        .ql-editor {
          * {
            color: $detail-field-text-color;

            &::before,
            &::after {
              color: $detail-field-text-color;
            }
          }

          a {
            color: $color-accent;
          }

          ul,
          ol {
            padding: 0;
          }

          &.ql-blank::before {
            color: $color-primary-light;
            opacity: 0.775;
            font-style: normal;
            font-family: 'monospace', sans-serif;
            font-size: 14px;
          }
        }

        .ql-tooltip {
          color: $color-primary-light;
          border-radius: 5px;
          box-shadow: none;
          background-color: $color-accent-dark;
          border: 2px solid $color-primary-light;

          * {
            color: $color-primary-light;
            font-family: 'monospace', sans-serif;
          }

          input {
            border-radius: 5px;
            background-color: $color-accent-dark;
            border: 2px solid $color-primary-light;

            &:focus {
              outline: none;
            }
          }

          .ql-preview {
            color: $color-accent;
            text-decoration: underline;
          }
        }
      }

      &.Error {
        .ql-toolbar {
          border: 2px solid $color-failure;
        }

        .ql-container {
          border: 2px solid $color-failure;
          border-top: none;

          .ql-editor {
            &.ql-blank::before {
              color: $color-failure-light;
            }
          }
        }
      }
    }
  }
}
