@import '../form/index.scss';

.Detail {
  .InputContainer {
    display: grid;
    grid-template-columns: auto;

    &.Password {
      grid-template-columns: auto 55px;
    }

    .CharacterCount {
      margin-top: 0.75em;
      font-size: 0.7rem;
      color: $color-pointer-mark;
      font-style: italic;
    }
  }

  .TogglePasswordButton {
    @include detail-field-styling();
    display: grid;
    justify-content: flex-end;
    cursor: pointer;

    &:focus {
      text-decoration: underline;
      font-style: italic;
    }
  }
}
