@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

.Detail {
  margin: 20px 8% 0;
  min-width: 225px;

  .FieldErrorMessage {
    font-size: 0.7em;
    color: $color-error-alt;
    margin-top: 5px;

    &.hide {
      @include hide();
    }
  }

  .Label {
    user-select: none;
    margin: 11px 0 0;
    width: 100%;
    font-size: 12.5px;

    &.Correct {
      color: $color-correct;
    }

    &.Error {
      color: $color-error-alt;
    }
  }

  @mixin fieldDimensions() {
    box-sizing: border-box;
    margin: 8px 0 0;
    border-top: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
    width: 100%;
    padding: 11px 10px 11px;
  }

  .InputContainer {
    display: grid;
    grid-template-columns: auto;

    &.Password {
      grid-template-columns: auto 55px;
    }
  }

  .Field {
    @include fieldDimensions();
    box-shadow: $box-shadow-alt6;
    color: $color-accent-light;
    font-size: 14px;

    &.Correct {
      border-top: 2px solid $color-correct;
      border-bottom: 2px solid $color-correct;
      color: $color-correct;
    }

    &.Error {
      border-top: 2px solid $color-error-alt;
      border-bottom: 2px solid $color-error-alt;
      color: $color-error-alt;

      &::placeholder {
        color: $color-error-alt;
      }
    }

    &::placeholder {
      color: $color-main;
    }
  }

  .TogglePasswordDisplayContainer {
    @include fieldDimensions();
    display: grid;
    justify-content: flex-end;
    cursor: pointer;
  }

  &.DetailNumber {
    .Unit {
      pointer-events: none;
      @include fieldDimensions();
      margin-bottom: -51px;
      border-color: transparent;
      height: 43px;
      padding-right: 15px;
      text-align: right;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &.DetailBox {
    * {
      transition: transform 250ms, opacity 250ms;
    }

    &.Disabled {
      pointer-events: none;
      opacity: unset;

      * {
        transform: scale(0.8);
        opacity: 0.65;
      }
    }

    .Field {
      border: none;
      resize: none;
      padding: 0;

      .ql-toolbar {
        border: 2px solid $color-main;

        .ql-formats {
          button {
            &:hover {
              border: 2px solid $color-accent-light;
            }

            svg {
              line,
              path,
              rect {
                stroke: $color-main;
              }
            }
          }
        }
      }

      .ql-container {
        font-family: monospace, sans-serif;
        border: 2px solid $color-main;

        .ql-editor {
          * {
            color: $color-accent-light;

            &::before,
            &::after {
              color: $color-accent-light;
            }
          }

          a {
            color: $terminal-blue;
          }

          ul,
          ol {
            padding: 0;
          }

          &.ql-blank::before {
            color: $color-main;
            opacity: 0.775;
            font-style: normal;
            font-family: 'monospace', sans-serif;
            font-size: 14px;
          }
        }

        .ql-tooltip {
          color: $color-main;
          border-radius: 5px;
          box-shadow: none;
          background-color: $background-alt1;
          border: 2px solid $color-main;

          * {
            color: $color-main;
            font-family: 'monospace', sans-serif;
          }

          input {
            border-radius: 5px;
            background-color: $background-alt1;
            border: 2px solid $color-main;

            &:focus {
              outline: none;
            }
          }

          .ql-preview {
            color: $terminal-blue;
            text-decoration: underline;
          }
        }
      }

      &.Error {
        .ql-toolbar {
          border: 2px solid $color-error-alt;
        }

        .ql-container {
          border: 2px solid $color-error-alt;
          border-top: none;

          .ql-editor {
            &.ql-blank::before {
              color: $color-error-alt;
            }
          }
        }
      }
    }

    .FieldErrorMessage {
      font-size: 0.7em;
      color: $color-error-alt;
      margin-top: 5px;

      &.hide {
        @include hide();
      }
    }
  }

  &.DetailDropDown {
    .Field {
      .Option.Selected {
        display: grid;
        grid-template-columns: auto 20px;
        cursor: pointer;
        user-select: none;

        .Indicator {
          display: inline-block;
          font-size: 16px;
          text-align: end;
        }

        .Text {
          color: $color-accent-light;

          &.Correct {
            color: $color-correct;
          }

          &.DefaultValue {
            color: $color-main;
            opacity: 0.775;
          }
        }
      }

      .AllOptions {
        .Option {
          cursor: pointer;
          user-select: none;
          padding: 6px 0;

          &:first-child {
            margin: 10px 0 0;
          }
        }
      }

      &.IsCollapsed {
        .Option.Selected {
          .Indicator {
            transform: scale(1.25, 0.75);
          }
        }

        .Option:not(.Selected) {
          display: none;
        }
      }

      &.IsExpanded {
        .Option.Selected {
          .Indicator {
            transform: scale(1.25, -0.75);
          }
        }
      }
    }
  }
}
