@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

$detail-field-text-color: $color-accent-light;
$detail-field-border: none;
$detail-field-border-radius: 0.35em;
$detail-field-padding: 1em 1.2em;
$detail-field-font-size: 0.92rem;

@mixin detail-field-styling() {
  box-sizing: border-box;
  outline: none;
  border: $detail-field-border;
  border-radius: $detail-field-border-radius;
  width: 100%;
  padding: $detail-field-padding;
  background-color: $color-secondary;
  color: $detail-field-text-color;
  font-size: $detail-field-font-size;
}

@mixin form-container {
  display: grid;
  row-gap: 1.5em;
}

.Detail {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.5em;
  min-width: 225px;

  .FieldErrorMessage {
    font-size: 0.7em;
    color: $color-failure-light;
    margin-top: 1em;

    &.hide {
      @include hide();
    }
  }

  .TitleRow {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 0.3em;

    .TitleColumnOne {
      display: flex;
      flex-flow: row wrap;

      // This is the default behavior because
      // a detail field should have a concise
      // label that is not too long.
      overflow: hidden;

      .Label {
        align-self: center;
        font-size: 0.82rem;
        margin-right: 0.5em;
        color: $color-text-faded;
        font-weight: bold;

        // This is the default behavior because
        // a detail field should have a concise
        // label that is not too long.
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.Error {
          color: $color-failure-light;
        }
      }

      .DetailInfo {
        align-self: flex-start;
        color: $color-accent;
        border: 1.5px solid $color-accent;
        opacity: 0.65;
        border-radius: 50%;
        font-size: 0.6em;
        margin-right: 8px;
        padding: 0.2em 0.45em 0.1em;
        font-weight: bold;
        cursor: default;
        user-select: none;

        &:hover {
          background-color: $color-accent;
          color: $color-accent-dark;
          border-color: $color-accent;
          opacity: 0.9;
        }
      }

      .Warning {
        $content-size: 1.1em;

        background-image: url('../../../assets/images/icons/warning-transparent.svg');
        background-size: $content-size;
        background-repeat: no-repeat;
        background-position: center;
        width: $content-size;
        height: $content-size;
        margin: 1.5px 8px 0 0;

        &:hover {
          background-image: url('../../../assets/images/icons/warning-filled.svg');
          transition: background-image 0.5s;
        }
      }
    }

    .TitleColumnTwo {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      font-size: 0.69em;
      font-style: italic;
      color: $color-text-faded;
    }
  }

  .Field {
    @include detail-field-styling();
    font-size: 0.92rem;

    &.Error {
      border: 2px solid $color-failure;
    }

    &::placeholder {
      color: $color-primary-light;
    }
  }
}
