@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

$detail-field-text-color: $color-accent-lighter;

@mixin detail-field-border() {
  // border: 2px solid rgba(white, 0.2);
  border: none;
  border-radius: 0.35em;
}

@mixin detail-field-styling() {
  @include detail-field-border();

  box-sizing: border-box;
  margin: 0.75em 0 0;
  width: 100%;
  padding: 1em 1.2em;
  background-color: $background-main;
  color: $detail-field-text-color;
}

.Detail {
  margin: 2em 0 0;
  min-width: 225px;

  .FieldErrorMessage {
    font-size: 0.7em;
    color: $color-error-alt;
    margin-top: 5px;

    &.hide {
      @include hide();
    }
  }

  .TitleRow {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 5px;
    margin: 11px 0 0;

    .TitleColumnOne {
      display: flex;
      flex-flow: row wrap;

      // This is the default behavior because
      // a detail field should have a concise
      // label that is not too long.
      overflow: hidden;

      .Label {
        align-self: center;
        font-size: 0.82rem;
        margin-right: 8px;
        color: rgba($color-main, 0.55);
        font-weight: bold;

        // This is the default behavior because
        // a detail field should have a concise
        // label that is not too long.
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.Error {
          color: $color-error-alt;
        }
      }

      .DetailInfo {
        align-self: flex-start;
        color: $color-accent-light;
        border: 1.5px solid $color-accent-light;
        opacity: 0.65;
        border-radius: 50%;
        font-size: 0.6em;
        margin-right: 8px;
        padding: 0.2em 0.45em 0.1em;
        font-weight: bold;
        cursor: default;
        user-select: none;

        &:hover {
          background-color: $color-accent-light;
          color: $background-alt1;
          border-color: $color-accent-light;
          opacity: 0.9;
        }
      }

      .Warning {
        $content-size: 1.1em;

        background-image: url('../../../assets/images/icons/warning-transparent.svg');
        background-size: $content-size;
        background-repeat: no-repeat;
        background-position: center;
        width: $content-size;
        height: $content-size;
        margin: 1.5px 8px 0 0;

        &:hover {
          background-image: url('../../../assets/images/icons/warning-filled.svg');
          transition: background-image 0.5s;
        }
      }
    }

    .TitleColumnTwo {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      font-size: 0.69em;
      font-style: italic;
      color: $color-pointer-mark;
    }
  }

  .Field {
    @include detail-field-styling();
    font-size: 0.92rem;

    &.Error {
      border-top: 2px solid $color-error-alt1;
      border-bottom: 2px solid $color-error-alt1;
    }

    &::placeholder {
      color: $color-main;
    }
  }
}
