@import 'src/assets/styles/config.scss';
@import '/src/assets/styles/util.scss';

@mixin dimensions() {
  box-sizing: border-box;
  margin: 8px 0 0;
  border-top: 2px solid $color-main;
  border-bottom: 2px solid $color-main;
  width: 100%;
  padding: 11px 10px;
}

.Detail {
  margin: 20px 8% 0;
  min-width: 225px;

  .FieldErrorMessage {
    font-size: 0.7em;
    color: $color-error-alt;
    margin-top: 5px;

    &.hide {
      @include hide();
    }
  }

  .TitleRow {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 5px;
    margin: 11px 0 0;

    .TitleColumnOne {
      display: flex;
      flex-flow: row wrap;

      // This is the default behavior because
      // a detail field should have a concise
      // label that is not too long.
      overflow: hidden;

      .Label {
        align-self: center;
        font-size: 0.82rem;

        // This is the default behavior because
        // a detail field should have a concise
        // label that is not too long.
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.Error {
          color: $color-error-alt;
        }
      }

      .DetailInfo {
        align-self: flex-start;
        color: $color-accent-light;
        border: 1.5px solid $color-accent-light;
        opacity: 0.65;
        border-radius: 50%;
        font-size: 0.6em;
        margin: 0 8px;
        padding: 0.2em 0.45em 0.1em;
        font-weight: bold;
        cursor: default;
        user-select: none;

        &:hover {
          background-color: $color-accent-light;
          color: $background-alt1;
          border-color: $color-accent-light;
          opacity: 0.9;
        }
      }
    }

    .TitleColumnTwo {
      font-size: 0.69em;
      font-style: italic;
      color: $color-pointer-mark;
    }
  }

  .Field {
    @include dimensions();
    color: $color-accent-light;
    font-size: 0.92rem;

    &.Error {
      border-top: 2px solid $color-error-alt1;
      border-bottom: 2px solid $color-error-alt1;
    }

    &::placeholder {
      color: $color-main;
    }
  }
}
