@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.MissionMap {
  .Hud {
    // Disable pointer events for root element
    // to prevent interference with interfacing
    // with overlapped elements via the mouse.
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    z-index: $z-map-hud;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-main;

    // Default font-size for HUD elements.
    font-size: 16px;

    * {
      // Enable pointer events for all children
      // to allow interfacing with the UI elements
      // themselves.
      pointer-events: auto;
    }

    > * {
      position: absolute;
    }

    .TitleBar {
      // Position the title at the top
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      top: 0;

      user-select: none;
      display: grid;
      grid-template-columns: 1fr auto;
      box-sizing: border-box;
      opacity: 0.95;
      overflow: hidden;
      border-bottom: 2px solid $color-main;
      width: 100%;
      padding: 0.25em;
      padding-left: 1em;
      box-shadow: $box-shadow-alt6;
      letter-spacing: 0.04em;
      white-space: nowrap;
      text-overflow: ellipsis;

      .Title {
        width: 0;
        font-size: 0.75em;
        line-height: $button-svg-small-size;
      }

      .ButtonSvgPanel {
        // Remove top rule set in base ButtonSVGPanel
        // styles.
        top: unset;

        transition: 250ms background-color;
        padding-left: 2em;
        border-radius: 0;
        overflow: hidden;
        white-space: nowrap;
        background: linear-gradient(
          to left,
          #272736 0 calc(100% - 1.5em),
          transparent 100%
        );

        &.map-is-zoomed-in {
          .ButtonSvg.zoom-in {
            pointer-events: none;
            opacity: 0.5;
          }
        }

        &.map-is-zoomed-out {
          .ButtonSvg.zoom-out {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }

      .Title,
      .ButtonSvgPanel {
        height: $button-svg-small-size;
      }
    }

    // todo: Review if this is needed.
    > .Title {
      // Position the title at the top
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      top: 0;

      user-select: none;
      box-sizing: border-box;
      opacity: 0.95;
      overflow: hidden;
      border: 2px solid $color-main;
      border-top: none;
      width: fit-content;
      max-width: 65%;
      padding: 0.75em;
      background-color: $background-alt1;
      font-size: 1em;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: 0.04em;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .MoreInformation {
      @include center-origin-x;
      top: 5.6em;
      right: 0;
    }

    // todo: Review if this is needed.
    > .ButtonSvgPanel {
      // Remove top rule set in base ButtonSVGPanel
      // styles.
      top: unset;

      transition: 250ms background-color;
      border: 2px solid $color-main;
      border-bottom: none;
      border-radius: 0;
      padding: 0.5em 0;
      box-shadow: $box-shadow-alt6;
      overflow: hidden;
      white-space: nowrap;
      max-width: 85%;

      // Position the SVG panel at the bottom
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      bottom: 0;

      &.map-is-zoomed-in {
        .ButtonSvg.zoom-in {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      &.map-is-zoomed-out {
        .ButtonSvg.zoom-out {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}
