@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.MissionMap {
  .Hud {
    // Disable pointer events for root element
    // to prevent interference with interfacing
    // with overlapped elements via the mouse.
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    z-index: $z-map-hud;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-primary-light;

    // Default font-size for HUD elements.
    font-size: 16px;

    * {
      // Enable pointer events for all children
      // to allow interfacing with the UI elements
      // themselves.
      pointer-events: auto;
    }

    > * {
      position: absolute;
    }

    .TitleBar {
      // Position the title at the top
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      bottom: 0;
    }

    .TabBar {
      // Position the title at the bottom
      // center of the HUD.
      @include center-origin-x;
      left: 50%;
      top: 0;
    }

    .MoreInformation {
      @include center-origin-x;
      top: 5.6em;
      right: 0;
    }
  }
}
