@use '../../../../../assets/styles/config.scss' as *;

.MissionMap {
  .PanController {
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.Inactive {
      z-index: $z-map-pan-ctrl-inactive;
    }

    &.Active {
      z-index: $z-map-pan-ctrl-active;
    }
  }
}
