@use '@client/assets/styles/config.scss' as *;

.TimelineControlPanel {
  position: sticky;
  z-index: 1;
  top: 0;
  transition: opacity 175ms;
  padding: 0 0 1.5em;
  background-color: $color-primary;
}
