@import 'src/assets/styles/config.scss';

.TimelineControlPanel {
  display: grid;
  grid-template-columns: 1fr auto;
  flex-direction: row;
  align-items: center;
  padding: 0 0.8em 1.5em;

  .TimelineHeading {
    font-size: 1.1em;
  }
}
