@import '../../../config.scss';

.Markdown {
  $general-margin-bottom: 12px;
  $list-margin-bottom: calc(#{$general-margin-bottom} + 4px);
  $code-block-margin-top: 4px;
  $code-block-margin-bottom: calc(
    #{$general-margin-bottom} + #{$code-block-margin-top} - 2px
  );
  $color-font-code: $color-main;
  $heading-margin-top: 20px;
  $heading-margin-bottom: 24px;
  $line-height-to-size-ratio: 1.3;
  $h1-size: 24.5px;
  $h2-size: 23px;
  $h3-size: 21.5px;
  $h4-size: 20px;
  $h5-size: 18.5px;
  $h6-size: 17px;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  * {
    margin-bottom: $general-margin-bottom;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: $heading-margin-top auto $heading-margin-bottom;
  }
  h1 {
    font-size: $h1-size;
    line-height: $h1-size * $line-height-to-size-ratio;
  }
  h2 {
    background-color: none;
    font-size: $h2-size;
    line-height: $h2-size * $line-height-to-size-ratio;
  }
  h3 {
    font-size: $h3-size;
    line-height: $h3-size * $line-height-to-size-ratio;
  }
  h4 {
    font-size: $h4-size;
    line-height: $h4-size * $line-height-to-size-ratio;
  }
  h5 {
    font-size: $h5-size;
    line-height: $h5-size * $line-height-to-size-ratio;
  }
  h6 {
    font-size: $h6-size;
    line-height: $h6-size * $line-height-to-size-ratio;
  }
  p {
    line-height: 24px;
    text-align: left;
    overflow: hidden;
  }
  ul,
  ol {
    display: inline-block;
    width: 90%;
    margin: 0 0 $list-margin-bottom;
    padding: 0;
  }
  li {
    margin-left: 30px;
    padding: 0;
    text-align: left;
    line-height: 24px;
  }
  code {
    display: inline-block;
    margin: 0;
    border-radius: 5px;
    padding: 0 6px 0.5px 7px;
    background-color: rgba(
      adjust-color($color-accent, $saturation: -15%, $hue: -15%),
      0.9
    );
    color: $color-negative;
    font-weight: 700;
    line-height: 18px;
    * {
      color: rgba($color-negative, 0.75);
    }
  }
  code.code-block {
    $code-line-margin-bottom: 8px;
    display: block;
    overflow-x: auto;
    margin: $code-block-margin-top 0 $code-block-margin-bottom;
    padding: 14px 0;
    text-align: left;
    * {
      margin-bottom: $code-line-margin-bottom;
      word-break: normal;
    }
    pre {
      :last-child {
        margin-bottom: $code-line-margin-bottom;
      }
    }
    code {
      display: block;
      text-align: left;
      margin-bottom: -16px;
      padding-left: 0;
    }
    pre {
      padding-left: 19px;
    }
    p {
      display: block;
      overflow: visible;
      margin-left: 25px;
      margin-right: 25px;
      white-space: nowrap;
      word-break: normal;
    }
    p::after {
      content: '    ';
      -webkit-user-select: none;
      user-select: none;
      white-space: pre;
    }
  }
  img {
    display: block;
    margin: 0 auto inherit;
    max-width: 80%;
    max-height: 300px;
    border-radius: 10px;
  }
  hr {
    margin: 30px 0;
  }
  .indentation {
    padding-left: 24px;
  }
  .double-space {
    padding-left: 12px;
  }
  :last-child {
    margin-bottom: 0 !important;
  }
}
// strong {
// }
