@import '../../../config.scss';

.Navigation {
  display: grid;
  grid-template-columns: auto 130px;
  margin: 0 auto;
  width: 100%;
  height: $nav-height;
  vertical-align: bottom;

  .Branding {
    background-position-x: 0;
  }

  .LinkContainer {
    display: grid;
    place-items: center;
    align-items: center;

    .Link {
      -webkit-user-select: none;
      user-select: none;
      transition: opacity 175ms;
      padding: 10px;

      &:hover {
        cursor: pointer;
        border: 2px solid $color-accent;
        border-radius: 5px;
        margin: 0 10px;
      }
    }
  }
}
