@import 'src/assets/styles/config.scss';

.ButtonSvgPanel {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  &.FlowColumn {
    flex-direction: column;

    .DividerSvg {
      align-self: center;
      margin: 0.1em 0;
      width: 100%;
      height: 1px;
      background-color: $color-faded;
    }

    .ButtonSvg {
      margin: 0.175em 0;
    }
  }

  &.FlowRow {
    flex-direction: row;

    .DividerSvg {
      align-self: center;
      margin: 0 0.5em;
      width: 1px;
      height: 1.1em;
      background-color: $color-faded;
    }

    .ButtonSvg {
      margin: 0 0.1em;
    }
  }

  &.PanelEmpty {
    width: 0;
  }

  &.RevealLabels {
    .ButtonSvg {
      font-size: 1.25rem; // 20px
    }
  }

  &.HideLabels {
    .ButtonLabel {
      display: none;
    }
  }

  .DividerSvg:first-child,
  .DividerSvg:last-child {
    display: none;
  }
}
