@use '@client/assets/styles/config.scss' as *;

.PropertyBadges {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.75em;
  background-color: $color-secondary;
  border-radius: 0.6em;
  padding: 1.5em 2em;
  font-size: 0.85em;
}
