@import 'src/assets/styles/config.scss';

@mixin ineffective-property($content) {
  .Value {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &::after {
    content: $content;
    color: $color-accent-light;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
  }
}

.ActionProperties {
  margin: 0;
  border: 2px solid $color-primary-light;
  border-radius: 0.6em;
  padding: 1em 2em;
  font-size: 14px;

  .ActionDescription {
    margin: 1em 0 2.5em;
  }
}
