@import 'src/assets/styles/config.scss';

.ActionProperties {
  margin: 0;
  border: 2px solid $color-primary-light;
  border-radius: 0.6em;
  padding: 1em 2em;
  font-size: 14px;

  .ActionDescription {
    margin: 1em 0 2.5em;
  }
}
