@import 'src/assets/styles/config.scss';

.MissionMap {
  .Overlay {
    .ActionExecModal {
      border: 2px solid $color-main;
      box-shadow: $box-shadow-alt2;

      .Heading {
        min-width: 16.5em;
        user-select: none;

        .NodeName {
          line-height: 1.5em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 1.2em;
        }

        .DropDownLabel {
          margin: 1em 0 0;
          font-size: 0.8em;
        }
      }

      .Close {
        background: none;
        padding: 0;
      }

      .NoActions {
        display: none;
        color: $terminal-red;
        margin: 0;
        margin: 0 15px 25px 20px;
      }

      .DropDown {
        min-width: 19em;
        user-select: none;

        // Hide options if the drop down is
        // collapsed.
        &.Collapsed {
          .Selection {
            .Arrow {
              transform: rotate(180deg);
            }
          }
          .Options {
            display: none;
          }
        }

        // Disable the drop down if there are
        // less than two options.
        &.Disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        .Selection {
          cursor: pointer;
          display: grid;
          grid-template-columns: 1fr auto;
          border: 2px solid $color-main;
          padding: 0.7em 0.9em;
          box-shadow: $box-shadow-alt2;
          color: $color-accent-light;

          &:hover {
            background-color: $background-alt2;
          }

          .Arrow {
            color: $color-accent-light;
            font-size: 2em;
            height: 0.5em;
            line-height: 1em;
          }
        }

        .Options {
          cursor: pointer;
          border: 2px solid $color-main;
          box-shadow: $box-shadow-alt2;
          height: auto;
          max-height: 140px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 15px;
          }
        }
      }

      .Buttons {
        .Button {
          margin: 0;
        }
      }

      > :not(.Heading):not(.Close) {
        grid-column: span 2;
      }
    }
  }
}
