@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.ActionProperty {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 1em 0;
  color: $color-accent-light;

  .Label {
    color: $color-primary-light;
    font-weight: bold;

    &::after {
      content: ':';
    }
  }

  .Value {
    transform: scale(1);
    transition: color 250ms ease-in-out, transform 250ms ease-in-out;
    color: $color-accent-light;
    text-align: right;
  }

  &.Updated {
    .Value {
      transform: scale(1.1);
      transition: color 250ms ease-in-out, transform 250ms ease-in-out;
      color: $color-primary-light;
    }
  }

  &.CheatsApplied {
    grid-template-columns: 1fr auto auto;
    .Value {
      text-decoration: line-through;
      color: $color-text-faded;

      &::before {
        content: 'cheats applied ';
        display: inline-block;
        grid-column: 2 / 3;
        margin-right: 1em;
        color: $color-text-faded;
        text-decoration: none;
        text-align: right;
        font-size: 0.8em;
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}
