@import 'src/assets/styles/config.scss';

.ActionProperties {
  border: 2px solid $border-color-main;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 15px;
  padding-left: 30px;

  .Property {
    margin: 10px 0;
    padding: 0 5px;
    color: $color-alt1;

    .Label {
      color: $color-alt1;
      text-decoration: underline;
    }

    .Value {
      color: $color-alt1;
      transform: scale(1);
      transition: color 250ms ease-in-out, transform 250ms ease-in-out;
    }

    &.Updated {
      .Value {
        color: $color-main;
        transform: scale(1.1);
        transition: color 250ms ease-in-out, transform 250ms ease-in-out;
      }
    }

    &.CheatsApplied {
      .Value {
        text-decoration: line-through;
        opacity: 0.5;
      }

      &::after {
        content: ' - cheats applied';
        color: $color-accent-light;
        font-size: 0.9em;
        font-style: italic;
        font-weight: bold;
      }
    }
  }

  @media only screen and (max-width: 655px) {
    & {
      padding-left: 5px;

      .Property {
        margin: 5px 0 0 5px;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
