@import 'src/assets/styles/config.scss';

.ExecCheats {
  margin: 0.5em 0;

  .Heading {
    margin: 0 0 1.75em;
    font-size: 0.82em;
  }

  .DetailToggle {
    margin: 1em 0;
    border: unset;
    width: unset;
    padding: unset;
  }
}
