@use 'src/assets/styles/config.scss' as *;
@use 'src/components/content/form/index.scss' as *;

.ExecCheats {
  @include form-container();
  margin: 0.5em 0;

  .Heading {
    margin: 0 0 0.5em;
    font-size: 0.82em;
  }
}
