@import 'src/assets/styles/config.scss';

.List {
  .ListPage {
    .ListColumnLabel {
      @mixin sortBackground($url) {
        background-image: url($url);
        background-size: 1em;
        background-repeat: no-repeat;
        background-position: center 0.075em;
      }

      cursor: pointer;
      user-select: none;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.75em;

      .ColumnLabelText {
        font-weight: bold;
        color: white;
        line-height: normal;
      }

      .ColumnLabelSort {
        opacity: 0.45;
        width: 1em;
      }

      &:hover {
        background-color: $node-blue;

        .ColumnLabelText {
          color: $color-alt1;
        }

        .ColumnLabelSort {
          @include sortBackground('/assets/images/icons/up.svg');
        }
      }

      &.SortAscending {
        .ColumnLabelSort {
          @include sortBackground('/assets/images/icons/up.svg');
        }
      }

      &.SortDescending {
        .ColumnLabelSort {
          @include sortBackground('/assets/images/icons/down.svg');
        }
      }
    }
  }
}
