@import 'src/assets/styles/config.scss';

.List {
  .ListPage {
    .ListColumnLabels {
      margin: 0 0 0.5em;

      .ItemButtons {
        .ButtonSvg {
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }
}
