@use 'src/assets/styles/config.scss' as *;

.ListPage {
  $item-non-padded-height: 1.4em;
  $item-cell-padding-vertical: 0.35em;
  $item-cell-padding-left: 1rem;
  $item-options-background-y: 0.35em;
  $last-item-padding-bottom: 0.5em;

  width: 100%;
  padding: 0.5em 0 0em;
  overflow-x: auto;
  overflow-y: hidden;

  .ListItems {
    box-sizing: border-box;
    width: 100%;

    .ListItem,
    .ListItemUpload .UploadItemContent {
      border-top: 2px solid rgba(white, 0.075);
    }
  }

  // Styles all list items, as well as anything that
  // could be added as a subsitute for a list item,
  // such as a blank slot, or a custom message, such
  // as "No items available."
  .ListItemLike {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr auto;
    min-width: 100%;
    width: fit-content;
    height: $item-non-padded-height + $item-cell-padding-vertical * 2;
    padding: 0 1em 0 0;

    // Set the width for any reorder handle
    // to the left padding of the item cells.
    .ReorderHandle {
      width: $item-cell-padding-left;
    }

    // Styles all list item cells, as well as anything that
    // could be added as a substitute for a list item cell,
    // such as a column label.
    .ItemCellLike {
      padding: $item-cell-padding-vertical 0 $item-cell-padding-vertical
        $item-cell-padding-left;
      text-align: left;
      font-size: 0.8rem;
      line-height: 2.1em;
      color: rgba(white, 0.9);
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.ItemCellWarning {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &.ColumnLabelDragHandle {
        .DragHandleLabelIcon {
          opacity: 0.5;
          height: 100%;
          background-image: url('../../../../../assets/images/icons/reorder.svg');
          background-size: 1.15em 1.15em;
          background-repeat: no-repeat;
          background-position: top center;
        }
      }

      &.ItemCellDragHandle {
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 175ms;

        .DragIcon {
          width: 1em;
          height: 1em;

          background: radial-gradient(
            circle,
            $color-primary-light 15%,
            transparent calc(15% + 1px)
          );
          background-size: 50% 50%;
        }

        &:hover {
          .DragIcon {
            transform: scale(1.35);
          }
        }
      }

      &.ItemOptions {
        padding: unset;

        .ButtonSvgPanel .SvgPanelElement {
          padding: 0.271rem 1rem;
        }
      }
    }

    &.NoItems {
      .ItemName {
        font-style: italic;
        opacity: 0.65;
      }
    }

    &.Disabled {
      pointer-events: auto;
    }

    &:last-child {
      height: $item-non-padded-height + $item-cell-padding-vertical * 2 +
        $last-item-padding-bottom;
      padding-bottom: $last-item-padding-bottom;
    }
  }
}
