@import 'src/assets/styles/config.scss';

.List {
  .ListPage {
    .ListColumnLabels {
      border-bottom: 1px solid rgba(white, 0.15);

      .ItemButtons {
        .ButtonSvg {
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }
}
