@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

// For more styling rules of the `ListItem` component,
// see the `.ListItemLike` styling rules in `ListPage.scss`.
.ListItem {
  cursor: pointer;

  &:hover,
  &.ButtonMenuHighlight {
    $hover-color: $color-accent;

    @include background-mask;

    color: $hover-color;

    .ItemName {
      color: $hover-color;
    }
  }

  .Disabled {
  }

  .ItemOptions {
    display: flex;
    align-items: center;
  }
}
