@import 'src/assets/styles/config.scss';

// For more styling rules of the `ListItem` component,
// see the `.ListItemLike` styling rules in `ListPage.scss`.
.ListItem {
  .ItemOptions {
    background-image: url('/assets/images/icons/options.svg');
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.Selectable {
    cursor: pointer;

    &:hover {
      $hover-color: $color-alt1;

      background-color: $node-blue;
      color: $hover-color;

      .ItemName {
        color: $hover-color;
      }
    }
  }
}
