@import 'src/assets/styles/config.scss';

.ListPage {
  $item-non-padded-height: 1.4em;
  $item-cell-padding-vertical: 0.35em;
  $item-cell-padding-left: 1rem;
  $item-options-background-y: 0.35em;
  $last-item-padding-bottom: 1em;

  width: 100%;
  padding: 0.5em 0 0em;
  overflow-x: auto;
  overflow-y: hidden;

  .ListItems {
    box-sizing: border-box;
    width: 100%;

    .ListItem {
      border-top: 2px solid rgba(white, 0.075);
    }
  }

  // Styles all list items, as well as anything that
  // could be added as a subsitute for a list item,
  // such as a blank slot, or a custom message, such
  // as "No items available."
  .ListItemLike {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr auto;
    min-width: 100%;
    width: fit-content;
    height: $item-non-padded-height + $item-cell-padding-vertical * 2;
    padding: 0 1em 0 0;

    // Styles all list item cells, as well as anything that
    // could be added as a substitute for a list item cell,
    // such as a column label.
    .ItemCellLike {
      padding: $item-cell-padding-vertical 0 $item-cell-padding-vertical
        $item-cell-padding-left;
      text-align: left;
      font-size: 0.8rem;
      line-height: 2.1em;
      color: rgba(white, 0.9);
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.ItemCellWarning {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &.ItemOptions {
        padding: unset;

        .ButtonSvgPanel .SvgPanelElement {
          padding: 0.271rem 1rem;
        }
      }
    }

    &.NoItems {
      .ItemName {
        font-style: italic;
        opacity: 0.65;
      }
    }

    &.Disabled {
      pointer-events: auto;
    }

    &:last-child {
      height: $item-non-padded-height + $item-cell-padding-vertical * 2 +
        $last-item-padding-bottom;
      padding-bottom: $last-item-padding-bottom;
    }
  }
}
