@use '@client/assets/styles/config.scss' as *;
@use '../../index.scss' as *;

.Detail.DetailIconSelector {
  .Field {
    padding: 0;

    .DropdownOption {
      &.Selected {
        display: grid;
        grid-template-columns: 1fr auto;
        align-content: start;
      }

      .DropdownIcon {
        width: 1em;
        height: 1em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .AvailableOptions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .DropdownOption {
        padding: 1em 0.3em;

        &,
        &:last-child {
          margin: 0;
        }

        &:first-child {
          padding-left: $detail-field-horizontal-padding;
        }
      }
    }

    &.Collapsed {
      .AvailableOptions {
        display: none;
      }
    }
  }
}
