@use 'metis/client/assets/styles/config.scss' as *;

.AjaxStatusDisplay {
  .status {
    user-select: none;
    padding: 40px 0;
    text-align: center;
    color: $color-primary-light;
    font-size: 17px;
    letter-spacing: 2px;
  }

  &.inline {
    display: inline-block;
  }
}
