@import '~assets/styles/config.scss';

.AjaxStatusDisplay {
  .status {
    user-select: none;
    padding: 40px 0;
    text-align: center;
    color: $color-main;
    font-size: 17px;
    letter-spacing: 2px;
  }

  &.inline {
    display: inline-block;
  }
}
