@use 'src/assets/styles/config.scss' as *;

.ConnectionStatus {
  opacity: 0.95;
  position: fixed;
  z-index: $z-index-connection-status;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  border-radius: 18px 18px 0 0;
  border: 2px solid white;
  padding: 10px 25px 8px;
  background-color: $color-secondary;

  &.Inactive {
    display: none;
  }

  &.Red {
    background-color: $color-failure-dark;
  }

  &.Green {
    background-color: $color-success-dark;
  }
}
