@import 'src/assets/styles/config.scss';

.MoreInformation {
  user-select: none;
  display: inline-block;
  width: 32px;
  height: 32px;

  .circle {
    cursor: help;
    display: grid;
    place-content: center;
    border: 3px solid $color-primary-light;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: $color-accent-dark;

    .question-mark {
      display: block;
      height: 1em;
      font-family: 'Arial', monospace;
      font-size: 16px;
      font-weight: bolder;
      line-height: 1em;
    }
  }
}
