@import 'src/assets/styles/config.scss';

.MoreInformation {
  user-select: none;
  display: inline-block;
  width: 32px;
  height: 32px;

  .circle {
    cursor: help;
    display: grid;
    place-content: center;
    border: 2px solid $color-main;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    background-color: $background-alt1;
    font-size: 20px;

    .question-mark {
      display: block;
      height: 1em;
      font-family: 'Arial', monospace;
      font-size: 16px;
      font-weight: bolder;
      line-height: 1em;
    }
  }
}
