@import 'src/assets/styles/config.scss';

@keyframes expand-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes expand-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.Prompt {
  position: absolute;
  z-index: $z-index-confirmation;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  .backing {
    opacity: 1;
    position: fixed;
    z-index: $z-index-confirmation;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-accent-dark, 0.85);

    .alert-box {
      display: block;
      box-sizing: border-box;
      transition: 750ms transform;
      margin: 200px auto;
      border: 2px solid $color-primary-light;
      border-radius: 45px;
      max-width: 600px;
      max-height: 600px;
      padding: 40px 25px 25px;
      background-color: rgba($color-secondary, 0.75);

      .message {
        overflow-y: auto;
        margin: 0 auto;
        border: 2px solid $color-primary-light;
        border-radius: 20px;
        max-height: 300px;
        width: -moz-fit-content;
        width: fit-content;
        padding: 10px 30px 25px;
        background-color: rgba($color-accent-dark, 1);

        .Markdown p {
          white-space: pre-wrap;
        }
      }

      .text-field {
        display: grid;
        grid-template-columns: auto 200px;
        margin: 0 auto;
        width: fit-content;
        padding: 25px 0 5px;

        .label {
          padding: 8px 30px 0 0;
        }

        .field {
          display: block;
          box-sizing: border-box;
          margin: 0 auto;
          border: 2px solid $color-primary-light;
          border-radius: 8px;
          width: 200px;
          padding: 7px 20px 8px;
          background-color: $color-accent-dark;
          outline: none;
        }
      }

      .actions {
        margin: 20px 0 0;
        text-align: center;
      }

      .AjaxStatusDisplay {
        .status {
          padding-top: 5px;
        }
      }
    }
  }

  &.pending {
    .alert-box {
      background-color: rgba($color-secondary, 1);

      .actions {
        display: none;
      }
    }
  }

  &.unresolved {
    pointer-events: all;
    opacity: 1;

    .alert-box {
      animation: expand-in 250ms ease-in-out;
    }
  }

  &.resolving {
    pointer-events: none;
    opacity: 0;
    // If this prompt was generated using the `prompt` method in the global context, the
    // component will be removed from the DOM 250ms
    transition: 250ms opacity;

    * {
      pointer-events: none;
    }

    .alert-box {
      animation: expand-out 250ms ease-in-out;
    }
  }
}
