@import 'src/assets/styles/config.scss';

.RichTextOutputBox {
  display: inline;

  .tiptap {
    display: inline;

    :first-child:is(p) {
      display: inline;
    }

    :not(ul, ol, li) {
      margin: 0;
      padding: 0;
    }
  }
}
