@import 'src/assets/styles/config.scss';

.RichTextOutputBox {
  .ql-container {
    .ql-editor {
      margin: 0;
      padding: 0;

      // p,
      // a {
      //   margin: 0;
      //   padding: 0;
      // }

      // a {
      //   color: $terminal-blue;
      // }

      // ul {
      //   list-style-type: disc;
      // }

      // ul,
      // ol {
      //   padding-left: 15px;
      // }
    }
  }
}
