@import 'src/assets/styles/config.scss';

.RichTextOutputBox {
  display: inline;

  .tiptap {
    display: inline;

    :not(ul, ol, li) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }
}
