@use '@client/assets/styles/config.scss' as *;
@use '@client/assets/styles/util.scss' as *;

.Page.LobbyPage {
  $content-height: calc(100vh - #{$nav-height} - #{$footer-height});
  display: grid;
  grid-template-rows: $nav-height $content-height $footer-height;
  height: 100vh;

  .Content {
    $content-padding-horizontal: 2em;

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: $content-height;
    padding: 2em $content-padding-horizontal 0;

    > .Panel .PanelView {
      box-sizing: border-box;
      padding-top: 1.5em;
    }

    .Section {
      box-sizing: border-box;
      padding: 0 0 1.75em;

      &.DetailSection {
        .Title {
          margin: 0 0 1em;
          font-size: 1.5em;
          font-weight: bold;
        }

        @media (min-width: 800px) {
          display: grid;
          grid-template-columns: 1fr auto;

          .Title {
            margin: 0;
          }
        }
      }

      &.StatusSection {
        display: flex;
        justify-content: start;

        .StartStatus {
          max-width: 64em;
          font-size: 0.85rem;
          font-style: italic;
          line-height: 1.6em;
          color: $color-accent-light;

          // Change color to red if setup failed.
          &.StartStatusFailure {
            color: $color-failure-light;
          }
          // Add pulse animation if setup is ongoing.
          &:not(.StartStatusFailure) {
            @include pulse;
          }
        }
      }

      &.MembersSection,
      &.SetupSection {
        box-sizing: border-box;
        height: 100%;
        max-width: calc(100vw - 2 * #{$content-padding-horizontal});
        overflow: auto;

        .SessionMemberList,
        .List {
          height: 100%;
        }
      }

      &.ConfigurationSection {
        height: 100%;

        .SessionLobbyConfig {
          height: 100%;

          .Panel {
            border-radius: 1em;
          }
        }
      }
    }

    .Title,
    .Section {
      width: 100%;
    }
  }
}
