@import 'src/assets/styles/config.scss';
@import 'src/components/content/form/index.scss';

.ArgGrouping {
  @include form-container;
  margin: 1em 0;
  padding: 1em;
  border: 2px solid $color-primary-light;
}
