@import 'src/assets/styles/config.scss';

.Grouping {
  margin: 10px 8%;
  padding: 0 0 30px;
  border: 2px solid $color-main;

  &:first-child {
    margin-top: 0;
  }

  .Detail {
    min-width: calc(205px - 16%);

    &.DetailToggle {
      border: none;
      margin: 20px 8% -10px;
    }
  }
}
