@import 'src/assets/styles/config.scss';

.Args {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 10px 0 0;

  .ArgsTitle {
    margin: 10px 8% 0;
    font-size: 0.78em;
  }

  .Grouping {
    margin: 10px 8%;
    padding: 0 0 30px;
    border: 2px solid $color-main;

    &:first-child {
      margin-top: 0;
    }
  }
}
