@import 'src/assets/styles/config.scss';

.TargetEnvEntry {
  &.Selected {
    .TargetEnvInfo,
    .TargetInfo {
      margin: 20px 8%;

      .Label {
        font-size: 0.78em;
      }

      .Value {
        display: grid;
        align-items: center;
        grid-template-columns: auto 35px;
        font-size: 14px;
        border-top: 2px solid $color-main;
        border-bottom: 2px solid $color-main;
        margin: 8px 0 0;
        padding: 11px 10px;

        .Lock {
          display: grid;
          justify-content: flex-end;
          user-select: none;
          cursor: help;

          background: url('/assets/images/icons/lock.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          width: 1em;
          height: 1em;
        }
      }
    }
  }
}
