@import 'src/assets/styles/config.scss';

.Targets {
  margin: 50px 0 0;
  width: 100%;

  &.Selected {
    margin: 0;
  }

  .ListTitle {
    margin: 0 8% 20px;
    font-weight: bold;
    text-decoration: underline;
  }

  .TargetList,
  .TargetContainer {
    width: 84%;
    margin: 10px 8%;

    .Target {
      margin: 10px 0 0;
      font-size: 0.9em;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $terminal;
      }

      &.Selected {
        font-size: 0.9em;

        &:hover {
          color: unset;
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }

  .TargetContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto 60px;
  }
}
