@import 'src/assets/styles/config.scss';

.EffectTimeline {
  .TimelineItems {
    user-select: none;
    box-sizing: border-box;
    min-width: 100%;
    width: fit-content;
  }

  .TimelineItemLike {
    box-sizing: border-box;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    &.HoverTop {
      border-top-color: $color-accent-light;
    }

    &.HoverBottom {
      border-bottom-color: $color-accent-light;
    }
  }
}
