@import 'src/assets/styles/config.scss';

.EffectTimeline {
  .TimelineHeading {
    margin: 0 0 1.5em;
    border-bottom: 0.2em solid $color-secondary !important;
    padding: 0 0 0.5em;
    font-size: 1.1em;
  }

  .TimelineHeadingLegacy {
    margin: 2em 0 0.5em;
    font-size: 1.1em;
  }

  .TimelineItems {
    user-select: none;
    box-sizing: border-box;
    min-width: 100%;
    width: fit-content;
    padding: 0 1em 0 0;
  }
}
