@use '@client/assets/styles/config.scss' as *;
@use '@client/assets/styles/util.scss' as *;

.TimelineItem {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 2.1em;

  .TimelineItemCell:last-child {
    padding-right: 1em;
  }

  &:hover {
    @include background-mask($opacity: 0.05);
  }

  &.Defective {
    grid-template-columns: auto 1fr auto auto;
  }

  &.Selected {
    @include background-mask($opacity: 0.15);
  }

  &.Dragged:not(.HoverTop):not(.HoverBottom):hover {
    @include background-mask($opacity: 0.25);
  }

  &.PreviewMode {
    grid-template-columns: 1fr auto;
  }

  &.Defective.PreviewMode {
    grid-template-columns: 1fr auto auto;
  }
}
