@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';

.TimelineItem {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 2.1em;

  .TimelineItemCell:last-child {
    padding-right: 1em;
  }

  &:hover {
    @include background-mask($opacity: 0.05);
  }

  &.Selected {
    @include background-mask($opacity: 0.15);
  }

  &.Dragged {
    @include background-mask($opacity: 0.25);

    position: relative;
    z-index: 1;
  }
}
