@import '../config.scss';
.App {
  padding: 0 0 0;
  min-width: 100vw;
  min-height: 100vh;

  *.hidden {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: -200vw;
    top: -220vh;
  }
}
