@import '../../../config.scss';

.ActionPropertyDisplay {
  border: 2px solid $border-color-main;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px auto;

  .ActionProperty {
    margin: 10px 0;
    padding: 0 5px;
    color: $terminal;

    span,
    .RichTextOutputBox p {
      color: $terminal;
    }

    .RichTextOutputBox {
      display: inline;
      line-height: 20px;

      p:first-child {
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 655px) {
  .ActionPropertyDisplay {
    padding-left: 5px;

    .ActionProperty {
      margin: 5px 0 0 5px;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
