@import '../../../config.scss';

.ConsoleOutput {
  .Text {
    padding: 15px 0;
    font-size: 0.75em;
    list-style-type: none;
    word-wrap: break-word;
    line-break: strict;
  }

  .line-cursor {
    color: $terminal;
  }

  .green {
    color: $terminal-green;
  }

  .pink {
    color: $terminal-pink;
  }

  .yellow {
    color: $terminal-yellow;
  }

  .blue {
    color: $terminal-blue;
  }

  .brown {
    color: $terminal-khaki;
  }

  .purple {
    color: $terminal-purple;
  }

  .red {
    color: $terminal-red;
  }

  .orange {
    color: $terminal-orange;
  }

  .default {
    color: $color-main;
  }

  .succeeded {
    color: $success;
  }

  .failed {
    color: $fail;
  }

  .SelectedActionPropertyList {
    padding: 15px 0 0 15px;
    .SelectedActionProperty {
      list-style: none;
      text-decoration: none;
      margin: -5px auto;
    }
  }
}
