@import '../../../config.scss';

.NodeActions {
  box-sizing: border-box;
  overflow-x: hidden;
  z-index: 100;
  margin: 0 auto;
  width: 350px;
  height: fit-content;
  border: 2px solid $color-main;
  padding: 0 20px 25px 20px;
  background-color: $background-main;

  .Close {
    width: 100%;
    margin: 0;
  }

  .PromptDisplayText {
    font-size: 0.95em;
    margin: 0 0 10px;
    height: fit-content;
  }

  .NoActions {
    color: $terminal-red;
    margin: 0;
    padding: 0;
  }

  .NodeActionDefault {
    width: 75%;
    margin: 20px 0 1px 0;
    background-color: $background-alt2;
    border: 2px solid $color-main;
    vertical-align: center;

    &.NodeActionDefault:hover {
      cursor: pointer;
      background-color: black;
    }

    .DefaultText {
      display: grid;
      align-items: center;
      grid-template-columns: auto 40px;
      padding: 5px 0 5px 10px;
      color: $color-accent-light;
      height: auto;
      user-select: none;

      .ArrowDown {
        position: relative;
        width: 35px;
        height: 22px;
        color: $color-accent-light;
        font-size: 2em;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }

      .ArrowUp {
        text-align: right;
        width: 35px;
        height: 22px;
        color: $color-accent-light;
        font-size: 2em;
      }
    }
  }

  .NodeActionList {
    display: grid;
    grid-template-columns: 100%;
    place-content: start;
    width: 75%;
    margin: 0;
    border: 2px solid $color-main;
    background-color: $background-alt2;
    height: auto;
    max-height: 140px;
    overflow-y: auto;
    scrollbar-color: $color-pointer-mark $background-alt2;

    &::-webkit-scrollbar {
      background: $background-alt2;
      width: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-pointer-mark;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-clip: content-box;
      border: 4px solid transparent;
      min-height: 50px;
    }

    .NodeActionContainer {
      width: 100%;

      .NodeAction {
        width: 90%;
        padding: 5px 0 5px 10px;
        color: $color-accent-light;
        list-style-type: none;
        text-decoration: none;
      }

      &.Disabled {
        pointer-events: none;
        user-select: none;

        &:hover {
          pointer-events: none;
          user-select: none;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: black;
      }
    }
  }
}
