@import '../../../config.scss';

.OutputPanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;

  .BorderBox {
    width: 100%;
    height: 100%;
    border: 2px solid $color-main;
    overflow: auto;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
      margin: 0 0 0 5px;
    }

    @media only screen and (max-width: 275px) {
      width: 30%;
    }
  }

  .TextArea {
    padding: 15px;
    margin: 0;
  }
}
