@import 'src/components/content/form/index.scss';

.Entry {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  > * {
    padding: 1.5em 1.5em 0;
  }

  .EntryContent {
    @include form-container();
    overflow-y: auto;
    padding-bottom: 3.5em;
  }
}
