@import 'src/components/content/form/index.scss';

.Entry {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  > * {
    padding: 1.5em 1.5em 0;
  }

  .ScrollBox {
    overflow-y: auto;

    .EntryContent {
      @include form-container();
      height: max-content;
      padding-bottom: 3.5em;
    }
  }

  .List {
    height: max-content;
  }
}
