@import 'src/components/content/form/index.scss';

.Entry {
  &.SidePanel {
    .BorderBox {
      .SidePanelContent {
        @include form-container();
        margin: 1.5em 2em 3.5em;
      }
    }
  }
}
