@import '../../../../assets/styles/config.scss';

.MissionMap2 {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba($background-main, 0.45);
}
