@import '../../../../assets/styles/config.scss';
@import './mixins.scss';

.Scene {
  // Disable pointer events for root element
  // to prevent interference with interfacing
  // with overlapped elements via the mouse.
  pointer-events: none;
  position: relative;
  z-index: $z-map-scene;

  // All scene objects.
  * {
    display: grid;
    box-sizing: border-box;
    position: absolute;
    z-index: $z-map-scene;
    transform-origin: center;
    width: 1em;
    height: 1em;
  }

  // Non-nested scene objects.
  > * {
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  // Nested scene objects.
  > * * {
    width: 100%;
    height: 100%;
  }

  // Update font-size for text since its used for scaling
  // elsewhere.
  .Text {
    text-align: center;
    font-size: 0.18em;
  }
}
