@use 'metis/client/assets/styles/config.scss' as *;

.OutputMessage {
  &.OutputMessage_execution-succeeded * {
    // color: $color-success;
  }

  &.OutputMessage_execution-failed * {
    // color: $color-failure;
  }
}
