@use 'src/assets/styles/config.scss' as *;

.OutputMessage {
  .RichText {
    display: inline;

    div {
      display: inline;
    }

    .Editor p:first-of-type {
      display: inline;
    }
  }

  &.OutputMessage_execution-succeeded * {
    // color: $color-success;
  }

  &.OutputMessage_execution-failed * {
    // color: $color-failure;
  }
}
