@use 'src/assets/styles/config.scss' as *;
@use './mixins.scss' as *;

.SessionMemberRow {
  @include member-row-like;

  .ButtonSvg_ban:hover {
    filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(300deg)
      brightness(200%) contrast(98%);
  }

  .Cell {
    .Detail {
      min-width: none;

      &.DetailDropdown {
        margin: 0;
        padding: 0;

        .TitleRow {
          display: none;
        }

        .Field {
          margin: 0;
          border: none;
          padding: 0;
          background: none;

          .DropdownOption {
            padding-top: 0;
            padding-left: 0;

            &:not(.Selected) {
              padding-bottom: 0.75em;
            }
          }
        }
      }
    }
  }
}
