@import 'src/assets/styles/config.scss';

.SessionMembersPanel {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 2em 0;

  .SessionMembers {
    padding: 0 2em;
  }
}
