@import 'src/assets/styles/config.scss';

.SessionMembersPanel {
  .BorderBox {
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid $color-primary-light;
    width: 100%;
    height: 100%;
    padding: 2em 0;

    .SessionMembers {
      padding: 0 2em;
    }
  }
}
