@use '@client/assets/styles/config.scss' as *;
@use './mixins.scss' as *;

.SessionMembers {
  min-width: fit-content;

  .RowTitles {
    @include member-row-like;

    padding: 0.25em 0 1.25em;

    .CellTitle {
      // font-style: italic;
      font-weight: bold;
    }
  }

  .Rows {
    .RowSeparator {
      height: 0.125em;
    }
  }
}
