@import 'src/assets/styles/config.scss';

.SessionMembersPanel {
  .BorderBox {
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid $color-main;
    width: 100%;
    height: 100%;
    padding: 2em;
  }
}
