@import 'src/assets/styles/config.scss';
@import './mixins.scss';

.SessionMemberRow {
  @include member-row-like;

  .ButtonSvg {
    &.ban:hover {
      filter: invert(68%) sepia(94%) saturate(322%) hue-rotate(300deg)
        brightness(200%) contrast(98%);
    }
  }

  .Cell {
    // todo: Create separate dropdown component
    // todo: instead of using DetailDropdown and
    // todo: undoing styling here.
    .Detail {
      min-width: none;

      &.DetailDropdown {
        margin: 0;
        padding: 0;

        .TitleRow {
          display: none;
        }

        .Field {
          margin: 0;
          border: none;
          padding: 0;
        }
      }
    }
  }
}
