@import 'src/assets/styles/config.scss';

.App {
  padding: 0 0 0;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
      to bottom right,
      transparent 0% 70%,
      rgba(#fff, 0.1) 100%
    ),
    url('/assets/images/landing-page-img.png');
  background-size: 100% 47.34%, 100% 47.34%;
  background-position: center;
  background-repeat: repeat;
  box-shadow: $box-shadow-alt1;

  &.Error {
    .Page:not(.ErrorPage) {
      @extend .hidden;
    }
  }

  &:not(.Error) {
    .Page.ErrorPage {
      @extend .hidden;
    }
  }

  &.Loading {
    .Page:not(.LoadingPage) {
      @extend .hidden;
    }
  }

  &:not(.Loading) {
    .Page.LoadingPage {
      pointer-events: none;
      opacity: 0;
      transition: opacity 600ms;
    }
  }

  *.hidden {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: -200vw;
    top: -220vh;
  }

  .Tooltips {
    pointer-events: none;
    position: absolute;
    z-index: $z-index-tooltips;
    max-width: 240px;
    // border: 3px solid $color-main;
    border: 1px solid rgba($color-main, 0.65);
    border-radius: 10px;
    padding: 7px 14px;
    background-color: rgba($background-alt1, 0.925);

    .Markdown {
      text-align: left;
      font-family: monospace;
      font-size: 13.5px;
      line-height: 19px;
      letter-spacing: normal;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0px;
        margin-bottom: 4px;
        text-align: left;
      }

      h1 {
        $font-size: 17.5px;
        font-size: 17.5px;
      }
      h2 {
        $font-size: 17px;
        font-size: 17px;
      }
      h3 {
        $font-size: 16.5px;
        font-size: 16.5px;
      }
      h4 {
        $font-size: 16px;
        font-size: 16px;
      }
      h5 {
        $font-size: 15.5px;
        font-size: 15.5px;
      }
      h6 {
        $font-size: 15px;
        font-size: 15px;
      }

      li {
        margin-left: 24px;
        line-height: 18px;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .ButtonMenuHighlight {
    background-color: $node-blue;
    color: $color-alt1;
  }

  .Notifications {
    $width: 600px;
    pointer-events: none;
    position: absolute;
    z-index: $z-index-notifications;
    left: calc(50% - (#{$width} / 2));
    box-sizing: border-box;
    width: $width;
    height: 100%;
    padding-top: 75px;
    z-index: $z-index-notifications;

    .Glue {
      position: -webkit-sticky;
      position: sticky;
      top: 75px;

      .NotificationBubble {
      }
    }
  }
}
