@import '../../../config.scss';

.MissionEntry {
  &.SidePanel {
    .BorderBox {
      .BoxTop {
        height: 20px;
      }

      .SidePanelSection {
        margin: 20px 6.5% 40px;
      }
    }
  }
}
