@import '../../../config.scss';

// $background-bar: linear-gradient(
//     to right,
//     transparent 0%,
//     transparent 50%,
//     $background-main 50%,
//     $background-main 100%
//   ),
//   linear-gradient(
//     to bottom,
//     transparent 0%,
//     transparent calc(50% - 1.5px),
//     $color-main calc(50% - 1.5px),
//     $color-main calc(50% + 1.5px),
//     transparent calc(50% + 1.5px),
//     transparent 100%
//   );

// @keyframes mini-bar-circuit {
//   from {
//     transform: rotate(-90deg);
//     background: $background-bar;
//   }
//   to {
//     transform: rotate(270deg);
//     background: $background-bar;
//   }
// }

.NodeStructuring {
  &.SidePanel {
    .BorderBox {
      .BoxTop {
        .MoreInformation {
          grid-column: 2 / 3;
          transform: scale(0.77);
          margin-top: 6.25px;
        }

        .Close {
          background: linear-gradient(
            $background-alt2 0%,
            $background-alt2 80%,
            transparent 100%
          );
          grid-column: 3 / 3;

          &.Disabled {
            margin: 0 30px;
          }
        }
      }
    }

    &.NodeStructuring {
      .BorderBox {
        overflow-y: hidden;
        .Nodes {
          overflow-x: auto;
          overflow-y: auto;
          margin: 0;
          height: calc(100% - 33px);
          padding: 0;

          .Padding {
            height: 35px;

            &.DropPending {
              background-color: $background-main;
            }
          }

          .Node {
            // $indicator-translate-y: 7px;

            width: fit-content;

            // This will return the transform value
            // for the indicator circle, placing
            // it in the correct position.
            // @function getIndicatorCircleTransform($isExpanded) {
            //   $indicator-translate: translate(0, $indicator-translate-y);

            //   @if $isExpanded {
            //     @return $indicator-translate;
            //   } @else {
            //     @return $indicator-translate rotate(-90deg);
            //   }
            // }

            .ParentNode {
              display: block;
              padding: 0 0 0 20px;
              font-size: 12px;
              white-space: nowrap;
              width: 100%;

              .Top,
              .Bottom {
                position: relative;
                z-index: 1;
                height: 0.175rem;
              }

              .Top {
                margin: 0 0 -0.175rem;
              }

              .Center {
                z-index: 0;
                display: grid;
                grid-template-columns: 18px auto;
                margin: 0 0 -0.175rem;
                pointer-events: all;
                user-select: all;

                .Indicator,
                .Name {
                  height: 1.35rem;
                  line-height: 1.3rem;
                }

                .Indicator {
                  grid-column: 1 / 2;
                  width: 12px;

                  &.isCollapsed {
                    transform: rotate(-90deg);
                  }

                  &:hover {
                    cursor: pointer;
                  }
                }

                .Name:hover {
                  cursor: grab;
                }

                &:hover {
                  background-color: $background-main;
                }
              }
            }

            .ChildNodes {
              padding-left: 20px;
            }

            &.Ends {
              .ParentNode {
                .Indicator {
                  opacity: 0;
                }
              }
            }

            &.DropPending {
              &.DropPendingTop {
                > .ParentNode > .Top {
                  margin-top: -0.0875rem;
                  padding-bottom: 0.0875rem;
                  background: linear-gradient(
                    to top,
                    transparent 0px,
                    transparent 0.0875rem,
                    $color-main 0.0875rem,
                    $color-main 0.175rem
                  );
                }
              }

              &.DropPendingCenter {
                background-color: $background-main;
              }

              &.DropPendingBottom {
                > .ParentNode > .Bottom {
                  margin-bottom: -0.0875rem;
                  padding-top: 0.0875rem;
                  background: linear-gradient(
                    to bottom,
                    transparent 0px,
                    transparent 0.0875rem,
                    $color-main 0.0875rem,
                    $color-main 0.175rem
                  );
                }
              }
            }
          }
        }
      }
    }
  }
}
