@import '../../../config.scss';

.NodeEntry {
  &.SidePanel {
    .BorderBox {
      .BoxTop {
        .Close {
          background: linear-gradient(
            $background-alt2 0%,
            $background-alt2 80%,
            transparent 100%
          );
          grid-column: 3 / 3;

          &.Disabled {
            grid-column: 2 / 3;
            margin: 0 30px;
          }
        }
      }

      .SidePanelSection {
        margin: 20px 6.5% 40px;

        .ButtonContainer {
          .ColorFill {
            border-bottom: 2px solid $color-main;
            min-width: 225px;
            padding: 0 0 15px;
            margin: 5px 0 0;
          }
        }

        .Color {
          .Field {
            border-bottom: none;

            .AllOptions {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-flow: row wrap;
              width: 100%;
              margin: 10px 0 0;

              .Option {
                width: 15px;
                height: 15px;
                margin: 5px;
                padding: 0;
                color: transparent;
                overflow: hidden;
                border: 1px solid $color-main;

                &.SelectedOption {
                  border: 2px solid black;
                }
              }
            }
          }
        }
      }
    }
  }
}
