@import '../../../config.scss';

.Asset {
  margin: 30px 8% 0;
  min-width: calc(225px - 20px);

  .AssetPath {
    display: grid;
    align-items: center;
    border: 2px solid $color-main;
    padding: 10px 10px;
    color: $color-accent-light;
    word-break: break-all;
    user-select: none;

    &.AndBackButton {
      grid-template-columns: 50px auto;
    }

    &.EndOfAssetPath {
      border-bottom: none;
    }

    .BackButton {
      color: $color-accent-light;
      text-align: center;
      padding: 5px;
      margin: 0 10px;

      &:hover {
        cursor: pointer;
        background-color: $color-negative;
        opacity: 0.7;
        border-radius: 10px;
      }
    }
  }

  .AssetOptions {
    border: 2px solid $color-main;
    border-top: none;
  }
}
