@use '@client/components/content/form/index.scss' as *;

.Entry {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .EntryTop {
    padding: 1.5em;
  }

  .ScrollBox {
    overflow-y: auto;
    padding: 0 1.5em 1.5em;

    .EntryContent {
      @include form-container();
      height: max-content;
      padding-bottom: 3.5em;

      .ButtonContainer {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        min-width: 225px;
        margin: 0 0;

        .ButtonText {
          margin: 1.25em 0 0;
        }
      }

      .ButtonText {
        font-size: 0.78em;
      }
    }
  }

  .Subentry {
    @include form-container();
  }

  .List {
    $border: 0.2em solid $color-secondary !important;

    height: max-content;
    border-top: $border;
    border-bottom: $border;
    border-radius: unset;

    .ListItems .ListItem {
      border-top: unset;
    }
  }

  .SubentryGroup {
    @include form-container();
  }

  .ResourceSubentry {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr auto;
    column-gap: 0.5em;

    &.UsingDefaultName {
      .FieldResourceName input {
        color: $color-accent-light;
        font-style: italic;
      }
    }

    .ButtonSvgPanel {
      grid-row: span 1;
    }

    .DetailIconSelector {
      grid-column: span 2;
    }
  }

  .Panel {
    border: 0;

    .PanelTabBar {
      margin-bottom: 2em;

      &,
      .PanelTab:not(.Selected) {
        border: 0;
      }

      .PanelTab.Selected {
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
  }

  .EntryBottom {
    border-top: 2px solid $color-secondary;
    padding: 0.25em;
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
  }
}
