@use '@client/components/content/form/index.scss' as *;

.Entry {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .EntryTop {
    padding: 1.5em;
  }

  .ScrollBox {
    overflow-y: auto;
    padding: 0 1.5em 1.5em;

    .EntryContent {
      @include form-container();
      height: max-content;
      padding-bottom: 3.5em;

      .UpdateComponent {
        position: sticky;
        top: 0;
        z-index: $z-index-update-component;
        padding-bottom: $form-row-gap;
        background: linear-gradient(
          to bottom,
          $color-primary 0 calc(100% - $form-row-gap),
          transparent 100%
        );

        & + .Detail {
          margin-top: -$form-row-gap;
        }

        .UpdateButtons {
          .ButtonSvgPanel {
            display: none;
            width: 100%;
            flex-direction: column;

            .ButtonSvg {
              column-gap: 0.25em;
              border-radius: 0.5em;
              padding: 0.5em 1em;
              background: $color-primary-medium;
              border: 1px solid $color-warning-light;

              &:hover {
                filter: unset;
                @include background-mask();
              }

              .ButtonLabel {
                .ButtonLabelText {
                  font-style: italic;
                  // font-size: 0.9em;
                  line-height: 1.3em;
                  color: $color-warning-light;
                }
              }
            }
          }
        }

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        .UpdateStatusContent {
          display: none;
          flex-direction: row;
          column-gap: 1em;
          overflow: hidden;

          .ButtonSvgPanel {
            display: none;
            margin-left: auto;
          }

          .UpdateStatusIndicator {
            flex-shrink: 0;
            width: 1em;
            height: 1em;
            line-height: 1em;

            &::after {
              content: '';
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          .UpdateStatusMessage {
            padding-bottom: 0.5em;
            font-size: 0.85em;
            font-style: italic;
            color: $color-faded;

            &::after {
              content: '';
            }
          }
        }

        &.NoUpdate {
          @include hide;
        }

        &.UpdateAvailable {
          .UpdateButtons {
            .ButtonSvgPanel {
              display: flex;

              .ButtonLabelText::after {
                content: 'This effect is outdated. Click to update.';
              }
            }
          }
        }

        &.UpdateInProgress {
          .UpdateStatusContent {
            display: flex;
          }

          .UpdateStatusIndicator::after {
            background: url(../../../../assets/images/icons/pending.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            animation-name: rotate;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }

          .UpdateStatusMessage::after {
            content: 'Updating effect...';
          }
        }

        &.UpdateSucceeded {
          .UpdateStatusContent {
            display: flex;

            .ButtonSvgPanel {
              display: flex;
            }
          }

          .UpdateStatusIndicator::after {
            content: '✅';
            display: inline;
            width: auto;
            height: auto;
          }

          .UpdateStatusMessage::after {
            content: 'Update succeeded.';
          }
        }

        &.UpdateFailed {
          .UpdateButtons {
            .ButtonSvgPanel {
              display: flex;

              .ButtonSvg {
                border-color: $color-failure-light;

                .ButtonLabel {
                  .ButtonLabelText {
                    color: $color-failure-light;

                    &::after {
                      content: 'Update failed. Click to retry.';
                    }
                  }
                }
              }
            }
          }
        }
      }

      .ButtonContainer {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        min-width: 225px;
        margin: 0 0;

        .ButtonText {
          margin: 1.25em 0 0;
        }
      }

      .ButtonText {
        font-size: 0.78em;
      }
    }
  }

  .Subentry {
    @include form-container();
  }

  .List {
    $border: 0.2em solid $color-secondary !important;

    height: max-content;
    border-top: $border;
    border-bottom: $border;
    border-radius: unset;

    .ListItems .ListItem {
      border-top: unset;
    }
  }

  .SubentryGroup {
    @include form-container();
  }

  .ResourceSubentry {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr auto;
    column-gap: 0.5em;

    &.UsingDefaultName {
      .FieldResourceName input {
        color: $color-accent-light;
        font-style: italic;
      }
    }

    .ButtonSvgPanel {
      grid-row: span 1;
      flex-wrap: nowrap;
    }

    .DetailIconSelector {
      grid-column: span 2;
    }
  }

  .Panel {
    border: 0;

    .PanelTabBar {
      margin-bottom: 2em;

      &,
      .PanelTab:not(.Selected) {
        border: 0;
      }

      .PanelTab.Selected {
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
  }

  .EntryBottom {
    border-top: 2px solid $color-secondary;
    padding: 0.25em;
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
  }
}
