@import '../../../../assets/styles/config.scss';

.List {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  background-color: $color-primary;
  border: 2px solid $color-primary-light;
  border-radius: 1em;

  &:not(.Resizing) {
    transition: 0.5s opacity;
  }

  &.Resizing {
    transition: 0.2s opacity;
    opacity: 0.65;
  }
}
