.List {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: rgba(black, 0.6);
  border: 2px solid white;
  border-radius: 1em;

  &:not(.Resizing) {
    transition: 0.5s opacity;
  }

  &.Resizing {
    transition: 0.2s opacity;
    opacity: 0.65;
  }
}
