@import '../../../../assets/styles/config.scss';

.List {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  background-color: $color-primary;
  border: 2px solid $color-primary-light;
  border-radius: 1em;

  &:not(.Resizing) {
    transition: 0.5s opacity;
  }

  &.Resizing {
    transition: 0.2s opacity;
    opacity: 0.65;
  }

  &.DropPending {
    .ListDropBox {
      opacity: 0.65;

      .UploadIcon {
        transform: scale(1);
      }
    }
  }

  &:not(.DropPending) {
    .ListDropBox {
      opacity: 0;

      .UploadIcon {
        transform: scale(0.65);
      }
    }
  }

  .ListNav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .ListPage {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .ListDropBox {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}
