.List {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1em;
  justify-items: center;
  background-color: rgba(black, 0.6);
  border: 2px solid white;
  border-radius: 1em;
}
