@import '../../../../assets/styles/config.scss';

.ListButtons {
  display: flex;
  justify-content: center;
  border-top: 3px solid rgba(white, 0.25);
  width: 100%;
  padding: 0.5em;
  background: rgba(white, 0.09);
}
