@import 'src/assets/styles/config.scss';

.ListPage {
  $item-non-padded-height: 1.4em;
  $item-cell-padding-vertical: 0.35em;

  width: 100%;

  .ListItems {
    box-sizing: border-box;
    width: 100%;

    .ListItem {
      &:first-child {
        $first-padding-top: 1.2em;

        height: $item-non-padded-height + $first-padding-top +
          $item-cell-padding-vertical;

        .ItemCellLike {
          padding-top: $first-padding-top;
        }
      }
    }
  }

  // Styles all list items, as well as anything that
  // could be added as a subsitute for a list item,
  // such as a blank slot, or a custom message, such
  // as "No items available."
  .ListItemLike {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 0.5em;
    height: $item-non-padded-height + $item-cell-padding-vertical * 2;
    padding: 0 1em;

    // Styles all list item cells, as well as anuything
    // could be added as a substitute for a list item cell,
    // such as a column label.
    .ItemCellLike {
      overflow: hidden;
      padding: $item-cell-padding-vertical 0;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.8rem;
      line-height: 2.1em;
      color: rgba(white, 0.9);

      &:not(:first-child) {
        padding-left: 1em;
        border-left: 1px solid rgba(white, 0.25);
      }
    }

    .ItemButtons {
      .ButtonSvg {
        margin: 0 0.025em;
      }
    }

    &.NoItems {
      .ItemName {
        font-style: italic;
        opacity: 0.65;
      }
    }
  }
}
