@import '../../../../assets/styles/config.scss';

.MissionMap {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba($background-main, 0.45);

  &.Transformation {
    background-color: $background-transformation;
  }

  &.HasSlots {
    // If there are slots, fade the nodes and
    // prototypes that are not selected.
    .MissionNode,
    .MissionPrototype {
      &:not(.Selected) {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
