@use '../../../../assets/styles/config.scss' as *;
@use '../../../../assets/styles/util.scss' as *;

.MissionMap {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba($color-primary, 0.7);

  &.Transformation {
    @include background-mask($color: $color-primary-dark, $opacity: 1);
  }

  &.HasSlots {
    // If there are slots, fade the nodes and
    // prototypes that are not selected.
    .MissionNode,
    .MissionPrototype {
      &:not(.Selected) {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
