@use '../../../../assets/styles/config.scss' as *;
@forward '../../../../assets/styles/config.scss';

// Makes object in the scene have a
// origin with a centered x. This helps center
// positioning along the x-axis
// (Useful in conjunction with "left: 50%" to center nested-objects).
@mixin center-origin-x {
  transform: translateX(-50%);
}

// Makes object in the scene have a
// origin with a centered y. This helps center
// positioning along the y-axis
// (Useful in conjunction with "top: 50%" to center nested-objects).
@mixin center-origin-y {
  transform: translateY(-50%);
}

// Makes an object in the scene have a
// origin with a centered x and y. This helps center
// positioning along the x and y-axis
// (Useful in conjunction with "left: 50%" and "top: 50%" to center nested-objects).
@mixin center-origin {
  transform: translate(-50%, -50%);
}

// Makes an object in the scene have a
// no center origin.
@mixin uncentered-origin {
  transform: unset;
}

// Applies to all mission-node-like objects,
// such as MissionNode and MissionPrototype.
@mixin mission-node-like {
  // Default color, overridden by the
  // color of the node iteself in the
  // mission.
  border-color: $color-primary-light;
  border-width: min(2px, 0.04em);
  border-style: solid;
  border-radius: 0.11em;
  overflow: hidden;
}

@function fromMiddle($value) {
  @return calc(50% + #{$value});
}

@mixin block-node-context {
  $cursor-scale: 2px;
  $background-size-min: 100% 100%, 0 0, 0 0;
  $background-size-max: 100% 100%, 100% 100%, 100% 100%;
  $border-color-faded: $color-faded;
  $background-faded: linear-gradient(rgba($color-faded, 0.05));
  $x-fill-step-1: transparent 0% fromMiddle(-$cursor-scale);
  $x-fill-step-2-red: rgba($color-failure-light, 0.35)
    fromMiddle(-$cursor-scale) fromMiddle($cursor-scale);
  $x-fill-step-2-faded: rgba($color-faded, 0.25) fromMiddle(-$cursor-scale)
    fromMiddle($cursor-scale);
  $x-fill-step-3: transparent fromMiddle($cursor-scale) 100%;
  $x-fill-red: $x-fill-step-1, $x-fill-step-2-red, $x-fill-step-3;
  $x-fill-faded: $x-fill-step-1, $x-fill-step-2-faded, $x-fill-step-3;
  $x-red: linear-gradient(to bottom right, $x-fill-red),
    linear-gradient(to bottom left, $x-fill-red);
  $x-faded: linear-gradient(to bottom right, $x-fill-faded),
    linear-gradient(to bottom left, $x-fill-faded);

  @keyframes block-with-red-x {
    0% {
      background-image: $background-faded, $x-red;
      background-size: $background-size-min;
      border-color: $border-color-faded;
    }
    100% {
      background-image: $background-faded, $x-red;
      background-size: $background-size-max;
      border-color: $border-color-faded;
    }
  }

  @keyframes block-with-faded-x {
    0% {
      background-image: $background-faded, $x-faded;
      background-size: $background-size-min;
      border-color: $border-color-faded;
    }
    100% {
      background-image: $background-faded, $x-faded;
      background-size: $background-size-max;
      border-color: $border-color-faded;
    }
  }

  @keyframes block-resolved {
    0% {
      background-image: none, $x-faded;
      background-size: $background-size-max;
    }
    99% {
      background-image: none, $x-faded;
      background-size: $background-size-min;
    }
    100% {
      background-image: unset;
      background-size: unset;
    }
  }

  background-position: center;
  background-repeat: no-repeat;
}

// An animation to display a `MissionNode` being blocked.
// Acceptable parameters for `$style` are 'red' and 'faded'.
@mixin blocked-node($style: 'faded') {
  @include block-node-context;

  cursor: not-allowed;
  user-select: none;
  animation: block-with-#{$style}-x 500ms ease-in-out forwards;
}

// An animation to display a `MissionNode` being unblocked.
@mixin blocked-node-resolved {
  @include block-node-context;

  animation: block-resolved 500ms ease-in-out forwards;
}
