@import '../../../../../assets/styles/config.scss';

.Grid {
  &.NodeGrid {
    width: 20000px;
    height: 20000px;

    // Grid when horizontal lines are not wanted,
    // which is the default.
    &:not(.HorizontalEnabled) {
      background: linear-gradient(
        to right,
        $map-grid-color 0 0.5px,
        transparent 2px calc(100% - 0.5px),
        $map-grid-color calc(100% - 0.5px) 100%
      );
      background-size: 2em 1em;
      background-position: center;
      background-repeat: repeat;
    }

    // Grid when horizontal lines are wanted,
    // which is the exception.
    &.HorizontalEnabled {
      // Draw grid.
      background: linear-gradient(
          to right,
          $map-grid-color 0 0.5px,
          transparent 2px calc(100% - 0.5px),
          $map-grid-color calc(100% - 0.5px) 100%
        ),
        linear-gradient(
          to bottom,
          $map-grid-color 0 0.5px,
          transparent 2px calc(100% - 0.5px),
          $map-grid-color calc(100% - 0.5px) 100%
        );
      background-size: 2em 1em;
      background-position: center;
      background-repeat: repeat;
    }
  }

  &.EmGrid {
    width: 20000px;
    height: 20000px;

    // Draw grid.
    background: linear-gradient(
        to right,
        $map-grid-color 0 0.5px,
        transparent 2px calc(100% - 0.5px),
        $map-grid-color calc(100% - 0.5px) 100%
      ),
      linear-gradient(
        to bottom,
        $map-grid-color 0 0.5px,
        transparent 2px calc(100% - 0.5px),
        $map-grid-color calc(100% - 0.5px) 100%
      );
    background-size: 1em 1em;
    background-position: center;
    background-repeat: repeat;
  }
}
