@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.Line {
  background-color: $color-main;
  box-sizing: content-box;

  // Make the line have a top-left origin so that
  // it's positioned based on its starting position.
  @include uncentered-origin;
}
