@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.Scene {
  .MissionNode {
    // Set box-sizing to content-box to
    // help with font size calculations
    // in JS.
    box-sizing: content-box;

    // Enable pointer events for nodes,
    // since they can be interacted with.
    pointer-events: all;

    // Make the origin of the scene object the
    // top center of the node.
    transform: translate(-50%, -0%);

    // Default color, overridden by the
    // color of the node iteself in the
    // mission.
    border-color: $color-main;
    border-width: min(2px, 0.075em);
    border-style: solid;

    // Add a transition to the background for
    // when the text comes in and out of view.
    transition: background-color 0.3s ease-in-out;

    background-color: $background-main;

    &.Selectable {
      // Change the cursor to pointer if
      // the node can be selected.
      cursor: pointer;
    }

    &.Executable {
      .Icon {
        // If the node is executable, show the
        // lightning icon.
        background-image: url(../../../../../assets/images/icons/lightning.svg);
      }
    }

    &.Device {
      .Icon {
        // If the node is a device, show the
        // device icon. This will overwrite the
        // lightning icon.
        background-image: url(../../../../../assets/images/icons/device.svg);
      }
    }

    .Name {
      // Position the name.
      @include center-origin-y;
      top: 50%;
      left: 2.5%;

      // Let height be automatic.
      height: unset;

      word-break: break-word;
    }

    .Icon {
      // Position the icon.
      @include center-origin-y;
      top: 50%;
      right: 6.5%;

      // Let height be automatic.
      height: 100%;

      // Make the icon 15% of the width of the
      // node.
      width: 12%;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
