@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.Scene {
  .MissionNode {
    // Set box-sizing to content-box to
    // help with font size calculations
    // in JS.
    box-sizing: content-box;

    // Enable pointer events for nodes,
    // since they can be interacted with.
    pointer-events: all;

    // Make the origin of the scene object the
    // top center of the node.
    transform: translate(-50%, 0);

    // Default color, overridden by the
    // color of the node iteself in the
    // mission.
    border-color: $color-main;
    border-width: min(2px, 0.075em);
    border-style: solid;

    padding: 0.15em 0;
    background-color: $background-main;

    .Title {
      // Define constants.
      $border-width: 0.1em;

      // Position the title.
      @include center-nest-origin-y;
      top: 50%;
      left: $border-width;

      // Size the title.
      margin: 0 2.5%;
      height: unset;

      word-break: break-word;
    }
  }
}
