// Base colors
$background-main: #292f36;
$color-main: #ffffff;
$color-faded: rgb(195, 154, 154);
$color-negative: #000;
$background-alt1: #1a2a1a;
$background-alt2: #333347;
$background-color-negative: #dfdfff;
$color-accent: #5fc9be;
$color-pointer-mark: #b5b5b5;
$color-accent-light: #b6fff8;
$color-error: $color-main;
$color-error-faded: $color-main;
$color-error-alt: #ff84a3;
// MDL application color scheme
// Terminal color schemes
$terminal: #3bfce8;
$terminal-green: #65eb59;
$terminal-yellow: #f7e346;
$terminal-blue: #34a1fb;
$terminal-pink: #fa39ac;
$terminal-khaki: #fdd496;
$terminal-purple: #dea3ff;
$terminal-red: #f9484f;
$terminal-orange: #ffab50;

// Node color schemes
$node-green: #64a95e;
$node-yellow: #b4a956;
$node-blue: #537693;
$node-pink: #ab5e8c;
$node-khaki: #968975;
$node-purple: #745d82;
$node-red: #8a2e32;
$node-orange: #bc842d;

// Indicates if the node succeeded or failed
$fail: #ff000a;
$success: #65eb59;

// Used for the linear gradient that is used for the
// loading (processing) bar
$loading-1: #2a6f05;
$loading-2: #44921a;

// Distinguishes if a node is executable or not
$border-color-main: #00d7ff;

// z-index
$z-index-objective-map-pointers: 8;
$z-index-objective-map-navigation: 10;
$z-index-objective-map-item: 15;
$z-index-objective-map-header: 20;
$z-index-objective-map-prompt: 20;
$z-index-objective-map-field-entry: 75;
$z-index-objective-map-more-info: 25;
$z-index-action-panel: 50;
$z-index-notifications: 75;
$z-index-confirmation: 100;
$z-index-tooltips: 250;
