$background-main: #292f36;
$color-main: #ffffff;
$color-faded: rgb(195, 154, 154);
$color-negative: #000;
$background-alt1: #1a2a1a;
$background-alt2: #333347;
$background-color-negative: #dfdfff;
$color-accent: #5fc9be;
$color-error: $color-main;
$color-error-faded: $color-main;
