@import 'src/assets/styles/config.scss';

.Panel {
  display: grid;
  grid-template-rows: 1fr;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background: $color-primary;
  border: 2px solid $color-primary-light;

  &.Tabbed {
    grid-template-rows: auto 1fr;
  }

  .List {
    background: none;
    border: none;
  }
}
