@import 'src/assets/styles/config.scss';

.PanelLayout {
  $ResizeBar-width: 10px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;

  .ResizeBar {
    opacity: 0;
    width: $ResizeBar-width;
    background: linear-gradient(
      to right,
      transparent 3px,
      $color-accent 3px,
      $color-accent calc(#{$ResizeBar-width} - 3px),
      transparent calc(#{$ResizeBar-width} - 3px),
      transparent $ResizeBar-width
    );

    &:hover {
      cursor: ew-resize;
      opacity: 1;
    }
  }

  &.IsDragging {
    *,
    *::before,
    *::after {
      user-select: none !important;
    }

    .ResizeBar {
      cursor: ew-resize;
      opacity: 1;
      filter: brightness(0.6);
    }
  }
}
