@import '../../../assets/styles/config.scss';

.GameConfig {
  margin: 50px auto;
  width: 100%;
  max-width: 800px;
  border: 2px solid $color-main;
  border-radius: 10px;
  padding: 1em 0;

  .Buttons {
    display: grid;
    justify-content: flex-start;
    width: calc(100% - 16%);
    margin: 1em 8%;
  }
}
