@import '../../../assets/styles/config.scss';

.GameConfig {
  margin: 50px auto;
  width: 100%;
  max-width: 600px;
  border: 2px solid $color-main;
  border-radius: 10px;
  padding: 1em 0;
  box-shadow: $box-shadow-alt5;

  // todo: This should not be set here. There should be consistency in detail
  // todo: styling that would prevent the need for this. Also, such a specific
  // todo: percentange is a bad idea.
  .DetailDropDown {
    width: 84%;
  }

  .Buttons {
    display: grid;
    justify-content: flex-start;
    width: calc(100% - 16%);
    margin: 1em 8%;
  }
}
