@import 'src/assets/styles/config.scss';

.MissionMap {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid $color-main;
  width: 700px;
  height: 100%;
  padding: 0;
  background: linear-gradient(
      to right,
      rgba($color-accent, 0.6) 0,
      rgba($color-accent, 0.6) 1%,
      transparent 1%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      rgba($color-accent, 0.6) 0,
      rgba(rgba($color-accent, 1), 0.6) 4%,
      rgba($background-main, 0.45) 4%,
      rgba($background-main, 0.45) 100%
    );

  &.active-navigation {
    .ButtonSVGPanel {
      pointer-events: none;
    }

    .help {
      pointer-events: none;
    }

    .List {
      .items {
        .item {
          pointer-events: none;
        }
      }
    }
  }

  &.creation-mode {
    .navigation {
      background-color: $background-creation-mode;
    }
  }

  /* -- MAP | BUTTON SVG PANEL -- */

  .map-actions.ButtonSVGPanel {
    position: relative !important;
    margin-bottom: -65px;
    height: 65px;

    &.map-is-zoomed-in {
      .ButtonSVG.zoom-in {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &.map-is-zoomed-out {
      .ButtonSVG.zoom-out {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .glue {
      transition: 250ms background-color;
      border: 2px solid $color-main;
      border-bottom: none;
      border-radius: 0;

      .ButtonSVG {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  /* -- MAP | NAVIGATION -- */

  .navigation {
    cursor: move;
    position: relative;
    z-index: $z-index-objective-map-navigation;
    transition: 250ms background-color;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
  }

  /* -- MAP | HELP -- */

  .help {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    .MoreInformation {
      position: relative;
      z-index: $z-index-objective-map-more-info;
      margin: 20px 25px;
    }
  }

  /* -- MAP | LIST -- */

  .List {
    position: relative;
    overflow: visible;
    margin: -1px 0 0;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    background: none;

    .top {
      margin: 0 0 -125px;
      width: 100%;
      height: 125px;
      text-align: center;

      .list-header {
        position: relative;
        pointer-events: none;
        z-index: $z-index-objective-map-header;
        margin: 0 auto;
        border-radius: 0;
        width: fit-content;
        max-width: 65%;
        min-width: 200px;
        padding: 0;
        text-align: center;
        background-color: none;
        opacity: 0.95;
        border: 2px solid $color-main;
        border-top: none;

        .list-heading {
          user-select: none;
          box-sizing: border-box;
          border-radius: 0px;
          height: 40px;
          padding: 10px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          background-color: $background-alt1;
          opacity: 0.95;
        }
      }

      .next-page,
      .previous-page {
        display: none;
      }
    }

    .filtering {
      display: none;
    }

    .items {
      overflow: visible;
      height: calc(100% - 130px);
      padding: 0;

      .item {
        position: relative;
        overflow: visible;
        z-index: $z-index-objective-map-item;
        box-sizing: border-box;
        margin: 0;
        border: none;
        border-radius: 0;
        width: 260px;
        height: 35px;
        min-height: unset;
        background-color: adjust-color(
          $background-color-negative,
          $lightness: 5%
        );
        text-align: center;
        font-weight: 700;
        font-size: 13.5px;
        line-height: 13.5px;
        letter-spacing: normal;

        .ActionPropertyDisplay {
          position: absolute;
          top: 0;
        }

        .wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: row wrap;
          white-space: pre-line;
          overflow: hidden;

          .score {
            display: inline-block;
            background-color: $background-alt1;
            vertical-align: center;
          }

          .title {
            display: grid;
            align-items: center;
            color: $color-main;
            height: 50%;
            padding-top: auto;
            text-align: center;
          }

          .ButtonSVG {
            font-size: unset;
            position: relative;
            border: unset;
            border: 2px solid $color-main;
            border-radius: 6px;
            background-color: rgba($background-alt1, 0.9);
            color: $color-main;

            &.remove {
              background-position: 50% 50%;
              background-size: 70% 70%;
              background-repeat: no-repeat;
            }
          }
        }

        .Icon {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 15%;
          margin: 0 5%;
        }

        .properties {
          display: none;
        }

        &.PendingOpen,
        &.PendingExecInit {
          pointer-events: none;
          opacity: 0.35;
        }

        &.no-items {
          display: none;
        }

        &.mapped-node {
          background-color: $background-main;
        }

        &.item-markdown {
          margin-left: 0;
          margin-right: 0;
          border: none;
        }

        &.Selected {
          .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.Executable {
          .Icon {
            background: url(../../../assets/images/icons/lightning.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
        }

        &.Device {
          .Icon {
            background: url(../../../assets/images/icons/device.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
        }

        &.Succeeded {
          background-color: $node-success;
        }

        &.Failed {
          background-color: $node-fail;
        }

        &.PendingOpen {
          //           @keyframes rotate {
          //             from {
          //               transform: rotate(0deg);
          //             }
          //             to {
          //               transform: rotate(360deg);
          //             }
          //           }
          //
          //           .Icon {
          //             background: url(../../../assets/images/icons/pending.png);
          //             background-size: contain;
          //             background-position: center;
          //             background-repeat: no-repeat;
          //             animation-name: rotate;
          //             animation-duration: 1s;
          //             animation-timing-function: linear;
          //             animation-iteration-count: infinite;
          //           }
        }

        &.Executing {
          .ProgressBar {
            display: block;
          }
        }

        &.PendingExecInit {
        }

        &.Executing {
        }

        @keyframes loading-animation {
          from {
            background-position-x: 0;
          }
          to {
            background-position-x: 40px;
          }
        }

        .ProgressBar {
          display: none;
          background-image: linear-gradient(
            -45deg,
            $loading-1 25%,
            $loading-2 25%,
            $loading-2 50%,
            $loading-1 50%,
            $loading-1 75%,
            $loading-2 75%,
            $loading-2 100%,
            $loading-1 100%
          );
          background-size: 40px 40px;
          animation-name: loading-animation;
          animation-duration: 0.75s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }

        &.node-creator {
          background-color: $background-alt2;
          overflow: hidden;

          .wrapper {
            overflow: hidden;

            .title {
              transform: scale(1.75);
              overflow: hidden;
            }
          }
        }

        &.faded {
          transform: scale(0.97);
          filter: grayscale(0.75);
          pointer-events: none;
        }
      }

      .page-number {
        display: none;
      }
    }

    .actions {
      display: none;
    }
  }

  /* -- MAP | POINTERS -- */

  .pointers {
    position: relative;
    z-index: $z-index-objective-map-pointers;
    border: 2px solid transparent;
    stroke: rgba($color-main, 1);
    // marker {
    //   polygon,
    //   circle {
    //     fill: rgba($color-accent-light, 1);
    //     stroke: none;
    //   }
    // }
  }

  @media only screen and (max-width: 275px) {
    width: 30%;
  }
}
