@import 'src/assets/styles/config.scss';

.NodeActions {
  box-sizing: border-box;
  overflow-x: hidden;
  z-index: 100;
  margin: 0 auto;
  width: 350px;
  height: fit-content;
  border: 2px solid $color-main;
  box-shadow: $box-shadow-alt2;
  padding-bottom: 15px;

  .Close {
    width: calc(100% - 10px);
    margin: 0;
    padding: 10px 10px 10px 0;
  }

  .PromptDisplayText {
    font-size: 0.95em;
    margin: 5px 0;
    height: fit-content;
    margin: 0 15px 25px 20px;
  }

  .NoActions {
    color: $terminal-red;
    margin: 0;
    margin: 0 15px 25px 20px;
  }

  .NodeActionDefault {
    width: 75%;
    margin: 20px 15px 1px 20px;
    box-shadow: $box-shadow-alt2;
    border: 2px solid $color-main;
    vertical-align: center;

    &.NodeActionDefault:hover {
      cursor: pointer;
      background-color: $background-alt2;
    }

    .DefaultText {
      display: grid;
      align-items: center;
      grid-template-columns: auto 40px;
      margin: 5px 0 5px 10px;
      color: $color-accent-light;
      height: auto;
      user-select: none;

      .ArrowDown {
        position: relative;
        width: 35px;
        height: 22px;
        color: $color-accent-light;
        font-size: 2em;
        transform: rotate(180deg);
      }

      .ArrowUp {
        text-align: right;
        width: 35px;
        height: 22px;
        color: $color-accent-light;
        font-size: 2em;
      }
    }
  }

  .NodeActionList {
    display: grid;
    grid-template-columns: 100%;
    place-content: start;
    width: 75%;
    border: 2px solid $color-main;
    box-shadow: $box-shadow-alt2;
    height: auto;
    max-height: 140px;
    overflow-y: auto;
    margin: 0 15px 0 20px;

    &::-webkit-scrollbar {
      width: 15px;
    }

    .NodeActionContainer {
      width: 100%;

      .NodeAction {
        width: 90%;
        padding: 5px 0 5px 10px;
        color: $color-accent-light;
        list-style-type: none;
        text-decoration: none;
      }

      &.Disabled {
        pointer-events: none;
        user-select: none;

        &:hover {
          pointer-events: none;
          user-select: none;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: none;
        background-color: $background-alt2;
      }
    }
  }
}
