@import '~assets/styles/config.scss';

.OutputPanel {
  .BorderBox {
    width: 100%;
    height: 100%;
    border: 2px solid $color-main;
    overflow: auto;
    box-sizing: border-box;
  }

  .TextArea {
    padding: 15px;
    margin: 0;
  }
}
