@use 'metis/client/assets/styles/config.scss' as *;

.SvgPanelElement.StepperSvg {
  display: flex;
  column-gap: 1em;
  min-width: 2em;

  .StepDown,
  .StepUp {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.25em;

    .Icon:hover {
      color: $color-accent;
    }
  }

  .Text {
    opacity: 0.65;
    background-color: transparent;
    color: white;
    line-height: 2em;
    font-size: 0.85em;
  }
}
