@use '../../../../../assets/styles/config.scss' as *;

.Grid {
  $grid-color: rgba($color-primary-light, 0.16);
  $grid-line-width: 0.0015em;

  width: 20000px;
  height: 20000px;

  &.NodeGrid {
    background-image: linear-gradient(
      to right,
      $grid-color 0 $grid-line-width,
      transparent 2px calc(100% - #{$grid-line-width}),
      $grid-color calc(100% - #{$grid-line-width}) 100%
    );
    background-position: center;
    background-repeat: repeat;
  }

  &.EmGrid {
    // Draw grid.
    background-image: linear-gradient(
        to right,
        $grid-color 0 $grid-line-width,
        transparent 2px calc(100% - #{$grid-line-width}),
        $grid-color calc(100% - #{$grid-line-width}) 100%
      ),
      linear-gradient(
        to bottom,
        $grid-color 0 $grid-line-width,
        transparent 2px calc(100% - #{$grid-line-width}),
        $grid-color calc(100% - #{$grid-line-width}) 100%
      );
    background-position: center;
    background-repeat: repeat;
  }
}
