@use '../../../../../assets/styles/config.scss' as *;
@use '../mixins.scss' as *;

.Line {
  background-color: $color-primary-light;
  box-sizing: content-box;

  // Make the line have a top-left origin so that
  // it's positioned based on its starting position.
  @include uncentered-origin;
}
