@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';
@import '../mixins.scss';

.Scene {
  .MissionNode {
    $text-fade-transition: background-color 300ms ease-in-out;
    $pending-transition: opacity 200ms ease-in-out;

    @include mission-node-like;

    // Set box-sizing to content-box to
    // help with font size calculations
    // in JS.
    box-sizing: content-box;

    // Enable pointer events for nodes,
    // since they can be interacted with.
    pointer-events: all;

    // Make the origin of the scene object the
    // top center of the node.
    transform: translate(-50%, -0%);

    // Add a transition to the background for
    // when the text comes in and out of view.
    transition: $text-fade-transition;

    background-color: $color-secondary;

    &.Selectable {
      // Change the cursor to pointer if
      // the node can be selected.
      cursor: pointer;
    }

    &.Selected {
      @include background-mask;
    }

    &.Opened {
      border-right-style: dashed;
    }

    &.Executable {
      .Icon {
        // If the node is executable, show the
        // lightning icon.
        background-image: url(../../../../../assets/images/icons/lightning.svg);
      }
    }

    &.Device {
      .Icon {
        // If the node is a device, show the
        // device icon. This will overwrite the
        // lightning icon.
        background-image: url(../../../../../assets/images/icons/device.svg);
      }
    }

    &.Executing {
      // pointer-events: none;

      .ProgressBar {
        // If the node is executing, show the
        // progress bar.
        display: block;
      }
    }

    &.Successful {
      background-color: $color-success-dark;
    }

    &.Failed {
      background-color: $color-failure-dark;
    }

    &.PendingOpen,
    &.PendingExecInit,
    &.PendingOutputSent {
      pointer-events: none;
      opacity: 0.35;
    }

    &.Blocked {
      $blocked-cursor: not-allowed;
      $user-select: none;
      // Initial and final opacity values for
      // the transition to the blocked state.
      $init-opacity: 1;
      $final-opacity: 0.5;
      // Initialize the linear gradient background
      // image for the blocked state.
      $init-grad-color: rgba($color-accent-light, 0);
      $init-fill: transparent 0% calc(50% - 1px),
        $init-grad-color calc(50% - 1px) calc(50% + 1px),
        transparent calc(50% + 1px) 100%;
      $init-linear-grad1: linear-gradient(to bottom right, $init-fill);
      $init-linear-grad2: linear-gradient(to bottom left, $init-fill);
      $init-background-image: $init-linear-grad1, $init-linear-grad2;
      // Finalize the linear gradient background
      // image for the blocked state.
      $final-grad-color: rgba($color-accent-light, $final-opacity);
      $final-fill: transparent 0% calc(50% - 1px),
        $final-grad-color calc(50% - 1px) calc(50% + 1px),
        transparent calc(50% + 1px) 100%;
      $final-linear-grad1: linear-gradient(to bottom right, $final-fill);
      $final-linear-grad2: linear-gradient(to bottom left, $final-fill);
      $final-background-image: $final-linear-grad1, $final-linear-grad2;

      // Define the blocked animation
      @keyframes blocked {
        0% {
          background-image: $init-background-image;
          opacity: $init-opacity;
          user-select: $user-select;
          cursor: $blocked-cursor;
        }
        100% {
          background-image: $final-background-image;
          opacity: $final-opacity;
          user-select: $user-select;
          cursor: $blocked-cursor;
        }
      }

      // Initial styles for the blocked state
      opacity: $init-opacity;
      user-select: $user-select;
      cursor: $blocked-cursor;

      // Transition to the blocked state
      animation: blocked 1s ease-in-out forwards;
    }

    &.Blurred {
      pointer-events: none;
      opacity: 0.4;
    }

    // Add a transition out of the pending
    // open state.
    &:not(.PendingOpen):not(.PendingExecInit):not(.Executing) {
      transition: $text-fade-transition, $pending-transition;
    }

    .ProgressBar {
      // Animation to give the progress bar a conveyor
      // belt effect.
      @keyframes loading-animation {
        from {
          background-position-x: 0;
        }
        to {
          background-position-x: 40px;
        }
      }

      @keyframes progress-animation {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }

      // Disable any mouse events on progress
      // bar as it's purely visual.
      pointer-events: none;

      // Hide the progress bar by default.
      display: none;

      $color-1: $color-neutral-dark;
      $color-2: lighten($color-neutral-dark, 5%);

      background-image: linear-gradient(
        -45deg,
        $color-1 25%,
        $color-2 25%,
        $color-2 50%,
        $color-1 50%,
        $color-1 75%,
        $color-2 75%,
        $color-2 100%,
        $color-1 100%
      );
      background-size: 40px 40px;
    }

    .Name {
      // Position the name.
      @include center-origin-y;
      top: 50%;
      left: 5%;

      // Let height be automatic.
      height: unset;

      text-align: left;
      word-break: break-word;
    }

    .Icon {
      // Position the icon.
      @include center-origin-y;
      top: 50%;
      right: 6.5%;

      // Let height be automatic.
      height: 100%;

      // Make the icon 15% of the width of the
      // node.
      width: 12%;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .Buttons {
      bottom: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      column-gap: 0.1em;

      .ButtonSvg {
        position: unset;
        margin: 0;
        width: 0.325em;
        height: 0.325em;
        font-size: unset;
        border: min(1px, 0.075em) solid rgba($color-primary-light, 0.65);
        border-radius: 0;
        background-color: rgba($color-accent-dark, 0.9);
        background-position: 50% 50% !important;
        background-size: 60% !important;
        background-repeat: no-repeat !important;
        color: $color-primary-light;
      }
    }
  }
}
