@import '../../../../../assets/styles/config.scss';
@import '../mixins.scss';

.Scene {
  .MissionPrototype {
    $text-fade-transition: background-color 300ms ease-in-out;
    $pending-transition: opacity 200ms ease-in-out;

    // Set box-sizing to content-box to
    // help with font size calculations
    // in JS.
    box-sizing: content-box;

    // Enable pointer events for nodes,
    // since they can be interacted with.
    pointer-events: all;

    // Make the origin of the scene object the
    // top center of the node.
    transform: translate(-50%, -0%);

    // Default color, overridden by the
    // color of the node iteself in the
    // mission.
    border-color: $color-main;
    border-width: min(2px, 0.075em);
    border-style: solid;

    // Add a transition to the background for
    // when the text comes in and out of view.
    transition: $text-fade-transition;

    background-color: $background-main;

    .Name {
      // Position the name.
      @include center-origin-y;
      top: 50%;
      left: 5%;

      // Let height be automatic.
      height: unset;

      text-align: left;
      word-break: break-word;
    }
  }
}
