@import 'src/assets/styles/config.scss';
@import 'src/assets/styles/util.scss';
@import '../mixins.scss';

.Scene {
  .MissionPrototype {
    $text-fade-transition: background-color 300ms ease-in-out;
    $pending-transition: opacity 200ms ease-in-out;

    @include mission-node-like;

    // Set box-sizing to content-box to
    // help with font size calculations
    // in JS.
    box-sizing: content-box;

    // Enable pointer events for nodes,
    // since they can be interacted with.
    pointer-events: all;

    // Make the origin of the scene object the
    // top center of the node.
    transform: translate(-50%, -0%);

    // Add a transition to the background for
    // when the text comes in and out of view.
    transition: $text-fade-transition;

    background-color: $color-secondary;

    &.Selectable {
      // Change the cursor to pointer if
      // the node can be selected.
      cursor: pointer;
    }

    &.Selected {
      @include background-mask;
    }

    .Name {
      // Position the name.
      @include center-origin-y;
      top: 50%;
      left: 5%;

      // Let height be automatic.
      height: unset;

      text-align: left;
      word-break: break-word;
    }

    .Buttons {
      bottom: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      column-gap: 0.1em;

      .ButtonSvg {
        position: unset;
        margin: 0;
        width: 0.325em;
        height: 0.325em;
        font-size: unset;
        border: min(1px, 0.075em) solid rgba($color-primary-light, 0.65);
        border-radius: 0;
        background-color: rgba($color-accent-dark, 0.9);
        background-position: 50% 50% !important;
        background-size: 60% !important;
        background-repeat: no-repeat !important;
        color: $color-primary-light;
      }
    }
  }
}
